[2020-03-20 18:37] MajorBreakfast opened #461 "deploy_service example prefixes endpoint with https://"
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/025f8b7eae93651a2c23ef770654782222cd61b7/examples/deploy_service/main.tf#L28

Is adding `https://` in front actually needed? For me, `endpoint` contains just a string containing an IP and it works without the `https://` in front.

- If it's needed, I'd like to create a PR that adds a comment that explains why it's

[2020-03-20 18:45] morgante commented on #446
Try running `terraform state rm module.gke.null_resource.wait_for_cluster`.

[2020-03-20 19:25] bharathkkb commented on #461
@MajorBreakfast I dont think its needed; This example works file with out it.
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/025f8b7eae93651a2c23ef770654782222cd61b7/examples/workload_identity/main.tf#L28

[2020-03-20 20:15] morgante commented on #461
Yeah I think it's fine with or without it. Happy to accept a PR removing it.

[2020-03-22 11:43] dborisenko commented on #459
Hey guys, I managed to solve that problem. It appeared that my provisioner dropped some roles, which are required for GKE to work properly. In particular,

- `serviceAccount:service-${project-number}@compute-system.iam.gserviceaccount.com` must be `roles/compute.serviceAgent`

- `serviceAccount:service-${project-number}@container-engine-robot.iam.gserviceaccount.com` must be `roles/compute.service

[2020-03-22 11:43] #459 closed

[2020-03-23 10:52] laithrafids commented on #332
guys , any news on this ? or fork it ?

[2020-03-23 14:49] morgante commented on #332
@laithrafids What's the issue you're seeing?

[2020-03-23 14:53] laithrafids commented on #332
no issue , i will delete my comment thanks

[2020-03-23 14:54] morgante commented on #332
Ok good. Just to confirm, module should work fine with Istio. If anyone sees otherwise, please do comment and we will reopen.

[2020-03-23 14:54] #332 closed

[2020-03-24 09:31] Dev25 commented on #428
This is no longer blocked, [3.14](https://github.com/terraform-providers/terraform-provider-google/releases/tag/v3.14.0) was released yesterday that includes a `dns_cache_config` field.

[2020-03-25 20:40] mouglou commented on #458
got the same here ;)
thanks @bharathkkb . will wait for the update.

[2020-03-27 04:06] ceefit opened #467 "Not finding correct subnet"
When I specify a subnetwork for a `google_container_cluster`, the address that subnet can be found at is not where Terraform reports where it's looking.

As such, Terraform is unable to create the cluster.

The correct link to my subnetwork is:  `projects/my-project/regions/us-east1/subnetworks/my-subnetwork`

The error reported back from Terraform is:
`Error: googleapi: Error 400: Subnet "project

[2020-03-27 04:09] ceefit commented on #467
Scratch that, if I use the self_link it works exactly as expected. Disregard!

[2020-03-27 04:09] #467 closed

[2020-03-27 05:37] #461 closed

[2020-03-27 06:46] #455 closed

[2020-03-30 23:06] #457 closed

[2020-03-31 00:21] sebastianortizs4n commented on #457
Thanks!

[2020-03-31 15:02] haf commented on #452
1000+ for this; https://github.com/kubernetes/kubernetes/issues/79739#issuecomment-564794016

[2020-04-02 10:11] sebastianneb opened #472 "Error with shared VPC network after upgrading to 7.3.0"
Hallo everyone!

Terraform version: `0.12.23`.

After upgrading from `7.2.0` to `7.3.0` we get an error when applying a GKE cluster in a shared vpc host project environment.

The following code is the minimum I can give you (I deleted some details). The service account was created separately and has all necessary rights (like networkUser on the xpn and the subnet and all other needed rights for lo

[2020-04-02 11:17] zolech commented on #472
I had this problem on 6.0.0 and this post helped me to resolve it https://github.com/terraform-providers/terraform-provider-google/issues/1711#issuecomment-420484808

[2020-04-02 11:20] zolech commented on #446
I can confirm that manualy removing state as mentioned above resolved this issue.

[2020-04-02 11:20] sebastianneb commented on #472
We tried that as well. The serviceAccount that we use to deploy the cluster, as well as the service-account for the GKE, had networkUser (and even when we tried out owner) rights on the xpn and on the specific subnet as well. We were still not able to solve the issue with `7.3.0`

[2020-04-02 11:26] zolech commented on #472
Let's clarify.

Did you set `roles/compute.networkUser` on `somename@container-engine-robot.iam.gserviceaccount.com` in you vpn host project?

Or did you set this role on GKE service account in your gke project.

The reason I am asking is because I did the second thing and it was a mistake. The first one resolved the issue.

[2020-04-02 11:30] sebastianneb commented on #472
We (as recommended by i.e. google-project-factory) disabled the default service account of each project, and therefore also in the shared vpc project.

But to clarify: No, I did not grant `roles/compute.networkUser` to `somename@container-engine-robot.iam.gserviceaccount.com` because we simply do not need it and the service account is nevertheless disabled. Happy to try out if that works but I sti

[2020-04-02 11:34] zolech commented on #472
No I don't know that, I am just a simple users that stumbled uppon this issue.

Ok, but default service account is not being used here.

This is weird to me because this account is needed to provision GKE on shared vpc network.

[2020-04-02 11:36] sebastianneb commented on #472
Ah sorry then, I thought you might know ;)

We don't need the default service account since we tell GKE (and all node pools) to use the already created service account, which has all necessary rights. So If am not wrong you do not need the default compute service account if you provide one.

[2020-04-02 11:45] zolech commented on #472
I also tried to deploy new pool manualy by google console and also get this problem, not only with terraform. That is why I started to search for permissions problem on my service accounts.

[2020-04-02 12:42] c4m4 opened #473 "service role/resourceMetadata.writer missing"
the pod agent stackdriver-metadata-agent-cluster-level in kube-system namespace sometimes crash because doesn't has any permissions to write the metadata:

[code]

[2020-04-02 15:40] morgante commented on #472
Unfortunately I don't think this is a bug and I'm not sure how it was ever working for you actually.

This is required, please add it. To clarify, there are two service accounts involved in the GKE cluster:
- The *node* service account. This is the custom service account you've specified and used (by default, this would be the Compute Engine service account).
- The GKE service account (somename@co

[2020-04-03 06:13] bharathkkb commented on #473
I believe this might be an issue due to lack of these particular permissions
- logging.logEntries.create
- monitoring.metricDescriptors.list
- monitoring.timeSeries.create

I will try to recreate and possibly fix. Feel free to open a PR  if you get around to it first.

[2020-04-06 17:55] anne-nelson commented on #446
The 7.0 upgrade guide should be updated to reflect this.

[2020-04-06 19:54] morgante commented on #446
Added a note here - https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/475

[2020-04-07 03:25] morgante commented on #458
The beta module itself will never go GA: it's designed to capture functionality/features which are in beta.

Instead, individual features/flags are promoted to the GA module when they reach maturity.

[2020-04-07 17:32] sebastianneb commented on #472
Sorry for the delayed response. I was reading through some docs and can confirm, that we need those roles that you mentioned @morgante. I checked that and as it turned out, the project-factory terraform module already created these bindings. So I actually had and still have `roles/networkUser` for `service-${projectNumber}@container-engine-robot.iam.gserviceaccount.com` assigned in the host projec

[2020-04-07 17:32] #472 closed

[2020-04-08 17:31] thomas-riccardi commented on #316
https://github.com/terraform-providers/terraform-provider-google/commit/a646d86669acdf34eedf8515521a3bf56d8b0c4b is now included in `google` 3.16.0.

Also, would it be possible to make `enable_network_egress_metering` configurable (which is set to true here whereas in the provider it defaults to false)? (And maybe `enable_resource_consumption_metering` too for completeness).

[2020-04-08 17:36] bharathkkb opened #478 "Enable peering_name for private clusters"
Enable passing `peering_name` as an argument in the `private_cluster_config` https://www.terraform.io/docs/providers/google/r/container_cluster.html#peering_name

[2020-04-08 18:08] dhdersch opened #479 "Beta variants broken due to bug with google-beta provider"
Hello,

It appears that using the data source `google_compute_zones` no longer works for the `google-beta` provider (though it does work for the `google` provider).

I am using the `beta-private-cluster-update-variant` to deploy a cluster, but I get this error:

[code]

The service account I am using definitely has these permissions on the project. I tested using `gcloud beta zones list --project

[2020-04-08 18:14] morgante commented on #479
Please file an issue on the provider, as I suspect this is probably either a provider bug or an issue with your SA permissions.

[2020-04-08 18:16] rileykarson commented on #478
`peering_name` is a read-only field: https://github.com/terraform-providers/terraform-provider-google-beta/blob/master/google-beta/resource_container_cluster.go#L766-L769

(a configurable field will be marked optional or required)

[2020-04-08 18:17] dhdersch commented on #479
The provider `google-beta` does not seem to have a place to file issues.

[2020-04-08 18:27] morgante commented on #479
You can file issues on the main repo for both: https://github.com/terraform-providers/terraform-provider-google/issues

[2020-04-08 18:28] #429 closed

[2020-04-08 18:29] dhdersch commented on #479
For anyone that runs into this (until the `google-beta` provider is fixed), my workaround is as follows:

Go to the .terrafrom/modules repo and find the appropriate module and change the following code in `main.tf` from

[code]

to the following:

[code]

Which allowed my `plan` and `apply` to proceed.

[2020-04-08 18:44] morgante commented on #479
Since it's such an easy fix, I opened up a quick PR: #480

[2020-04-08 18:54] dhdersch commented on #479
Hey @morgante , I actually think your original assessment was correct. It seemed to be a service account issue on my end.

[2020-04-08 18:54] #479 closed

[2020-04-08 18:58] morgante commented on #479
@dhdersch Thanks for confirming.

[2020-04-08 19:28] bharathkkb commented on #478
Ah good catch :) looks like I missed the read-only part
I will circle back with the user who needed this

[2020-04-08 19:28] #478 closed

[2020-04-10 01:56] bharathkkb opened #483 "Surface peering_name as an output for private gke modules"
Surface `peering_name` as an output for private gke modules inorder to pass it to `google_compute_network_peering_routes_config` and [support this use case](https://www.terraform.io/docs/providers/google/r/compute_network_peering_routes_config.html#example-usage-network-peering-routes-config-gke).

[2020-04-10 04:25] bharathkkb commented on #473
I was able to recreate this issue and the fix turned out to be adding this role `roles/stackdriver.resourceMetadata.writer` as recommended at the bottom of [this page](https://cloud.google.com/monitoring/kubernetes-engine/observing). I will add this binding as part of the service account creation.

[2020-04-10 07:02] jmymy commented on #458
was added in latest release

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/releases/tag/v8.0.0

[2020-04-10 07:11] #473 closed

[2020-04-10 14:24] #458 closed

[2020-04-10 14:38] #483 closed

[2020-04-13 08:48] skinlayers opened #486 "safer-cluster-update-variant always forces upgrade to latest GKE version."
Transfered from https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/451

@morgante I traced this out last week, and found that it does not appear to conform to the GKE hardening recommendations.

https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#upgrade_your_infrastructure_in_a_timely_fashion_default_2019-11-11

"CIS GKE Benchmark Recomme

[2020-04-13 20:42] sebastianortizs4n commented on #428
This change always forces replacement of the cluster, even when is set to false and is also disabled on the cluster. This should not happen... Is the same configured value.

[2020-04-13 20:44] morgante commented on #428
This seems like a bug in the provider, but we could probably make it a dynamic block.

[2020-04-13 20:48] sebastianortizs4n commented on #428
@morgante  this is it, is solved already https://github.com/terraform-providers/terraform-provider-google/issues/6031

[2020-04-13 21:35] sebastianortizs4n commented on #428
The solution use `google-beta` provider 3.17.0

[2020-04-14 08:09] gcamus59 commented on #316
Thanks, I'll work on it this week and I will craft a pull request.

[2020-04-14 14:35] #393 closed

[2020-04-14 14:39] morgante commented on #428
Just to confirm, it sounds like this is fixed if you upgrade to the latest provider version?

In that case I'm going to close this issue.

[2020-04-15 08:02] sebastianneb opened #489 "identity_namespace output is "enabled" instead of [project_id].svc.id.goog for beta-private-cluster"
We are using module version `8.1.0` and when I create a beta-private-cluster with the default `identity_namespace = "enabled"` the output value of `identity_namespace` is also `"enabled"`. I would expect `[project_id].svc.id.goog` as output here. Any opinions on this? Happy to issue a PR if needed :)

[2020-04-15 14:24] morgante commented on #489
Yeah looks like a bug in the [output](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/main/outputs.tf.tmpl#L170). Just need to update it to point to the actual value from the cluster.

[2020-04-15 15:37] jmymy commented on #428
I am still seeing this behavior on an existing cluster with nodelocal cache disabled.

[code]

[2020-04-15 15:48] jmymy commented on #428
according to the repo, the fix didnt make it in the v3.17.0 release
https://github.com/terraform-providers/terraform-provider-google-beta/blob/v3.17.0/google-beta/resource_container_cluster.go#L263

[2020-04-15 16:15] sebastianortizs4n commented on #428
Ohh man, sorry about that. What I did was enabled it through the gcloud web, changed the config to true, removed the cluster from the state and import it again.

[2020-04-15 16:29] morgante commented on #428
If someone does want to switch this in the module by updating to a dynamic block, I'm happy to review/merge.

[2020-04-16 09:23] sebastianneb opened #490 "Beta clusters don't automatically enable Workload Identity"
When using a beta private cluster in version `8.1.0` identity namespace gets enabled by default, but not workload identity.

We delete the default node-pool after creation and use a node pool with the following basic settings:
[code]

When looking at the GCloud UI, we can see, that identity namespace for the cluster is set. Looking at the node pool we can see, that Security -> Enable GKE Metadata

[2020-04-16 14:38] morgante commented on #490
Good point. I think we can change the node pool default to `GKE_METADATA_SERVER` if workload identity is enabled.

[2020-04-17 16:15] jmymy commented on #428
I asked on the original PR and they said it’ll be fixed in the 3.18 release

[2020-04-21 09:36] jmymy commented on #428
looks like it made it.. will test tomorrow
 https://github.com/terraform-providers/terraform-provider-google-beta/releases/tag/v3.18.0

[2020-04-23 14:59] #452 closed

[2020-04-24 18:57] dpatrick opened #494 "Failures on plan/apply with imported clusters"
Hi team

I'm having problems when attempting to import clusters that were created outside of this module (via a previous in-house module). The import statement succeeds, but when attempting to run terraform plan or terraform apply, it errors out with invalid index.

I'm using the `beta-private-cluster-update-variant module v8.1.0`

And the exact errors I get are (with real cluster info removed)

[

[2020-04-24 19:24] bharathkkb commented on #494
Hi @dpatrick
I can try to repro. Could you share the following?
- An example config of how you are using `beta-private-cluster-update-variant module`
- The GKE version of your imported cluster
- The google provider version
- Do you have `http_load_balancing` and `horizontal_pod_autoscaling` currently enabled or disabled on your imported cluster

[2020-04-24 19:56] dpatrick commented on #494
@bharathkkb  Thanks for the quick response!

- The cluster is GKE version 1.14.10-gke.31
- Using Google provider version 3.14.0 (both beta and regular)
- `http_load_balancing` and `horizontal_pod_autoscaling` are both currently enabled on the cluster

I'm calling the module like below (with some internal identifierschanged)
[code]

[2020-04-27 16:16] morgante opened #495 "Change default for node pools to e2"
E2 VMs are more efficient with a [lower TCO](https://cloud.google.com/blog/products/compute/google-compute-engine-gets-new-e2-vm-machine-types). We should change the default for node pools to use e2-medium VMs.

[2020-04-27 18:10] bharathkkb opened #496 "Remove old unused CI configs"
Since we no longer use [these](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/test/ci) CI configs, we should remove them.

[2020-04-27 18:27] dpatrick commented on #494
I dug a little deeper on this and took a look at the state file. It looks like the error is correct that these objects are empty in the state. From the state file...
[code]

For the sake of testing, I manually edited `http_load_balancing` and `horizontal_pod_autoscaling`  to have object config which would match their current state, but terraform still complains with the same error.  That leads me

[2020-04-27 19:59] bharathkkb commented on #494
@dpatrick so I tried to reproduce, but I was unable to. I can successfully import it via
`terraform import module.gke.google_container_cluster.primary projects/test-gke-import-issue/locations/us-central1/clusters/my-cluster-2` and then run a plan which did not complain. My imported state file addons look like this
[code]
Could you try running a gcloud command and see what the json representation l

[2020-04-27 20:17] dpatrick commented on #494
Hmm... weird that you were unable to reproduce. When running the gcloud describe I actually don't see either of those two addons in the output there either.
[code]

To my great shock, using target worked; It successfully planned. It wants create the available zones and service account suffix resources in addition to changing the cluster. I'm going to continue down the target road and see if I can'

[2020-04-27 22:06] skinlayers commented on #486
Resolved by https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/487

[2020-04-27 22:06] #486 closed

[2020-04-28 00:38] bharathkkb commented on #494
Great, I think after the targeted apply google_container_cluster.primary.addons_config[0].http_load_balancing will no longer be an empty list; lmk how it goes.
It's also really odd that the API itself is not returning those keys.

[2020-04-28 01:55] dpatrick commented on #494
Definitely really weird. I actually have three clusters that were created with the old terraform plan and all three exhibit this same behavior upon import into this module. My first cluster I was able to target (and manually modify to enable release channels via the beta commands) successfully and a plan output no longer sees any changes. No need to recreate, it added the missing addon config bloc

[2020-04-28 01:58] #494 closed

[2020-04-28 02:29] championj-foxtel opened #498 "kubernetes_service_account.main is empty tuple"
After using terraform-google-modules/kubernetes-engine/google//modules/workload-identity for a few weeks I can no longer run terraform commands due to the below issue:

[code]

I can't find any indication why this element is now empty; we invoke this module like so:

[code]

As it is now failing any of the jobs that have a workload-identity set up to run cannot be modified or provisioned. I have t

[2020-04-28 02:29] bharathkkb commented on #494
Glad to hear it worked out :)

[2020-04-28 02:36] bharathkkb commented on #498
@championj-foxtel Can you check in the statefile if kubernetes_service_account.main exists?

[2020-04-28 03:01] championj-foxtel commented on #498
Hi I am not overly familiar with statefiles but I believe this is the entry (I have replaced some values with module-name again where it was specific to our deployment):

[code]

[2020-04-28 19:40] bharathkkb commented on #498
it does look like `kubernetes_service_account.main[0].metadata[0].name` exists. Could you try a targeted plan and see what's the output?
`terraform plan -target=module.module-name.kubernetes_service_account.main`

[2020-04-29 04:36] championj-foxtel commented on #498
@bharathkkb This issue appears to have been intermittent .. I have been able to run the above and previously failing plans today without errors. Would be good to know what may have caused this but it seems to have resolved itself now.

Output anyway:
[code]

[2020-04-29 05:54] bharathkkb commented on #498
Okay, I wonder if it could have been the k8s control plane being unavailable during that Terraform run and hence failing. Next time when it happens a good way to debug would be to see if you can
- try `kubectl get secrets` on that cluster to see if you can list that workload identity secret
- try what happens with this targeted plan

Closing this for now, feel free to re open if this happens again

[2020-04-29 05:54] #498 closed

[2020-04-29 06:54] bharathkkb commented on #490
@sebastianneb Happy to review the PR if you are working on this.

[2020-04-29 07:05] bharathkkb commented on #428
@jmymy has this been resolved?
We may need to look applying this workaround to make it dynamic if it is still persisting.
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/497#discussion_r416106688

[2020-04-29 07:31] jmymy commented on #428
is fixed. just tested

[2020-04-29 08:09] #428 closed

[2020-04-29 19:58] sebastianneb commented on #489
I was just able to get all tests working on my machine and would love to fix this. So therefore a question popped up:

* What is the rational of having the [workload identity configuration block](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/d96afa79fa97f88e8866b54c46c253efd9481ec5/autogen/main/cluster.tf.tmpl#L268) as `dynamic`. Currently there is only one wo

[2020-04-29 19:59] sebastianneb commented on #490
Just got the tests working on my machine and will quickly adapt those tomorrow and issue a PR here :)

[2020-04-29 20:05] morgante commented on #489
It's dynamic because workload identity can be disabled. In such cases we omit the block entirely. The block should be kept as-is (dynamic).

We shouldn't change the output much either. There's no need to make it a list.

This should work fine:
[code]

[2020-04-29 20:35] sebastianneb commented on #489
Fine with me. Will adjust the output tomorrow and try to add a test for it. Will issue the PR once it's ready and I've played around with tests a bit.

[2020-04-30 15:38] #496 closed

[2020-05-01 22:27] james-mcgoodwin opened #501 "enable_shielded_nodes variable does not enable Secure Boot in beta-private-cluster module"
We are using the beta-private-cluster to instantiate our GKE clusters, and are trying to satisfy the CIS GKE Control 6.5.7 ("Ensure Secure Boot for Shielded GKE Nodes is Enabled")

When we set enable_shielded_nodes = true, this activates the Shielded Node feature in the cluster, but our expectation was that this would also enable Secure Boot.

This seemed to be part of the discussion in https://gi

[2020-05-01 22:36] morgante commented on #501
Please file a bug on the provider, as there's nothing we can do on the module if there's not an option for managing secure boot on the provider.

[2020-05-02 11:39] Dev25 commented on #501
There is a `shielded_instance_config` via the provider that we can set via dynamic block.

By default secure boot isn't enabled when you enable shielded nodes because it can block certain workloads so we probably want to expose `enable_secure_boot` in this module to enable that.

https://www.terraform.io/docs/providers/google/r/container_cluster.html#shielded_instance_config

Secure Boot helps ens

[2020-05-02 19:23] bharathkkb opened #502 "Wrong cluster_endpoint output with enable_private_endpoint=false"
**Summary:**
For safer cluster/beta-priv-cluster, we seem to be outputting the private endpoint even when `enable_private_endpoint = false`.
Other configs are set by the safer cluster like  `enable_private_nodes = true, deploy_using_private_endpoint=true` which is evaluated in [this condition](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/36d3066912186e197e86a

[2020-05-02 21:56] bharathkkb opened #503 "Expose gce_pd_csi_driver for Safer Cluster modules"
With #497 we have GCE PD CSI Driver beta support in `beta-private` modules. We should consider exposing this in the `safer-cluste`r modules with a default enabled as it brings new security features like CMEK for GKE PD
Additional Info:

-  https://cloud.google.com/blog/products/containers-kubernetes/exploring-container-security-use-your-own-keys-to-protect-your-data-on-gke
- https://cloud.google.c

[2020-05-03 04:23] c0ffeec0der opened #504 "Cluster with shielded node enabled, creates node pool with secure boot disabled"
- Description:
Cluster with shielded node enabled, creates node pool with secure boot disabled. My understanding. it should be enabled.

- How to recreate:
1. Implement module "beta-private-cluster-update-variant"
2. Set parameter:
    - enable_shielded_nodes       = true
3. Observe generated node pool, secure boot parameter = disabled

- Expected outcome:
Secure boot parameter = enabled

- Ration

[2020-05-03 04:36] #504 closed

[2020-05-03 04:40] morgante commented on #501
@Dev25 Thanks for the missing connection, I should've checked the docs. This does seem like a good addition.

I suggest we add an `enable_secure_boot` variable.

[2020-05-03 11:06] c0ffeec0der opened #505 "Error executing wait-for-cluster.sh from windows system"
- Description:
Error executing wait-for-cluster.sh from windows system

- Error message:
module.kubernetes-engine_beta-private-cluster-update-variant.null_resource.wait_for_cluster[0]: Creating...
module.kubernetes-engine_beta-private-cluster-update-variant.null_resource.wait_for_cluster[0]: Provisioning with 'local-exec'...
module.kubernetes-engine_beta-private-cluster-update-variant.null_resourc

[2020-05-03 22:45] umairidris opened #507 "Document calico binary auth dependency for safer modules"
The safer cluster modules enable calico network policy agent.

When using binary authorization, the user must also whitelist `gcr.io/projectcalico-org/*`, else the GKE cluster will fail to come up and report missing CNI configs errors.

[2020-05-04 15:28] #489 closed

[2020-05-05 15:01] MartinPetkov opened #508 "grant_registry_access variable unused in safer-cluster"
In safer-cluster, the `grant_registry_access` variable is exposed but unused and set to true: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/5791ac1f64cbd9355a9e2ee96f29d1c5b8686d60/modules/safer-cluster/main.tf#L94

The variable should either be used and default to true, or removed.

[2020-05-05 17:15] #508 closed

[2020-05-06 06:54] #505 closed

[2020-05-06 14:26] sudipju opened #513 "request to know how to disable auto-upgrade of master by some parameter"
We are using your project for our to-be production cluster:
https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/7.3.0
We observe sometimes it takes 25 min to create the cluster but sometimes also around 3 minutes.

Long timeframe:

module.gke.google_container_cluster.primary: Still modifying... [id=projects/swish-2-poc2/locations/europe-west2/clusters/internal-l

[2020-05-06 17:17] morgante commented on #513
Hi I don't think this is related to the master *version* upgrade.

Instead I suspect it's based on GKE requiring the master instance be resized as your node pool size. Unfortunately there's no way to influence/control the master sizing via Terraform.

[2020-05-06 23:22] #490 closed

[2020-05-08 16:47] #45 closed

[2020-05-11 18:58] #503 closed

[2020-05-12 14:42] Jojoooo1 opened #517 "Support istio configuration"
Any plans on supporting istio configuration ?

Thanks a lot for your time.

Jonathan.

[2020-05-12 15:19] dmaasland opened #518 "maintenance_start_time not set for safer-cluster"
Hiya,

I'm trying to create a GKE cluster based on the safer-cluster module. Everything seems to be working, but the "maintenance_start_time" after creation stays at the default 05:00, as opposed to the 03:00 I've set it to. Perhaps I'm doing something wrong but I cannot find any other way of doing things. My current relevant config:

[code]

After applying the cluster ends up with:

[code]

What

[2020-05-12 16:07] morgante commented on #517
What sort of Istio config? The beta module allows you to enable the Istio addon.

[2020-05-12 16:11] Jojoooo1 commented on #517
Thanks I actually just saw it in the beta version. Closing the issue.

[2020-05-12 16:11] #517 closed

[2020-05-12 16:29] morgante commented on #518
Can you share your Terraform plan?

[2020-05-13 08:01] dmaasland commented on #518
Yes!

[plan.txt](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/files/4620501/plan.txt)
If I run plan after deploy -> "No changes. Infrastructure is up-to-date." If I change the time:
[code]

But the start time isn't shown as 03:00 on the GKE dashboard.

[2020-05-13 16:02] sdevang opened #519 "Fails with "gcloud command not found""
Hi,

I am running terraform apply from inside terraform cloud (inside the container) and it fails with following error.

[code]

My GKE config is,

[code]

[2020-05-13 16:10] morgante commented on #518
Hmm it looks like we're setting this correctly in the module - please file a bug on the provider.

[2020-05-14 01:22] bharathkkb commented on #519
Hi sdevang@
You can set `skip_provisioners=true` to skip those local exec provisioners.

@morgante thoughts on using the gcloud module to install gcloud on terraform cloud? Not sure if that is the right long term approach.

[2020-05-14 02:46] bharathkkb commented on #518
@morgante @dmaasland I believe this is working as intended. Please let me know if my testing is flawed.

The start time is based on [UTC](https://cloud.google.com/kubernetes-engine/docs/how-to/maintenance-windows-and-exclusions#maintenance-window) and I set `03:00` as the start time. GKE requires a 4-hour maintenance window. My GKE cluster UI showed `Maintenance window
From 10:00 PM to 2:00 AM
Dai

[2020-05-14 07:03] dmaasland commented on #518
O my god. It's UTC. Of course it's UTC. I somehow figured it would magically know what timezone I'm in and offset it to match. Doesn't help that "03:00" (what I'd set it to) matches the default "05:00" in my timezone.

It works just fine, I'm just an idiot. Thank you all for your swift replies.

I hate timezones.

[2020-05-14 07:03] #518 closed

[2020-05-14 07:49] sdevang commented on #519
@bharathkkb Thanks for the reply.

I did set skip_provisioner=true and it did work after that.

I also tried installing gcloud in terraform cloud using "terraform-google-modules/terraform-google-gcloud" but it did not help.

[2020-05-14 14:16] morgante commented on #519
Yeah we'd need to fix this in the module via #401. Closing for now.

[2020-05-14 14:16] #519 closed

[2020-05-14 16:41] cumrun opened #520 "Modify IP table rules when creating GKE cluster"
I have this need to add remove entries or update completly iptable rules in destination GKE cluster when using kubernetes-engine module.
i tried a couple of ways including ip masq options and none masq CIDRs and but no success yet.
possibly override feature of terraform helps but I do not want to use it as long as there is better option with module itself.

I use the root module and not sub module

[2020-05-14 16:51] morgante commented on #520
What's the IP table change you want to make?

[2020-05-14 17:51] cumrun commented on #520
there is an entry on table nat and IP-MASQ chain which prevent internal ip addresses of pods to be masquerade. I want to remove that one. it is something like this:
-A IP-MASQ -d 10.0.0.0/8 -m comment --comment "ip-masq: RFC 1918 reserved range is not subject to MASQUERADE" -j RETURN

why I need to masquerade internal IP of pods when traffic goes out of the node is because of following.
I installe

[2020-05-14 18:07] morgante commented on #520
Can you set `configure_ip_masq` to `true` and `ip_masq_link_local` to false?

[2020-05-14 18:14] cumrun commented on #520
If I don't say wrong, I did it already but no success.
I see again the above entry in IP-MASQ chain.
I will do it again and let you know the result.

[2020-05-14 18:43] cumrun commented on #520
I created a completely new cluster with application installed on it.Unfortunately the same situation after setting

configure_ip_masq = true
ip_masq_link_local = false

the same entry in IP-MASQ chain and everything the same.
As I said before I need to add an entry somewhere relevant and appropriate that when ip is pods internal IP and interface is INTERNAL_IP interface source IP be subject of mas

[2020-05-15 15:21] agadelshin opened #522 "When release_channel is enabled, min_master_version is malformed"
This issue is pretty much related to #412.

After we switched to 9.0.0 and enabled release_channel I see only one change in plan:

[code]

But this change returns

[code]

provider version is 3.21.0 (tried on 3.17.0)
gke module version is 9.0.0

[2020-05-15 15:44] morgante commented on #522
Interesting, this does indeed look like a bug though I suspect it might be in the provider as it *should* be possible to have a null min_master_version.

Can you see if it's possible to create a *new* cluster using your same config?

[2020-05-15 18:17] agadelshin commented on #522
@morgante thanks for suggestion, yes, I'll do this on Monday :)

[2020-05-18 02:08] jmymy commented on #501
The var already exists.

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/beta-private-cluster/cluster.tf#L385
[code]

Confirmed working with this config:

[code]

[2020-05-19 13:52] primeroz commented on #522
I am having the same issue with 8.1 and google provider 3.22 , creating a new cluster with `release_channel` set and `no version` work as expected , changing a cluster fail with the `malformed version` error on apply

To me it seems an issue when the provider try to update the state since, running with TF_LOG=debug, i can see the Cluster Update operation complete successfully and then the error

[

[2020-05-19 14:10] primeroz commented on #522
as a test i did

* terraform state rm CLUSTER
* terraform import CLUSTER PROJECT/REGION/CLUSTER

and now the min_master_version in the state is indeed `null`, terraform apply now works and even after apply

[code]

It does seem to be an issue only when Changing from a version to null in the state

[2020-05-19 14:47] morgante commented on #522
Thanks for opening a bug upstream. I'm going to close this so we can consolidate discussion there.

https://github.com/terraform-providers/terraform-provider-google/issues/6418

[2020-05-19 14:47] #522 closed

[2020-05-19 17:13] agadelshin commented on #522
thanks @primeroz!

[2020-05-20 08:50] c0ffeec0der commented on #501
Documentation updated in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/525

[2020-05-20 09:10] c0ffeec0der opened #526 "disk type = "pd-ssd". However with gce-csi = true result in storage class = pd-standard"
With:

gce_pd_csi_driver           = true
  node_pools = [
    {
      disk_type           = "pd-ssd"
    }
  ]

The node disk is correct

![image](https://user-images.githubusercontent.com/64681762/82427896-e7fa8580-9ab3-11ea-8294-7502f9b0dfb3.png)

However, cluster storage class is incorrect

![image](https://user-images.githubusercontent.com/64681762/82427999-095b7180-9ab4-11ea-85b9-51f2b0ac2eb

[2020-05-20 10:36] Dev25 commented on #526
Hey @c0ffeec0der you seem to be mixing things up here

Node Pool disk types: `pd-ssd/pd-standard` (GCE disk types)
Default GKE Storage class: `standard`
Default CSI Storage Class: `singlewriter-standard`

By default the CSI driver only installs a default storageclass, if you want to use extra features (SSD, Regional Disks) then you need to specify your own `storageclass` config.

https://cloud.goo

[2020-05-20 19:09] #501 closed

[2020-05-21 01:44] c0ffeec0der commented on #526
Hello @Dev25, okay i see. Thank you for the info

[2020-05-21 01:44] #526 closed

[2020-05-21 11:54] cldlrn opened #529 "enabling workload identity on an existing node pool without its recreation"
hello

Enabling workload identity on an existing node pool causes its deletion and recreation .
Please enable adding this feature in place
Thanks

Best regards

[2020-05-21 15:01] morgante commented on #529
Can you share your plan file?

Unfortunately I don't know if it's possible to update in-place, but workload identity is the new default.

[2020-05-21 21:41] bharathkkb commented on #529
It is possible via gcloud without recreating, not sure if there is a force-recreate on the provider. I can take a look.

[2020-05-21 21:45] konstantin-recurly opened #531 "terraform-google-workload-identity README.md input is not correct"
terraform-google-workload-identity
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/workload-identity#inputs
[code]

In the [variables.tf](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/workload-identity/variables.tf) you have
[code]

[2020-05-22 00:03] #531 closed

[2020-05-22 19:57] konstantin-recurly opened #535 "Not possible to disable workload identity /modules/beta-private-cluster v8.1.0"
This is the variable
[code]
This is the local variable
[code]
I would like to use the variable in this way
[code]

**Expected:**
if `var.identity_namespace == null` it should use an empty list, like so
[code]

**Actual result:**
[code]
It basically converts `null` to `"null"`

[2020-05-23 15:58] dmanas0 commented on #426
Same problem here. Did someone find a workaround or something?

[2020-05-25 23:28] bharathkkb commented on #535
I doubt `identity_namespace = []` is possible as `identity_namespace` takes the identity namespace as a string. Have you tried `identity_namespace = ""`?

[2020-05-26 13:27] zdhamasha opened #539 "Error: Cannot determine region or zone terraform apply"
I'm trying to create private Kubernetes cluster on google cloud I have filled the values on the `variables.tf`

and I got this error
`Error: Cannot determine region: set in this resource, or set provider-level 'region' or 'zone'.`

I have already set the region and the zone

the following is the `variables.tf `

[code]

[2020-05-26 15:01] morgante commented on #539
Please share your module config. Modules are not consumed by editing the variables.tf, but instead by putting a module block in your Terraform config like this: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine#usage

[2020-05-26 20:50] morgante commented on #535
It looks like idenity_namespace might be getting cast to a string.

[2020-05-26 21:21] morgante commented on #535
I'm unable to replicate this and successfully disabled workload identity with this config - #542.

[2020-05-26 22:01] konstantin-recurly commented on #535
Yes, I was using terragrunt to run it.

[2020-05-26 22:15] morgante commented on #535
Got it. This is really a bug in Terragrunt (it shouldn't treat `null` as "null") but we can attempt to work around it.

[2020-05-26 22:16] #513 closed

[2020-05-26 22:17] #403 closed

[2020-05-26 22:17] #265 closed

[2020-05-26 22:17] #398 closed

[2020-05-26 22:17] #320 closed

[2020-05-26 22:17] #319 closed

[2020-05-26 22:18] #360 closed

[2020-05-26 22:18] #302 closed

[2020-05-26 22:19] #316 closed

[2020-05-26 22:19] #260 closed

[2020-05-26 22:44] konstantin-recurly commented on #535
I think it happens because the variable has `type=string`
and this

https://terragrunt.gruntwork.io/docs/reference/config-blocks-and-attributes/#inputs

This is what I am getting if use `identity_namespace = ""`
[code]
Seems that it's what we want.
Thanks

[2020-05-26 22:49] bharathkkb commented on #535
@morgante since `identity_namespace = ""` is working do we need to add the guardrail? ihmo either is fine, `identity_namespace = ""` seems more Terraform native.

[2020-05-26 22:58] morgante commented on #535
I think the guardrail would still be helpful.

[2020-05-27 01:20] #535 closed

[2020-05-27 03:24] konstantin-recurly commented on #535
Tried to apply what I have posted earlier
`identity_namespace = ""`
the plan was showing this
`+ workload_identity_config {}`
and the apply didn't work, I got an error

[code]
Seems that it's not possible to use an empty string.

[2020-05-27 03:39] morgante commented on #535
Can you try setting `null` explicitly and using the latest module? We don't even generate the workload identity block if it's set to null.

[2020-05-27 13:11] tommyknows opened #543 "update-variant for beta public"
Are there any plans on providing an update variant for the beta public module?
E.g. `/modules/beta-public-cluster-update-variant`

[2020-05-27 13:37] cldlrn commented on #529
thanks for your answer. I found that this issue was resolved in latest version of gcp terraform provider v3.23.0
regards

[2020-05-27 13:37] #529 closed

[2020-05-27 15:21] morgante commented on #543
It should be easy enough to add, just need to add it as a generation target here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen_modules.json

[2020-05-27 19:28] konstantin-recurly commented on #535
unfortunately, I cannot use the latest version of the module.
with version 8.1.0 if I set it as
[code]
in the plan it shows `null` as a string `"null"`
[code]

[2020-05-27 19:32] morgante commented on #535
This is fixed on version 9.2.0, please upgrade to that version.

[2020-05-27 22:39] konstantin-recurly commented on #535
Thanks

[2020-05-28 03:43] ehsanhub opened #545 "When deploying private cluster upstream nameserver config fail"
When deploying private cluster or beta private cluster configuring upstream nameserver config fails since the API call to cluster is using the Public IP of the cluster end point IP address , it should actually try private Kube API IP address instead

(running on TFE) error output:
module.kubernetes-engine.kubernetes_config_map.kube-dns-upstream-namservers[0]: Still creating... [30s elapsed]

Error

[2020-06-01 11:28] #539 closed

[2020-06-01 15:51] #543 closed

[2020-06-03 07:17] emilianooddo commented on #539
@zdhamasha Did you solve? I have the same problem.

[2020-06-07 04:25] TrevorNathan commented on #490
Great remark

[2020-06-08 16:53] skiddykong opened #549 "cloud.google.com/v1 api group is missing"
I have been using the module to create a cluster, currently version is Master version
1.16.9-gke.2.

However it is missing the following api versions:

cloud.google.com/v1
cloud.google.com/v1beta1

How do I add these? If I create a cluster using the google cloud UI they are there but with the terraform module they do not seem to be installed.

Thanks

[2020-06-08 17:32] skiddykong commented on #549
I want to make use of the BackendConfig object to setup a CDN to my cluster, however the above APIs are not installed, this is in GKE.

When I run kubectl api-versions the two api versions are not visible. If I create a cluster manually in GCP using the UI, they are installed. Surely the terraform module should include them too as they are required for setting up CDN and also the AOP proxy.

[2020-06-08 17:35] morgante commented on #549
I assume that is driven by the master version you chose. Are you using the same master version in both instances?

From the console, you can grab the "equivalent REST." Can you add that here?

[2020-06-08 18:28] Dev25 commented on #549
Did you enable the HTTP load balancing addon `http_load_balancing` ?

[2020-06-08 18:51] skiddykong commented on #549
Thanks that equivalent REST really helps. I noticed that there are differences in oauth urls and httploadbalancing which I did not enable as I am using ingress-nginx. I'm rebuilding now. Will let you know if this fixes.

`
POST https://container.googleapis.com/v1beta1/projects/XXX-poc/zones/australia-southeast1/clusters
{
  "cluster": {
    "name": "XXX-dev-clone-1",
    "masterAuth": {
      "cli

[2020-06-08 20:06] skiddykong commented on #549
Problem solved. Thanks.

[2020-06-08 20:06] #549 closed

[2020-06-08 22:01] pperez opened #550 "Can't provision kubernetes service account with workload identity module from different vpc network"
Hello,
I've been trying the workload-identity module, is a total lifesaver for what i'm trying to accomplish. The only issue i've run into is that it doesn't supports the usage of an api proxy to deploy the kubernetes service account (This works great if i use it from a GCE running in the same project), so, it's not working with my use case, does anyone know any workaround that could help me with

[2020-06-08 22:08] morgante commented on #550
It uses the `kubernetes` provider so if you're adding the proxy info to your kubeconfig that should work: https://www.terraform.io/docs/providers/kubernetes/index.html

@bharathkkb Any additional ideas?

[2020-06-08 23:08] pperez commented on #550
Great! I'll give it a try, thanks!

[2020-06-09 00:05] pperez commented on #550
Seems like kubectl will support that on 1.19, for the time being setting up https_proxy and no_proxy worked, thanks :)

[2020-06-09 00:05] #550 closed

[2020-06-09 00:09] bharathkkb commented on #550
We should also document this as users may want to use private gke cluster + WI module until https://github.com/kubernetes/kubernetes/pull/81443

[2020-06-09 00:12] bharathkkb commented on #545
I think this is related to https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/502

[2020-06-09 00:13] bharathkkb commented on #545
@ehsanhub could uyouPTAL at the workaround I have describe there and see if that works?

[2020-06-09 02:43] 0723Cu opened #551 "Pull"

[2020-06-09 15:29] ehsanhub commented on #545
Tnx @bharathkkb , I went through #502
by trying the workaround do you mean applying " enable_private_endpoint = true " to code?

[2020-06-09 21:31] bharathkkb commented on #545
@ehsanhub Actually, I just tried the [stub_domains_private](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/stub_domains_private) and I believe this is WAI. Could you shared your config?

[2020-06-10 10:09] mehdicopter opened #554 "Module not present"
Hello,

The module `beta-public-cluster-update-variant` is not present within the 9.2 version.

[code]

Modules present within the 9.2 version :
[code]

[2020-06-11 00:19] bharathkkb commented on #545
Sorry I meant internally we handle both [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/beta-private-cluster/dns.tf) using k8s resources to deploy. Glad you got it working :)

[2020-06-11 00:19] #551 closed

[2020-06-11 05:09] ronaldslc opened #555 "workload identity existing sa iam.gke.io/gcp-service-account overwrite"
Following the documented approach to use existing sa would result in an error

[code]

`Output: error: --overwrite is false but found the following declared annotation(s): 'iam.gke.io/gcp-service-account' already has a value`

I can see two options to fix this:

1. add --overwrite parameter to module "annotate-sa", which would require users to implement lifecycle ignore annotations
2. remove modul

[2020-06-11 05:15] morgante commented on #555
If you remove annotations from the Terraform config will it attempt to overwrite them?

I'm inclined to go with option #1 as one of the primary use-cases for `use_existing_k8s_sa` is where the k8s SA was created outside Terraform (ex. via a Helm chart) and annotating it manually would be cumbersome.

/cc @bharathkkb

[2020-06-11 05:50] ronaldslc commented on #555
Do you mean remove annotations from the resource "kubernetes_service_account" block? If I don't provide annotations, it will run fine, there is nothing to overwrite so it will just insert, but will result in lifecycle changes in subsequent runs where it will delete the annotation added by annotate-sa.

I guess for Option #1 it could work without manually adding lifecycle ignore if the `iam.gke.io/

[2020-06-11 06:14] bharathkkb commented on #555
I am also leaning towards option #1. The WI module is responsible for creating the GSA (`iden-test`) that binds to the KSA, so I think it makes sense to let the module handle annotation for most cases. We should also update docs and remove annotations in `kubernetes_service_account`. The only use case I can think outside of this, is if the GSA is created outside of the module.

Also @morgante we d

[2020-06-11 14:36] ehsanhub opened #556 "code run on TFE (Terraform Enterprise) shows error "Permission denied" on .sh scripts"
when running the code on Private Terraform Enterprise workspace that spins up a container for each terraform apply if (Skip Provisioner is false) I am getting permission error as below
hence upstream nameserver and other dependent config is broken

 Initializing plugins and modules...
2020/06/11 14:25:29 [DEBUG] Using modified User-Agent: Terraform/0.12.24 TFE/v202004-2
module.lt-gke-sbx01.null_re

[2020-06-11 18:08] morgante commented on #555
Yeah we should probably use it.

[2020-06-11 18:11] bharathkkb commented on #555
cool, will submit a PR

[2020-06-11 21:09] lgandras opened #558 "var.network and var.subnetwork are not used in cluster.tf"
I don't know if this is the intended behaviour, but if you don't initialize the google provider and you don't specify the region (regional = false), the main example in the README.md will fail with:

[code]

The documentation says that the region parameter is optional when specifying a zonal cluster.

[2020-06-11 21:21] morgante commented on #558
Yeah we should change the `var.region` call there to a `local.region` which pulls the region from zone if region is null.

[2020-06-12 01:29] ehsanhub commented on #556
I could fix the issue by add /bin/bash to null resource command = /bin/bash on the cluster.tf code
now need to install gcloud sdk for this script on tfe ws

[2020-06-12 01:29] #556 closed

[2020-06-12 05:01] bharathkkb commented on #556
@ehsanhub I dont have much experience with TFE but we are looking into #404 which should help with installing gcloud.

[2020-06-12 14:53] lemaral opened #560 "Set auto_provisioning_defaults.service_account ? (beta-public)"
When enabling node autoprovisioning, the service account for it stays at "default" and nodes in "automatic" node pools have no rights on Google APIs (e.g. pull from private GCR)
I would have expected that the service account would be set to the same one that is created for the "regular" node pools so that pods scheduled or rescheduled on the automatic node pools would work the same (at least by de

[2020-06-12 16:13] morgante commented on #560
Yes we should fill in this property: https://www.terraform.io/docs/providers/google/r/container_cluster.html#service_account

Happy to review a PR.

[2020-06-16 17:06] #449 closed

[2020-06-18 02:18] #401 closed

[2020-06-18 09:55] jgfincore opened #564 "A null value cannot be used as the collection in a 'for' expression."
When using the private-cluster module with 'add_cluster_firewall_rules' as true, the following error is produced during the terraform plan stage if using separate statefile for subnets:

[code]

[2020-06-18 10:36] satwik123 opened #565 "google_container_cluster.primary: googleapi: Error 400: Legacy monitoring is not supported in clusters running Kubernetes 1.15 or above., badRequest"
Getting below error

Error: Error applying plan:

1 error(s) occurred:

* module.gke.google_container_cluster.primary: 1 error(s) occurred:

* google_container_cluster.primary: googleapi: Error 400: Legacy monitoring is not supported in clusters running Kubernetes 1.15 or above., badRequest

[2020-06-18 15:35] morgante commented on #565
Please post your module config.

You most likely have to specify `monitoring_service = "monitoring.googleapis.com/kubernetes"`.

[2020-06-18 15:44] satwik123 commented on #565
@morgante I am using below repository module .

https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/9.3.0

[2020-06-18 15:55] morgante commented on #565
Right I need your actual module config. What variable/settings you used to invoke...

[2020-06-18 16:09] satwik123 commented on #565
@morgante I am using below definition file , through which I am passing my variables to module

module "gke" {
  source                     = "terraform-google-modules/kubernetes-engine/google"
  version					 = "2.0.1"
  project_id                 = "${var.project_id}"
  name                       = "gke-test-cluster"
  region                     = "us-central1"
  zones                      = ["us

[2020-06-18 16:11] morgante commented on #565
You're using a very old version of this module. Please upgrade to the latest: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/CHANGELOG.md#930-2020-06-11

[2020-06-18 16:11] #565 closed

[2020-06-18 16:36] satwik123 commented on #565
@morgante I have one constrain , I can only use terraform version 0.11 not 0.12 , so what's the compatible module version I can use here ? also while using latest module (9.3.0) I am getting bellow error

Error downloading modules: Error loading modules: module gke: Error parsing .terraform/modules/4eac95d2aad2ca59ffd57ec7f3313ae9/terraform-google-kubernetes-engine-9.3.0/auth.tf: At 23:14: Unknown

[2020-06-18 16:53] satwik123 commented on #565
@morgante I found the latest module version 3.0.0 compatible with Terraform version  0.11 , but while applying the same , I am getting the same issue as below

`* google_container_cluster.primary: googleapi: Error 400: Legacy monitoring is not supported in clusters running Kubernetes 1.15 or above., badRequest
`

[2020-06-18 16:57] morgante commented on #565
We don't provide any ongoing support for Terraform 0.11, as 0.12 has been out for over a year.

You can try overriding the monitoring service by adding this to your config: `monitoring_service = "monitoring.googleapis.com/kubernetes"`

[2020-06-18 17:08] satwik123 commented on #565
@morgante I just included "monitoring_service" variable on the code as below & I am getting bellow error now :
`* google_container_cluster.primary: googleapi: Error 400: "logging.googleapis.com/kubernetes" and "monitoring.googleapis.com/kubernetes" can only be set together (was "logging.googleapis.com" and "monitoring.googleapis.com/kubernetes")., badRequest`

[code]

[2020-06-18 17:11] morgante commented on #565
You can also do `logging_service = "logging.googleapis.com/kubernetes"`.

[2020-06-18 17:24] satwik123 commented on #565
@morgante Thanks for you help , finally its working now , so tell me one thing **monitoring_service** , **logging_service** are required variables , not optional , so why its not mentioned / updated in README file ?

[2020-06-18 17:32] satwik123 commented on #565
@morgante  One more question , what are the variables (options) I need to pass to create complete private GKE cluster with "Master authorised networks" range ?

[2020-06-19 03:51] bharathkkb commented on #564
Hi @jgfincore
Can you confirm the existence of secondary ip ranges on that subnet? Additionally, if you can post your config for this module, that would be great!

[2020-06-19 18:45] WillBeebe opened #567 "Regression in new module"
Hi,

I can't find `null_resource.wait_for_cluster` anywhere in the source code. It looks like it was there before, but when trying to use this module from the master branch the outputs that depend on this fail.

`null_resource.wait_for_cluster.id`

[2020-06-19 18:58] morgante commented on #567
It's been moved to this module: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/cluster.tf#L252

But I'm not sure why the output isn't failing. That should've failed tests.

[2020-06-19 19:46] bharathkkb commented on #567
@morgante  Looks like outputs may have never been validated due to an issue in core and hence our tests passed.
https://github.com/hashicorp/terraform/pull/25261

[2020-06-20 10:56] avthart opened #569 "configure additional firewall rules for a safer-cluster(-update-variant)"
It is currently not possible to enable `add_cluster_firewall_rules` and configure additional firewall rules for a safer-cluster(-update-variant). Is this by design?

[2020-06-20 18:04] morgante commented on #569
What's the error you get? @Dev25 have you seen this?

[2020-06-20 18:08] Dev25 commented on #569
Hmm looks like it was never added to `autogen/safer-cluster`, just a oversight. Should be a fairly simple PR to add this in.

[2020-06-22 15:14] saranicole opened #572 "Safer cluster with IAP bastion unreachable in a Continuous Deployment Pipeline using Terraform Helm provider"
I'm testing out using the safer cluster with IAP bastion setup in a CD pipeline using the Terraform Helm provider.  Everything provisions fine until it gets to the Terraform Helm provider trying to install a release, then the build fails with "cluster unreachable".

If the cluster is only supposed to be reachable via the bastion, is it even possible for a CD tool (as opposed to running Terraform f

[2020-06-22 16:03] bharathkkb commented on #572
Hi @saranicole
If I am understanding correctly, you are setting up the safer cluster with IAP bastion and then using the TF Helm to install a release.

In that case the recommended approach would be to make sure that the IP address of the runner VM running the CD workflow has access [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/796bd15a3b7ddc6c57bc63698

[2020-06-22 16:18] saranicole commented on #572
Hi @bharathkkb
Great, that helps a lot.  Running this on Gitlab may be an option then as Gitlab exposes "CI_SERVER_HOST" as an environment variable.  There would still have to be something doing the translation to an IP though.  Would you envision the parameter as a list of host ips like "extra_host_ips"?

[2020-06-22 21:51] bharathkkb commented on #572
@saranicole you can also do a CIDR range instead of an IP like [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/796bd15a3b7ddc6c57bc63698cd446b5b8e47df8/examples/safer_cluster/main.tf#L53).  I think a list of objects like we do here https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/796bd15a3b7ddc6c57bc63698cd446b5b8e47df8/

[2020-06-22 22:16] morgante commented on #572
Adding the bastion CIDR makes sense.

[2020-06-23 04:51] #569 closed

[2020-06-23 04:52] #567 closed

[2020-06-23 04:53] #555 closed

[2020-06-23 15:07] imrannayer opened #575 "Services in Binary Authorization modules"
Binary authorization module is enabling needed services in project with following two parameters using default value true:

disable_services_on_destroy
disable_dependent_services

This will cause problem if there are other attestors in same project. Is it possible to change the code in
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/binary-authori

[2020-06-23 16:25] morgante commented on #575
Yes I think that's a good idea, happy to accept a PR.

[2020-06-23 17:53] dpatrick opened #576 "Unable to use terraform data resource as ssh_auth_key value"
Hi!

I'm in the market to use the Config Sync (9.3.0) submodule with my clusters and I want to be able to pull an ssh key from Google secrets manager in the terraform plan (via the `google_secret_manager_secret_version` data resource). Right now, it looks like the module forces the input to be a file on the local system.

Does anyone have any suggestions on how to accomplish this? Or would this ne

[2020-06-23 17:55] morgante commented on #576
The `ssh_auth_key` variable is actually the key value, not the path. So this should theoretically work.

[2020-06-23 17:58] dpatrick commented on #576
Sorry, I forgot to add the error output I got. When I ran `terraform plan` I got...
[code]

[2020-06-23 18:00] morgante commented on #576
Looks like we had a regression! We should be accepting the key contents, not running `file(` around it. Happy to accept a PR.

[2020-06-23 19:30] morgante opened #578 "Failing test"
The `simple-regional-with-networking-local` test is failing.

[2020-06-24 14:41] jgfincore commented on #564
So, we're using terragrunt.  The gke module is dependent an a vpc and subnet module.  Those network modules 'plan' just fine, it is only gke which fails with the error above.  If I apply, it all works fine -- but the gke module failing on 'plan' stage creates issues in our workflow.

I'll try to clean up and post a excerpt from the gke module and get it up here shortly

[2020-06-25 00:08] bharathkkb commented on #578
closed via #574

[2020-06-25 00:08] #578 closed

[2020-06-25 00:22] #576 closed

[2020-06-25 11:34] SrikantPatil88 opened #579 "How to enable master global access"
Hi Folks,

I want to enable master global access in a cluster, I checked the code but couldn't find the input to enable master_global_access.

Can someone please help me to add this in configuration.

Thanks in advance

[2020-06-25 14:58] saranicole commented on #572
I realized this is a bit of a chicken and egg problem because the Terraform plan is failing due to "Kubernetes cluster unreachable" ahead of the apply which would add the runner's IP to the cluster.  Without being able to add the runner's ip ahead of time the runner will fail in its initial check of trying to access the cluster.

Unless this is something I'm missing with kubeconfig I think I'm stu

[2020-06-25 15:44] morgante commented on #579
We will need to add master_global_access config to the module:
https://www.terraform.io/docs/providers/google/r/container_cluster.html#master_global_access_config

Happy to review a PR.

On Thu, Jun 25, 2020 at 7:34 AM Srikant Patil <notifications@github.com>
wrote:

[2020-06-25 18:42] dpatrick opened #580 "git-creds secret created with additional character when using config sync module"
Hello again,

I'm running into a strange bug and I can't seem to track down exactly what is causing it. When I create the config sync module using a custom value for `ssh_auth_key`, the terraform successfully completes, however in the cluster the `git-creds` secret that is created isn't identical the value I inject.

After decoding the secret's value from the cluster, I found that at the very end

[2020-06-25 19:25] SrikantPatil88 commented on #579
Hi Morgante,

Sorry if i am not understanding correctly,

I can add the changes and push a new branch or you guys will push the code in the master branch?
I tried but i do not have permission to push the code.

May be below changes need to be added or please correct,

File: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/v6.1.1/modules/beta-private-cluster/clust

[2020-06-25 19:35] saranicole commented on #572
Unfortunately this looks like a bigger problem than just kubeconfig, in that the managed SaaS service can't reach the internal network that the pods are sitting in, regardless of whether the IP address is added to master authorized networks.  It seems like this simply can't be done with the setup I'm looking for, so I am left with either settling for a public cluster or self-hosting a CD solution

[2020-06-25 19:40] morgante commented on #579
@SrikantPatil88 Please see the [contributing guide](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/CONTRIBUTING.md) and [forking](https://gist.github.com/Chaser324/ce0505fbed06b947d962).

[2020-06-25 19:42] morgante commented on #572
@saranicole Where are you attempting to deploy from? For a private cluster, it will need to be somewhere in your private network (on-prem or in GCP), but not over public IP space.

[2020-06-25 19:48] SrikantPatil88 commented on #579
Hi Morgante,

Thanks for providing the information.

Actually i do not have testing environment now, will have to set up and follow the guide to test and raise PR.

Thanks,

[2020-06-26 01:48] bharathkkb commented on #580
I took a quick look [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/4b3f60985ac90265c79a4c5378f8a688f642de96/modules/k8s-operator-crd-support/main.tf#L72) but didnt notice anything out of the ordinary.
@morgante any ideas? Also is there a reason why we dont  [use the native k8s secret resource ](kubernetes_secret)?

[2020-06-26 02:04] bharathkkb commented on #572
@saranicole We also have some documentation [here](https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#req_res_lim) w.r.t limitations and different configurations of private clusters.

[2020-06-26 02:55] morgante commented on #580
I suspect the wrapper script might be injecting it accidentally.

I agree we should probably just switch over to the native secret resource.

[2020-06-26 10:07] rkarpuzov opened #583 "Can not get Load Balancer's address"
Hello,
I am trying to use the GKE module for testing purposes as-is in the example docs. But both of module.gke.endpoint and data.google_container_cluster.testcluster.endpoint return same IP, which I can not use it.
I must log into the GKE console and get it on hand -> My project -> Kubernetes Engine -> services and Ingress -> the terraform-example's endoint in the table

BR,
Rossen

[2020-06-26 13:24] saranicole commented on #572
@morgante @bharathkkb  I thought I could have a public endpoint with a private cluster and deploy from Terraform Cloud, but this configuration evidently doesn't work.

I will pursue the self-hosted CD solution (Jenkins probably).  Thanks for the help!

[2020-06-26 13:24] #572 closed

[2020-06-26 16:27] morgante commented on #583
Hi, this module doesn't deploy a load balancer so getting the address would be out of scope.

[2020-06-26 16:27] #583 closed

[2020-07-01 21:21] msgongora opened #585 "PodSecurityPolicy implementation changing the cluster on every iteration"
**Summary:**
_pod_security_policy_config_ with default value is causing to update the cluster every time you run terraform using `beta-private-cluster-update-variant`. I was able to verify that this issue came from the provider itself but since I'm facing it because the way it was implemented in this module, I'm reporting it here.

**How to reproduce it:**
[code]
[code]
At this point I'm expecting

[2020-07-01 21:25] morgante commented on #585
Since this issue is occurring on the provider itself, can you file a bug there please?

[2020-07-01 22:23] msgongora commented on #585
I'm wondering why **pod_security_policy_config** was declared as a _list_ instead of _bool_. Reading the [documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/pod-security-policies#enabling_podsecuritypolicy_controller) **_--enable-pod-security-policy_** looks like a bool flag.

I'm going to create the issue on the provider. In the mean time I'm using [this workaround](https://git

[2020-07-01 23:57] bharathkkb commented on #585
@msgongora Can you confirm you tested with `9.4.0` and `google-beta 3.28.0`?
From the logs you posted it seems like provider:`3.14.0` and module:`"v8.1.0"`. We had some weird issues previously too but got fixed in `3.18.0` I think. https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/497#discussion_r416106688

[2020-07-02 00:32] msgongora commented on #585
It's happening w/ provider 3.28 as well. The module implementation hasn't change in regard to podsecurirypolicy but yes, also happening with 9.4

[2020-07-02 03:07] morgante commented on #585
Regardless of upstream changes, I think we should fix the module interface by:
1. Replacing the `pod_security_policy_config` variable with a simple `pod_security_policy_enabled` boolean variable.
2. Update the actual module code to use a dynamic block which is only generated when `pod_security_policy_enabled` is true.

[2020-07-02 04:23] msgongora commented on #585
@morgante I think also the previous implementation can be confusing because this option is mean to enable the admission controller, not to define  pod security policies.

[2020-07-05 17:46] HarshalRane23 opened #587 "Unable to create GKE Nodepool with windows LTSC nodepool as image_type"
In GKE, I am unable to create windows nodepool with windows LTSC as image type even though i have the required COS image_type nodepool already present for it. Below is the error msg
Error: error creating NodePool: googleapi: Error 400: Shielded Instance features are only supported on node using COS, COS_CONTAINERD, UBUNTU or UBUNTU_CONTAINERD image type., badRequest
<img width="998" alt="Screensho

[2020-07-05 19:12] morgante commented on #587
Set `enable_shielded_nodes = false`.

[2020-07-06 06:44] bharathkkb opened #588 "ASM module failing IT"
ASM module seems to be failing IT with error `error reconciling IstioOperator:/default-istio-operator: unsupported Profile type: asm`. Seems to be working of gcloud 298.0.0 and seems to have been caused by 299.0.0.

[2020-07-06 18:36] #588 closed

[2020-07-06 22:02] #575 closed

[2020-07-07 13:46] jbrunetext opened #590 "event-exporter-gke crashloopBackoff"
[code]

When i deploy an new  cluster by using Terraform providers . every think is OK except this pods : event-exporter-gke

i don't know why he can boot on cluster . I faced this issue:
[code]

Master version
1.16.9-gke.6
Endpoint
35.205.99.XX

maybe an permission issue ???

Any suggestions will help me...

[2020-07-08 00:34] dooman87 commented on #590
I had the same problem.

I think it might link to permissions issues cause I've also seen this errors in logs:

[code]

The node's service account doesn't have the above mentioned permission `container.clusters.get`.

To workaround the problem I turned off workload identity and metadaserver by adding this to the config:
[code]

I didn't need these features, so it was ok for me.

Below is code that

[2020-07-08 03:28] bharathkkb commented on #590
Thanks for the info. I have seen some issues with WI + other addons like Istio. With Istio the fix was to edit and mount a new WI KSA with required permissions. I will look into this.

[2020-07-08 06:32] morgante opened #593 "Issue with IpAllocationPolicy"
Tests are showing this:

[code]

Possibly related to https://github.com/terraform-providers/terraform-provider-google/issues/6744.

[2020-07-08 06:34] #585 closed

[2020-07-08 10:03] SamwelOpiyo commented on #593
I am getting the same error with module `git::https://github.com/terraform-google-modules/terraform-google-kubernetes-engine.git//modules/beta-public-cluster?ref=v9.4.0`. It was working before for another cluster just a few days ago. Looks like I will need to downgrade the provider.

[2020-07-08 10:17] SamwelOpiyo commented on #593
Adding the required providers block to the parent `versions.tf` file solved the issue:

[code]

[2020-07-08 17:02] HarshalRane23 commented on #587
Ok let me try.

On Mon, 6 Jul, 2020, 12:42 AM Morgante Pell, <notifications@github.com>
wrote:

[2020-07-08 17:13] jbrunetext commented on #590
For your information i was using this
[code]

[2020-07-08 17:14] jbrunetext commented on #590
[code]
i don' t know if it can help you for troubleshooting

[2020-07-08 20:16] Dev25 commented on #590
This issue is a bug with the latest GKE update from last week https://github.com/GoogleCloudPlatform/k8s-stackdriver/issues/353

Since its in `kube-system` you can't really patch it since any changes get overwritten apart from disabling WI. Best to wait for the next round of GKE updates since the only thing broken here is metrics on that specific component/log spam.

[2020-07-09 07:18] bharathkkb commented on #590
Yup so I was able to repro and its the same issue that @Dev25 linked.
https://issuetracker.google.com/160539642 for updates.

[2020-07-10 17:09] #593 closed

[2020-07-13 13:22] sephethus commented on #473
What account needs these permissions?

[2020-07-13 13:58] c4m4 commented on #473
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/485/commits/ff17c5b01f6bf2959e9d9ca5d8b70fa7f8102299

[2020-07-15 05:47] avthart commented on #564
We are getting this error with `terraform destroy`:

[code]

[2020-07-15 14:24] morgante commented on #564
As a workaround, you can try setting `add_cluster_firewall_rules = false`.

[2020-07-15 14:40] dexter0195 commented on #413
My issue was exactly that, I am running terraform in a docker container and bash was not available.
Installing bash solved the issue

[2020-07-16 03:18] #579 closed

[2020-07-16 13:01] PsychoSid opened #604 "ASM Module Fails to destroy"
Hi,

When trying to destroy a GKE cluster setup with ASM the destroy will fail with:-

[code]

I know I am logged in locally and can access the k8s API / gCloud etc.

This leaves the terraform state in a bad way and I have to manually delete the resources and the state file.

Any ideas ?

Thanks

[2020-07-16 15:26] morgante commented on #604
@bharathkkb PTAL

[2020-07-16 18:31] cgrant opened #605 "Create an Anthos Hub submodule"
Suggest extracting out the [Anthos Hub Registration](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/asm/main.tf#L67-L83) section into its own module so it can be used after the cluster creation and thus be enabled for both ASM and ACM modules.

The general flow for Anthos is:
- Provision a cluster
- Register it with Anthos Hub
- Enable Features (

[2020-07-17 07:17] PsychoSid commented on #605
Hi,

This would be very good for my use case where I am building cluster(s) with ASM, and ACM right now it would provide a little more structure.

Thanks.

[2020-07-17 15:13] bharathkkb commented on #604
@PsychoSid I believe this is happening due to the `destroy_cmd_body` caching the old `data.google_client_config.default.access_token`.  I have set up a cluster to test for reproduction and will update here.
Additionally, I will be trying out this approach which should eliminate this problem.

[2020-07-17 20:57] debek opened #607 "Disable maintenance_start_time"
How can I disable maintenance? The empty field doesn't work.

[2020-07-19 21:09] bharathkkb commented on #607
This is a limitation with the way we are defining the `maintenance_policy` block today
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/8a9f9041c8f18ff7a873873e9b19e03dcdfe7d2a/autogen/main/cluster.tf.tmpl#L182. Once `maintenance_policy` block is defined, it need `daily_maintenance_window` for GA or one of `daily_maintenance_window` or `recurring_window` for beta

[2020-07-20 17:11] morgante commented on #607
The maintenance window simply controls *when* maintenance occurs, not if it occurs.

If you want to avoid/minimize maintenance you should disable auto-upgrade and other such functionality. More info here: https://cloud.google.com/kubernetes-engine/docs/concepts/maintenance-windows-and-exclusions

[2020-07-20 17:11] #607 closed

[2020-07-22 21:00] erichaase opened #608 "Error on terraform plan for safer-cluster-update-variant module: Iteration over null value"
We're getting the following error on `terraform plan` (as well as `apply`, `refresh`, etc.):

[code]

With the following module:
[code]

which relies on this module (which uses `safer-cluster-update-variant`):

[code]

The source of this error appears to be related to this line:

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/470/files#r459069787

[2020-07-22 21:22] bharathkkb commented on #608
I think this is same as #564

[2020-07-22 21:26] #608 closed

[2020-07-22 21:35] erichaase commented on #564
@morgante The proposed `add_cluster_firewall_rules = false` workaround gets us past the error on `plan`, however, I get a different error on `destroy`:
[code]

[2020-07-23 14:53] chanuka-techo opened #609 "ASM Module fails"
I have tried with both master and v10.0.0.

Since my attempt was failing, I just tried the code from the example but still the result is the same.

[code]

Please find the full apply output (personal info redacted) [on this gist](https://gist.github.com/chanuka-techo/25295e4169c4cc9f0cf7897d788aa9a2)

[2020-07-23 15:21] miguelvr opened #610 "[question] How to correctly set ip_pod_ranges and ip_service_ranges"
Hello,

From the documentation, it's not clear how to set up the required variables `ip_pod_ranges` and `ip_services_ranges`

I'm a total noob when it comes to networking, but I've been trying to figure out how to make a setup equivalent to the default in the GCP console.

I've set both the `network` and `subnetwork` values to "default", to mimic the GCP console values but I can't figure out how t

[2020-07-23 16:40] cgrant commented on #610
Try empty vars
[code]

[2020-07-23 17:37] morgante commented on #610
For this module. our best practice is to explicitly manage the secondary ranges. You should add secondary ranges to your default subnet and add their name in here.

More details in the docs: https://cloud.google.com/kubernetes-engine/docs/how-to/alias-ips#range_management

[2020-07-23 18:17] miguelvr commented on #610
@cgrant that works! thanks!

@morgante in the link you sent, the first thing that appears is a managed option by Google, which determines the ranges for you. For me, this would be ideal as I don't really want to be managing my cluster's network. Is there a strong reason for not setting the ranges as empty?

[2020-07-23 18:24] morgante commented on #610
@miguelvr Our recommendation when using Terraform is to model your infrastructure comprehensively, if you leave it to Google to allocate then you don't have control over which ranges are being used.

Since it's working for you, it's fine to leave as-is though.

[2020-07-23 18:24] #610 closed

[2020-07-23 20:13] morgante commented on #609
@bharathkkb Any ideas?

[2020-07-23 20:28] bharathkkb commented on #609
@chanuka-techo the example has `use_tf_google_credentials_env_var ` enabled which  expects `$GOOGLE_CREDENTIALS ` . Could you try setting to false instead?
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/8a9f9041c8f18ff7a873873e9b19e03dcdfe7d2a/examples/simple_zonal_with_asm/main.tf#L62

[2020-07-24 01:41] chanuka-techo commented on #609
Thanks, tried that and got the following error.

[code]

I will install `kustomize` and continue.

[code]

1) I had a different `gcloud` profile activated.
2) `kpt` was not installed

[code]

`anthoscli` needs to be installed.

Apparently `anthoscli` [installation](https://cloud.google.com/service-mesh/docs/install-anthos-cli) also installs `kpt` and warns about system `kpt` (Mac, installed with b

[2020-07-24 03:45] bharathkkb commented on #609
@chanuka-techo thanks for the update.  I am fixing the kustomize and beta (anthoscli) dependency in #602. However kpt should have been automatically installed. If you get a chance, could you give it a shot with #602?
[code]
 Ideally, all of these should be automatically installed by the ASM module :)

[2020-07-24 03:47] chanuka-techo commented on #609
I have shot myself in the foot somewhere back in time and `kpt` and `anthoscli` weren't being linked to $PATH properly. Sorted that and it went through fine.

So the trick was `use_tf_google_credentials_env_var =false` (`false` is the default, BTW).

[2020-07-24 03:53] #609 closed

[2020-07-24 04:00] chanuka-techo commented on #609
@bharathkkb I see your change refers to a module named 'gcloud_wait_for_cluster'. This is an aside but reminded me how cluster creation always failed for me citing the subnet being not valid. I had to plan/apply again to start going. Should we need changes for kubernetes-engine modules as well?

[2020-07-24 04:08] bharathkkb commented on #609
@chanuka-techo

I am not sure if I understood this correctly, but if you were asking whether to change the `source` for GKE module, it is not necessary but you can. The main change in the PR is a bump up for the gcloud module version across all modules and fixing ASM dependencies.

[2020-07-24 04:19] chanuka-techo commented on #609
Sorry, I misinterpreted the situation. This is a completely different problem. Maybe I'll report in appropriate place if needed.

Terraform reports that the subnet creation succeeds.
[code]

Still, I get below error every time I start from scratch. Gotta plan/apply again to continue.
[code]

Thanks for the prompt support!

[2020-07-25 04:31] chanuka-techo commented on #609
@bharathkkb As you requested, I'm trying out #602

Just noticed you mentioned **acm** in your reply, not **asm**. Either it's a mistake or I really don't follow what's going on. Anyhow, trying out #602 for ASM.

[2020-07-25 04:41] bharathkkb commented on #609
@chanuka-techo my apologies, I meant asm

[2020-07-29 02:16] #604 closed

[2020-07-29 16:59] bharathkkb commented on #590
Looks like 1.16.12-gke.3 has been released with the fix as per https://issuetracker.google.com/160539642.
Closing this out, feel free to reopen if it persists.

[2020-07-29 16:59] #590 closed

[2020-07-30 15:43] moos3 opened #616 "IAM Permissions issues with Share VPC and Private Cluster"
So i'm trying to run a private cluster in a shared vpc setup. Upon creation of the project i'm adding the permissions to the shared vpc networks, and to the projects. When I run the private cluster module setup. I'm getting the following:

[code]

My module is declared like so:

[code]

Anyone know what is wrong here? My Project stack module is doing the following 👍

[code]

[2020-07-30 15:48] morgante commented on #616
Looking at your plan it seems that you're destroying the IAM memberships for some reason:
[code]

If this is all being done as part of the same config, you'll need to make sure the memberships happen first. This can be done using an implicit dependency:

[code]

[2020-07-30 17:46] moos3 commented on #616
Huh? I'm not sure what your getting at here. For this example mb-development-env-c69e is the service project, and mb-svpc-host-04c2 is the host project that controls all the networks. My question is if its trying to create those when why does if give this result when you dont enable create:
[code]

[2020-07-30 19:33] morgante commented on #616
Your error isn't related to this module - you need to add permissions on the host project first.

[2020-07-30 19:35] moos3 commented on #616
@moos3 what permissions need to be added? Because I have tried every single combo and can't seem to get it working.

[2020-07-30 19:38] morgante commented on #616
This table summarizes the roles - https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc#summary_of_roles_granted_on_subnets

[2020-08-04 10:11] pravargauba opened #619 "dns_cache_config gives error: Blocks of type "dns_cache_config" are not expected here."
This is very strange. In the addons_config block if I add dns_cache_config it gives the error that the block is not expected here, while other add on configs seems to be working fine.
[code]
The above fails with below error.
[code]

However if I do,
[code]
This seems to be working fine. Indentation/syntax everything is correct, not so sure where the problem is.
Its been a day I am wrapping my head

[2020-08-04 14:40] bharathkkb commented on #619
Hi @pravargauba

It looks like you are using the native resource and not this module. If you were using one of the [beta](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/beta-public-cluster), you can set `dns_cache = true`. Additionally, I would confirm that you are using the [beta provider](https://www.terraform.io/docs/providers/google/guides/pr

[2020-08-04 14:58] pravargauba commented on #619
Hi @bharathkkb
Thanks for the response. `3.14 `version gets it all working. Was using a previous version of terraform google beta provider.

[2020-08-04 14:59] #619 closed

[2020-08-10 11:03] dhoeric opened #622 "[workload-identity] Options to disable annotating existing service account"
Thanks for the creating the workload-identity module and it saves me tons of time.
Now I have already set up the KSA's workload identity annotation via another source, which is helm.

So I am using the module to create the GCP Service Account resource to do the mapping, therefore I go ahead with `use_existing_k8s_sa = true`.

However, the annotate-sa will be keep re-created when I apply the terraf

[2020-08-10 11:03] dhoeric commented on #622
Attached with the module config as reference:
[code]

[2020-08-10 15:18] bharathkkb commented on #622
Hi @dhoeric
Glad to hear that! :)

We recently fixed this with #602 and should be fixed with the `11.0` release.
You can give it a whirl now to see if it works as intended on master.

[code]

[2020-08-10 15:35] dhoeric commented on #622
It works, thanks!!

[2020-08-10 15:35] #622 closed

[2020-08-10 18:55] sp185503 opened #623 "errors downloading ASM module"
Hi,

I'm getting the following errors when I tried to use the ASM module...I also tried pinning it to v10.0.0 but got the same error.

**Error:**

[code]

**main.tf**
[code]

[2020-08-10 19:55] bharathkkb commented on #623
Hi @sp185503
This might be an issue on your end, I just tried a quick `init` with your snippet which worked for me.
![image](https://user-images.githubusercontent.com/10992720/89824993-8b8a8d80-db19-11ea-89d3-6e076b737188.png)

[2020-08-10 20:44] sp185503 commented on #623
@bharathkkb Sorry for wasting your time.....it was an issue on my end.  I was trying to fix my git profile to address some other issue and must of goofed something else up.

Thanks!

[2020-08-10 20:44] #623 closed

[2020-08-12 10:25] zioproto opened #624 "Disable Default SNAT"
This is a feature request to support the `Disable Default SNAT` option.

![Screenshot 2020-08-12 at 12 22 07](https://user-images.githubusercontent.com/789701/90004808-91f24400-dc96-11ea-8a0a-3d0d8fd524f9.png)

The support in the Terraform Provider has been already merged:
https://github.com/GoogleCloudPlatform/magic-modules/pull/3758

[2020-08-12 15:30] bharathkkb commented on #624
Happy to review a PR for this. An example PR adding something similar: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/528

[2020-08-13 10:20] PsychoSid opened #626 "ASM Module Fails to Apply"
Every night I tear down my deployment and bring it up the following day (the names remain). I mention this as it might be due to previous credentials

Every day since the update to v0.11 modules the ASM module doesn't complete correctly.

The initial run fails with:-
[code]
An immediate attempt to re-apply also fails:-
[code]

If I then run gcloud..get-credentials and re-apply everything is good.

[2020-08-13 11:11] mous2890 opened #627 "Unable to destroy cluster when configure_ip_masq is set to true"
Currently have 3 GKE clusters built using this module however configure_ip_masq was not enabled. I needed to ensure my pods were having their IPs masq'd and NAT'd to use the Node IP so i found the option to enable ip-masq in GKE. After I enabled configure_ip_masq and applied the terraform plan, i am no longer able to destroy my GKE clusters.

Here is my terraform with the ip-masq config set:
[code

[2020-08-13 13:28] mous2890 commented on #627
Upgraded to latest version v11.0.0 of the module and the issue persists.

[2020-08-13 13:47] sp185503 opened #628 "ASM Module Fails During Terraform Apply"
Getting the following error when I try a TF apply.  Tried a few times and also did `gcloud container clusters get-credentials` prior to running TF commands in case this was an issue but still no luck.
[code]

[2020-08-13 15:01] morgante commented on #628
What version of gcloud do you have installed? You might want to try updating it.

[2020-08-13 15:05] PsychoSid commented on #628
I have the latest:-
[code]
It happens every new apply.
Thanks.

[2020-08-13 15:08] morgante commented on #628
@bharathkkb Can you PTAL?

[2020-08-13 15:09] morgante commented on #626
Interesting, looks like we might need to add a timeout between cluster creation and attempting to add to the hub. /cc @bharathkkb

[2020-08-13 15:09] sp185503 commented on #628
I personally have an older version.

[code]

[2020-08-13 15:13] morgante commented on #628
@sp185503 Can you upgrade to the latest version and see if you still encounter this issue?

[2020-08-13 16:15] bharathkkb commented on #628
@sp185503 yes this is due to older gcloud. Could you try an update or set `skip_gcloud_download=false`?
https://cloud.google.com/sdk/docs/release-notes#29500_2020-06-02

[2020-08-13 16:37] m0ps opened #629 "master_global_access_config is going to be applied each run"
master_global_access_config is going to be applied during each terraform run
[code]
It was introduced in v11.0 release.

The same issue was with pod_security_policy_config, but it was fixed in v10.0 release (https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/commit/6069ece9cd12acbbba8ff16ab0cbc9b17bc47985)

[2020-08-13 16:54] morgante commented on #629
What configuration are you using?

[2020-08-13 17:04] jakubpawlowski opened #630 "not a valid Win32 application error on a Windows machine"
I'm trying to run example from examples/safer_cluster folder and getting the following error:
[code]

This seems to be caused by this commit;
65172dea06923cb8f2771d06cba5e9ef2547d9da Marshall Ford* 18/06/2020 03:18 fix: Use gcloud module for scripts, closes #401 (#404)

In particular going from local-exec provisioner:
[code]
to using "terraform-google-modules/gcloud/google" (and now: "terraform-go

[2020-08-13 17:05] m0ps commented on #629
I didn't define this option in my configuration, it enabled by default.

[2020-08-13 17:17] bharathkkb commented on #630
I think this should be a fix in the gcloud module and we should be able to fix it by adding a conditional count in that external data resource which respects gcloud module`enabled`.

[2020-08-13 17:43] morgante commented on #629
Hmm it looks like this is actually a provider issue since I don't see any issue with the block we're generating. Please file an issue there: https://github.com/hashicorp/terraform-provider-google/issues

[2020-08-13 17:43] #629 closed

[2020-08-13 17:44] morgante commented on #629
As a workaround, you can disable master global access with `master_global_access_enabled = false`.

[2020-08-13 19:05] bharathkkb commented on #629
I think there might be a bug based on my spot check. Toggling `master_global_access_enabled = false` after initially creating does not actually make it false. I will dig into later to confirm but it does seem like a provider issue.

[2020-08-13 19:18] bharathkkb commented on #630
@morgante reopening this so we can track the migration for GKE module from [current gcloud `1.3.0`](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/3900061c323aec712c74f3e63e8b10898ae406e2/autogen/main/cluster.tf.tmpl#L543) to `~>2.0` with this fix.

[2020-08-13 20:00] sp185503 commented on #628
@bharathkkb Upgrading gcloud actually worked.  Thanks again!

[2020-08-13 20:00] #628 closed

[2020-08-13 20:11] bharathkkb commented on #626
Hi @PsychoSid
What gcloud version are you on?

[2020-08-13 20:11] bharathkkb commented on #628
@sp185503 np glad it worked out 😄

[2020-08-14 05:16] PsychoSid commented on #626
v305 which is the latest I believe

[2020-08-14 05:41] PsychoSid commented on #626
I looked at this again this morning when bringing up my cluster. It seemingly does need a wait as the cluster is "RECONCILING" if I wait until it's in "RUNNING" before rerunning the apply then it goes through just fine.

Thanks.

[2020-08-14 16:59] #624 closed

[2020-08-17 17:52] abdelhegazi opened #632 "Unable to create windows nodepool on GKE cluster"
In GKE "This is my first time to provision a cluster with windows node_pool"
I am calling module
[code]
I had to define two pools one for linux pool required by GKE and the windows one we require, terraform always succeeds in provisioning the linux node_pool but fails to provision the windows one and the error message
[code]

 I tried many places to set this metadata values but I coldn't get it ri

[2020-08-18 05:24] bharathkkb commented on #626
@PsychoSid I think it makes sense to wait for the cluster to reconcile before we proceed. We can probably target this once we have https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/611. I have also noticed that with smaller cluster sizes ASM installs tends to force a master reconciliation which might be why it enters in `RECONCILING` before creating the hub member

[2020-08-18 05:31] bharathkkb commented on #632
Hi @abdelhegazi
Have you tried setting `identity_namespace = null` and `node_metadata="SECURE"` in the beta-private-cluster-update-variant module? This should disable WI.

[2020-08-18 07:12] PsychoSid commented on #626
Thanks it's a 100% reproducible for me with my config/setup (it didn't happen with v0.10 - although v0.11 fixed my destroy issue !) I haven't included the .tfvars, or the backend type stuff here.
[issue626.txt](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/files/5088796/issue626.txt)

Thanks

[2020-08-18 16:00] NeckBeardPrince opened #633 "Error: Invalid count argument - gke.gcloud_delete_default_kube_dns_configmap/terraform-google-gcloud-1.4.1/main.tf line 57, in resource "random_id" "cache""
* Replace the default kube-dns configmap if stub_domains are provided
I'm not using stub_domains but I get this error when doing a destroy.

[code]

[2020-08-18 20:46] abdelhegazi commented on #632
Hi @bharathkkb Thanks a lot but I tired this before and today again it didn't really work out.

This is how i set these two parameters where I am calling the module

[code]
And this is the error message, same as before as usual it only provisioned the linux one but not the windows node_pool

[code]

[2020-08-18 22:59] starkenburgs opened #634 "Document GKE/K8s version compatibility"
If there are any compatibility restrictions between versions of the modules and version of GKE/K8s (or lack of restrictions) in the Compatibility section of the README, in order help avoid any ambiguity.

 https://github.com/terraform-google-modules/terraform-google-kubernetes-engine#compatibility

[2020-08-18 23:06] abdelhegazi commented on #632
just an update, this command seems to have worked finally but from the command line, how on earth this is different to what I have done before to the terraform parameters, its all the same, and here surethe workload-metadata is very specific to that node-pool but I really struggle to get this through to terraform

[code]

Any idea on translating these to terraform, thanks ?

[2020-08-18 23:10] morgante commented on #634
There are no restrictions, we will add them if there are.

[2020-08-19 07:49] bharathkkb commented on #632
@abdelhegazi I was able to make it would with these settings. Notable changes include `enable_integrity_monitoring = false`on Windows pool, `node_metadata = "EXPOSE"`, `network_policy = false`, `identity_namespace = null` etc. Full config below. I think the error being surfaced is not entirely correct, but it probably requires a fix at the GKE API layer. Let me know if this works for you.
[code]

[2020-08-19 10:25] abdelhegazi commented on #632
Thanks a lot @bharathkkb
This definitely got the cluster happy with both node_pools provisioned through terraform, I don't how to report this to you guys, is there any process to make this in process or at least to make sure the APIs are addressing this issue. I honestly didn't expect I need to disable WI on the whole cluster I thought disabling it only on the windows one should be enough

[code]

[2020-08-19 16:16] bharathkkb commented on #632
@abdelhegazi Glad it worked 😄 As this more of feature request/enhancement territory, I believe [GCP support](https://cloud.google.com/support/docs) would be the best way.

[2020-08-19 20:02] linde opened #636 "ACM Policy Controller defaults to enabled with library installed though these are off by default in the product"
thanks to @williamjiuchengcai for flagging, but we have default behavior for our ACM terraform module that differs from the main product. this is the case for the following:

- [enable_policy_controller](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/19a9e9c57b94d1332867a6c29b052e99785e2820/modules/acm/variables.tf#L81)
- [install_template_library](https://gith

[2020-08-19 20:10] abdelhegazi commented on #632
Thanks a lot @bharathkkb really appreciate your help in sorting this out.
Have a great day and I will close this issue.

[2020-08-19 20:10] #632 closed

[2020-08-20 07:18] jai commented on #633
I'm getting this error in our CI environment (Github runner) but not when running `terraform destroy` locally. Trying to figure out what's going on to cause the difference.

[2020-08-20 07:29] bharathkkb commented on #626
@PsychoSid We encountered something similar with ACM today where master was unavailable for around ~1m after the CRDs where applied producing a very similar ` dial tcp endpoint:443: connect: connection refused` error.

I think having some kind of precondition check to make sure endpoint is available and if not a retry mechanism with a backoff might be the best approach. Happy to hear any thoughts

[2020-08-20 07:33] bharathkkb opened #637 "GKE Hub enhancements"
Currently we support GKE hub membership registration via SA key. Moving forward we should also consider supporting hub memberships via [Workload Identity](https://cloud.google.com/sdk/gcloud/reference/alpha/container/hub/memberships/register#--enable-workload-identity) and via [kubeconfig](https://cloud.google.com/sdk/gcloud/reference/alpha/container/hub/memberships/register#--kubeconfig) for non

[2020-08-20 08:20] bharathkkb commented on #633
Hi @NeckBeardPrince @jai
Are you setting `gcloud_skip_download`? If you could post a sample config, I can try reproducing.

[2020-08-20 08:48] abdelhegazi commented on #587
@HarshalRane23 provisioning a cluster with windows node_pool requires at least one more linux node_pool for other critical services like controllers, DNS, kubeproxy ..etc

This is your issue, you seem to have only one item in your pools list you  need to add one more with linux see example below:

[code]

[2020-08-20 08:50] abdelhegazi commented on #426
@hornetmadness have you got this sorted btw either here or within terraform if you opened an issue/

[2020-08-20 10:25] jai commented on #633
Nope not setting `gcloud_skip_download`.

Here's a link to a failing test run (using Terratest): https://github.com/Honestbank/terraform-gcp-gke/runs/1006431810?check_suite_focus=true

[2020-08-20 12:23] jai commented on #633
This seems to be an issue with Terraform 0.13. Running locally with 0.12.29, 'terraform destroy' works fine with no issues.

[2020-08-24 04:37] jai commented on #633
@bharathkkb anything I can help re: troubleshooting? lmk

[2020-08-25 06:50] bharathkkb commented on #633
@jai thanks for the update and the link to the test.
- Is it possible to test `0.12.29` in the Action?
- Could you try with the `v10.0.0` of this module?

I will also give this a go this week :)

@NeckBeardPrince are you also running into this with tf0.13?

[2020-08-25 07:59] NeckBeardPrince commented on #633
Yeah running 0.13. On Tue, Aug 25, 2020 at 1:50 AM, Bharath KKB <notifications@github.com> wrote:
@jai thanks for the update and the link to the test.

Is it possible to test 0.12.29 in the Action?
Could you try with the v10.0.0 of this module?

I will also give this a go this week :)
@NeckBeardPrince are you also running into this with tf0.13?

—You are receiving this because you were mentioned.R

[2020-08-25 16:44] morgante commented on #587
@HarshalRane23 Did the above suggestion help?

[2020-08-25 17:44] abdelhegazi commented on #587
if it helps, I had lots of issues provisioning a cluster with windows node_pools, follow  this issue up https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/632  I got my issue resolved at the end it was similar to yours

[2020-08-26 04:02] kolesnikovIV opened #643 "has no vertical pod autoscaling"
current module has no vertical pod autoscaling support, but Terraform has, let's add.
https://www.terraform.io/docs/providers/google/r/container_cluster.html#vertical_pod_autoscaling
Here is my PR.
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/642

[2020-08-26 04:37] bharathkkb opened #644 "Promote previously beta features to GA modules"
Quite a few beta features are now GA and we should enable these in our GA modules.
TODO:
- release_channel https://github.com/hashicorp/terraform-provider-google/pull/6955
- database_encryption https://github.com/terraform-providers/terraform-provider-google/pull/6757
- workload_identity_config https://github.com/hashicorp/terraform-provider-google/pull/6490
- enable_shielded_nodes https://github.

[2020-08-27 02:30] nguyenhoaibao opened #645 "Add support for cluster_telemetry config"
Currently "google_container_cluster" resource has a [`cluster_telemetry`](https://www.terraform.io/docs/providers/google/r/container_cluster.html#cluster_telemetry) option that support enable/disable system logging. Can we support that in this module?

[2020-08-27 02:36] bharathkkb commented on #645
Hi @nguyenhoaibao
Happy to accept a PR for this!

[2020-08-28 04:24] bharathkkb commented on #633
@jai @NeckBeardPrince so this seems to have been a bug with `0.13.0`. I was able to reproduce it with `0.13.0` and when testing with `0.13.1` it seems to be fixed. Could you try this with `0.13.1`?
ref: https://github.com/hashicorp/terraform/issues/25851

[2020-08-28 05:42] jai commented on #633
Terraform Cloud is currently getting 403s from Github so I can't test it on there just yet 😂 #devopslife

I'll update soon when I try to run locally.

[2020-08-28 20:32] bharathkkb commented on #627
Hi @mous2890

I was able to successfully reproduce it using tf `0.12.28` when I do it via
[code]
However a regular `terraform destroy` seems to work fine. It is also worth noting that the above plan and destroy approach seems to be working with `0.13.x`. So this seems like a bug in Terraform `0.12.x`.

[2020-08-30 17:44] ameer00 opened #646 "Running ACM module on two GKE clusters (concurrently) fails the first time"
My code is as follows:

[code]

The first time I get the following error:
[code]

Rerunning the second time works.

[2020-08-30 19:15] bharathkkb commented on #646
Hi @ameer00
Does one of them succeed the first time? I wonder if it's because downloading to the same `${path.root}/.terraform/tmp/config-management-operator.yaml` is causing a race condition.

[2020-08-30 20:23] bharathkkb commented on #646
@ameer00 if you get a chance, please try the linked PR.
[code]

[2020-08-31 00:12] ameer00 commented on #646
Thanks @bharathkkb for getting on this super quick and yes confirming that previous comment change works great

[2020-08-31 16:34] Nan2018 opened #648 "disable cloudrun in place"
I tried turning off cloudrun on a cluster which was created with `beta-public-cluster`. However, setting `cloudrun = false` does not turn it off. Destroying and recreating the cluster worked.

Is there anyway to disable cloudrun in place?

[2020-08-31 19:22] CMorton737 commented on #630
Would you mind providing some information around a timeline for when this fix will be integrated into this module?  As mentioned by OP, this completely blocks usage of this module on windows.

[2020-08-31 19:28] robertb724 commented on #363
@morgante I have been trying to use this with the `safer-cluster` module. It appears the issue is due to the fact that this setting is meant to be enabled on a per `node-pool` setting while in the module it is set at the cluster level and applied to all node-pools. In the sandbox docs it is states that there must be at least one node pool with the sandbox disabled.

https://cloud.google.com/kubern

[2020-08-31 19:39] morgante commented on #363
Thanks for digging into it. It looks like we will indeed need to add a per-node-pool setting for sandboxing since we can't always rely on the default node pool.

[2020-08-31 19:40] morgante commented on #630
@CMorton737 If you exclude the `stub_domains` param this should be avoidable. Can you try that workaround?

[2020-08-31 19:49] #646 closed

[2020-08-31 20:13] morgante commented on #648
Please file an issue upstream: https://github.com/hashicorp/terraform-provider-google/issues

[2020-08-31 20:13] #648 closed

[2020-09-01 09:27] MartinsPuspurs opened #649 "GKE nodes not registering"
GKE is not working with kubernetes version 1.16, have noticed it also for 1.15

Using terraform v0.12.28
[code]
Reproduction:
[code]

Used zone:
asia-southeast2

Code:
[code]
My initial guess is that node pool name with random string after it does not correspond to labels automatically added to instances or it is problem with region

[2020-09-01 14:50] Loudsi commented on #630
@morgante what do you mean by excluding stud_domains ?
I m trying to run the exemple on the welcome page and i m facing the same issue : https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/11.0.0

[2020-09-01 17:11] morgante commented on #649
Can you please check the error logs / event log in GCP? I don't see any obvious issues in your config.

[2020-09-01 17:24] bharathkkb commented on #649
Hi @MartinsPuspurs
Does your VPC/SVPC have a `default-deny-all egress` rule? It looks like the GCP hosted cluster master is unable to reach the nodes.

[2020-09-01 17:25] bharathkkb commented on #633
@jai @NeckBeardPrince closing this issue, feel free to reopen it warrants further investigation

[2020-09-01 17:25] #633 closed

[2020-09-01 17:36] morgante commented on #630
@Loudsi Try setting `skip_provisioners = true` in your module config.

[2020-09-01 17:36] bharathkkb commented on #630
@morgante I think the problem was gcloud was not respecting `enabled` for the data resource so regardless of `stub_domains` or `skip_provisioners` this gets triggered. If we can release[ the patch version](https://github.com/terraform-google-modules/terraform-google-gcloud/pull/74) for gcloud I can try to upgrade this.

@Loudsi could you try with `10.0` version of this module as a short term worka

[2020-09-01 17:39] bharathkkb commented on #627
@mous2890 closing this out as it seems to be a bug in TF and we have identified some workarounds. Feel free to reopen if needed.

[2020-09-01 17:39] #627 closed

[2020-09-01 17:44] bharathkkb commented on #616
@moos3 In addition to the resource linked above, we also have [an example](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/examples/gke_shared_vpc) within Project Factory that makes use of [shared_vpc_access submodule](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/modules/shared_vpc_access) to grant the necessary r

[2020-09-01 17:44] #616 closed

[2020-09-01 17:49] bharathkkb commented on #495
closed via #597

[2020-09-01 17:49] #495 closed

[2020-09-01 17:50] bharathkkb commented on #345
Closing this out as we could not repro. @medarz feel free to reopen for further investigation

[2020-09-01 17:50] #345 closed

[2020-09-01 20:13] robertb724 commented on #502
@bharathkkb I am running into this same issue, could you elaborate on the workaround? I am not sure how to use `data` to grab the public_endpoint

[2020-09-02 02:01] ameer00 opened #650 "Switching sync_repo in ACM module does not update on GKE"
Here is my code:
[code]

I commented out the original `sync_repo` and added the new one. Checked cluster status after apply and it still points to the old one.

tf plan seems to show the correct value for the new `sync_repo`.

[code]

Applies without issues.

Logs from the `git-importer`, as well as the `configmanagement` resource in the cluster, shows the old `sync_repo`.

Logs:
[code]

Configman

[2020-09-02 02:29] bharathkkb commented on #650
Hi @ameer00
Looks like we are not tracking the file content in create triggers and hence it is ignoring the file content changes. I'll open a PR with the fix.

[2020-09-02 03:15] bharathkkb commented on #650
@ameer00 if you get a chance, please try the branch with fix.
[code]

[2020-09-02 06:07] MartinsPuspurs commented on #649
Thanks for replies. @bharathkkb No, this is my VPC with 2 rules, allowing https and ssh ports for few IPs, but after even trying to make it manually looks it is not the issue with the module but GCP itself for this region, I will close this.

[2020-09-02 06:07] #649 closed

[2020-09-02 07:42] Loudsi commented on #630
@morgante @bharathkkb thanks for your support, indeed adding skip_provisioners = true in the module config do not work.
And unfortunatly i m using the 0.13.1 version of terraform which is not compatible with gke module version 10. On my side for now it's ok, i will wait for the new patch/release.

[2020-09-04 13:58] RiRa12621 opened #653 "Link To examples is broken on https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/11.0.0"
The link on line 29 in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/README.md is broken when rendered on registry.terraform.io, leading to https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/examples

This can be fixed by using an absolute link instead of a relative link

[2020-09-04 20:57] #653 closed

[2020-09-05 15:06] eahrend commented on #302
@ideasculptor what did you have to do to resolve this? I tried modifying the service account I'm using to create the GKE cluster and I'm still getting that error. Do you have any code snippets I can use?

[2020-09-05 18:27] bharathkkb commented on #302
Hi @eahrend
We have a list [here](https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc#summary_of_roles_granted_on_subnets). Additionally we also have [an example](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/examples/gke_shared_vpc) within Project Factory that makes use of [shared_vpc_access submodule](https://github.com/terraform-g

[2020-09-05 19:05] ideasculptor commented on #302
I don't remember, offhand, but the codebase I was working on is open-source - https://github.com/ideasculptor/gcloud-templates/tree/master/gke and the repo which plugs all the pieces together is here: https://github.com/ideasculptor/gcloud-reference-arch.  I'll save you digging through it - it looks like the configuration repo wasn't setting any value for project_roles explicitly, which is the set

[2020-09-05 19:22] eahrend commented on #302
@ideasculptor sounds good, I'll take a look.

@bharathkkb Yeah, I checked the project-factory, but I'm trying to create the host project and the service projects in one go, which is why I initially used the network module to manually attach the subnets/projects to the host project. I'm gonna take a stab at doing this and see if we can just leverage project factory to create/update a host vpc.
http

[2020-09-07 07:10] FL3SH opened #655 "[Bug] Kubernets/helm provider fails when modules/auth is being used"
My tf:
[code]
Log:
[code]
Also if I use helm it fails with:
[code]

It will only fail with the first `apply` if I run `terraform apply` again everything is working.

[2020-09-07 07:22] brancz opened #656 "GKE Dataplane v2 provisioning support"
I apologize in advance if this is the wrong place or if this already exits (I may just not be able to find how to do it if so I would appreciate a link to the docs).

Google recently [announced Cilium support in the form of the "dataplane-v2" feature](https://cloud.google.com/blog/products/containers-kubernetes/bringing-ebpf-and-cilium-to-google-kubernetes-engine), it would be great if it was poss

[2020-09-07 16:24] mik-laj commented on #644
+1

[2020-09-07 19:27] bharathkkb commented on #656
Hi @brancz
Looks like the provider has not yet exposed this, so I have gone ahead and opened an issue there to confirm. Once this is added to the resource, we can add this to the module.

[2020-09-07 19:49] bharathkkb commented on #655
Hi @FL3SH
Could you post the complete logs, it seems to me like `module.gke_auth` is not waiting for `module.gke` to be resolved.
It is also interesting that it says `http://localhost/api/v1/namespaces`, it should be endpoint IP.
Finally, if you are using this GKE module, you can also auth with the kubernetes/helm provider directly, without using the `auth` module. [Example](https://github.com/ter

[2020-09-07 20:03] bharathkkb commented on #502
Hi @robertb724
I think I used something like
[code]

[2020-09-07 20:21] FL3SH commented on #655
Probably `depends_on = [module.gke]` fix this problem. I have to confirm that.

[2020-09-08 10:38] FL3SH commented on #655
Thank you, `depends_on = [module.gke]` fixed my issue. Sorry, for my silly question.

[2020-09-08 10:38] #655 closed

[2020-09-08 23:18] #650 closed

[2020-09-09 15:17] robertb724 commented on #564
We are seeing this as well. Behavior is a little strange, we have tested multiple scenarios. Our goal is to add a second vpc and cluster together, we cannot do that directly.

- Empty state, empty project, try to create vpc with 2 subnets(and secondary ranges) and 2 corresponding clusters with `add_cluster_firewall_rules = true`: works fine

- State has vpc with 1 subnet and 1 cluster, try to add

[2020-09-10 04:50] cloud-pharaoh opened #661 "[bug] enable_gke_hub_registration variable not respected in asm module"
#611 introduced an issue where the enable_gke_hub_registration variable is no longer respected and the ASM module will try to register the cluster even when set to false.

I have 2 solutions:
1. Less elegant but compatible with 0.12
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/compare/master...CloudPharaoh:hub_enable_asm?expand=1

2. Requires 0.13
https://github.c

[2020-09-10 04:51] cloud-pharaoh commented on #661
@bharathkkb can you take a look at these solutions and let me know which one to submit PR for.

[2020-09-10 05:19] morgante commented on #661
We're not ready to require 0.13, so your first approach is probably better.

[2020-09-10 05:19] bharathkkb commented on #661
Hi @cloud-pharaoh
We can remove GKE hub from ASM. If users want they can now use the hub submodule directly. There is some context here #611

[2020-09-10 06:09] bharathkkb commented on #630
Hi @Loudsi
If you get a chance, can you check if the latest on main fixes issue with `skip_provisioners = true `?

[2020-09-10 07:28] PsychoSid opened #663 "Best way to do Anthos GKE Cluster with ASM / ACM"
Hi,

Looking for any "best" way of applying this as I have tried various ways but am getting issues such as [this](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/626)

If I use GKE/Hub/ASM/ACM modules I get duplicate SA accounts (as this hub membership is still in ASM)

With Policy Controller / Gatekeeper enabled I get issues with the ASM parts against the ga

[2020-09-10 10:47] kaaquist opened #664 "[BUG] - workload-identity sub-module"
Use:
Create a "service account" for an app.
[code]

Error:
[code]
I used it yesterday, and there it worked. Today it give me this here error. I can see you changed the version used from `1.4` to `2.0.2` -> [link](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/commit/b9493d5866cec787bcd34119ae8f5085b49acf4d)

[2020-09-10 14:21] bharathkkb commented on #664
Hi @kaaquist
We have not released a new version so this should still be using `11.1.0`. I assume this is terraform 0.13.x, could you provide the exact version and full logs?

[2020-09-10 14:39] bharathkkb commented on #663
Hi @PsychoSid

I have not had a chance yet, but I will add a check to kubectl module as [discussed here
](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/626#issuecomment-677423005)

Now that we have the hub submodule, we are looking to remove it from ASM https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/661

Could you expan

[2020-09-10 14:45] bharathkkb commented on #630
Hi @wer-mathurin
Can you check if the latest on main fixes issue with `skip_provisioners = true `? Version `11.1.0` does not have this fix but you can do something like
[code]

[2020-09-10 14:58] kaaquist commented on #664
Hi @bharathkkb . Sorry I forgot that in the original post.
[code]

Logs: (terraform plan w. TF_LOG=DEBUG).
[code]

[2020-09-10 15:06] kaaquist commented on #664
Just updated to terrafrom v.0.13.2 - still same error.
[code]
error:
[code]

[2020-09-10 16:19] jakubpawlowski commented on #630
I got the latest version and tested by setting skip_provisioners = true in examples/safer-cluster.
I can see still see the error when using skip_provisioners = true.
It goes away when skip_provisioners = false.

That's because there is the following in the beta-private-cluster module:
[code]

Definition of the flag:

It does seem like an abuse of the flag intended for something else. What if someo

[2020-09-10 17:09] bharathkkb commented on #630
@jakubpawlowski
Indeed, I believe it should be `enabled = ! var.skip_provisioners`. Reopening this to track.

[2020-09-10 18:32] bharathkkb commented on #664
So I was able to repo with 0.13.2 and this config below.
[code]
However this seems to be now resolved with #651
@kaaquist could you try with latest on main.

[code]

[2020-09-10 18:46] kaaquist commented on #664
That did the trick. Thanks!
Changing the `source` to point to the latest on main.
So from ->
`source    = "terraform-google-modules/kubernetes-engine/google//modules/workload-identity"`
to ->
` source    = "github.com/terraform-google-modules/terraform-google-kubernetes-engine//modules/workload-identity"`

[2020-09-10 18:52] bharathkkb commented on #664
great, this fix should be available in our next release.
Closing this out.

[2020-09-10 18:52] #664 closed

[2020-09-10 18:52] robertb724 commented on #502
@bharathkkb We were able to get that working, thank you. We have been noticing interesting behaviors with the data sources though that I can not find an explanation for, perhaps you might have more insight. Or perhaps there is a better place to post this.

- Suppose I have the following

[code]

This works fine, it seems the kubernetes provider does not query the `data.google_containter_cluster.te

[2020-09-10 20:27] jakubpawlowski commented on #630
Changing the condition indeed disables a lot of local-exec provisioners in gcloud/google module so that may be the right thing to do

[2020-09-11 12:25] wer-mathurin commented on #630
On my side when not specifying the flag everything work as expected.

[2020-09-11 15:03] gfthybridlabs commented on #663
Hi,

Thanks for this, appreciate the help.

1. Great, thanks again.

2. That would make sense.

3. Not had the time to spin up my test cluster today will do by Monday. It's around the "istio-system" namespace and the webhook. I will get more information. When I do it manually I exclude a bunch of namespaces from Policy Controller / Gatekeeper - this is one of them !

4. That's exactly it.

I will

[2020-09-11 15:53] bharathkkb commented on #663
Just an update regarding 4. This should now be fixed https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/664.

[2020-09-14 09:27] ivanblack19 commented on #426
Have the same issue, Any help ?

[code]

[2020-09-14 15:39] NightmareCinema opened #668 ""Provider configuration not present" errors after upgrading module version"
terraform version `v0.13.2`

I was trying to upgrade my `beta-private-cluster-update-variant` and `beta-public-cluster-update-variant` from `v10.0.0` to `v11.1.0` and suddenly got hit by the following errors:

[code]

Never had these errors before... would appreciate the life saving help.

[2020-09-14 15:41] morgante commented on #564
@robertb724 Do you mind sharing your Terraform config? I'm really curious why (2) is failing.

[2020-09-14 15:46] morgante commented on #668
Can you try adding a `required_providers` block in your Terraform config, as per [this](https://www.terraform.io/upgrade-guides/0-13.html#explicit-provider-source-locations)?

[code]

[2020-09-15 02:05] bharathkkb commented on #630
@jakubpawlowski fixed via #669

[2020-09-15 02:05] #630 closed

[2020-09-15 02:07] bharathkkb commented on #605
fixed via #611 and removed from ASM in #665

[2020-09-15 02:07] #605 closed

[2020-09-15 06:23] jakubpawlowski commented on #630
Thanks - it's working fine now with the flag set to true. Looking forward to having  this fixed released now :)

[2020-09-15 06:54] NightmareCinema commented on #668
That didn't seem to help sadly...
I'm curious as to whether am I the only one with `terraform version v0.13.x` dealing with this since I don't see any other complaints about it

[2020-09-15 11:49] BundyQ opened #673 "Unable to use for_each to create multiple clusters at once: nested provider configuration for "kubernetes""
I am sorry if this issue has been discussed before but I couldn't find anything about it.

We are currently trying to create multiple clusters at once using terraform's for_each. The idea behind this was to use terraform-google-modules/project-factory to create projects for different environments (dev, stg, prd, ...) and afterwards create the same resources for each project. Unfortunately when we

[2020-09-15 16:06] bharathkkb commented on #673
Hi @BundyQ
Yes this is one of the limitations I ran into while spot testing the release candidate. The only workaround to get for_each working was to remove that kubernetes provider block after which for_each worked.

@morgante as the recommended approach from 0.11 is [this](https://github.com/hashicorp/terraform/tree/guide-v0.13-beta/module-repetition#associating-provider-configurations-with-modu

[2020-09-15 16:11] morgante commented on #673
I'd like to avoid it if possible, as it introduces additional complexity for users and wiring them together is non-trivial.

[2020-09-15 16:54] morgante commented on #668
How about adding a block like this?

[code]

[2020-09-15 20:11] bharathkkb opened #674 "Remove gcloud_skip_download"
Remove `gcloud_skip_download` in favor of using env var approach
ref : https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/CHANGELOG.md#200-2020-08-12

[2020-09-15 20:18] bharathkkb commented on #661
fixed by #665

[2020-09-15 20:18] #661 closed

[2020-09-16 07:32] MrBlaise commented on #564
Hey! I just encountered the same problem. I am using the network module to create a VPC and I supply that to the gke (beta) module. I'd like to use `add_cluster_firewall_rules` to make sure Istio's admission controller will work fine in the private cluster.

[2020-09-16 08:06] redbaron opened #675 "Unable to bump cluster version while on the channel"
I am using `beta-private-cluster`  module and with https://cloud.google.com/kubernetes-engine/docs/security-bulletins#gcp-2020-012 I found strange situation, where I am forced to use console/gcloud upgrade to upgrade cluster version and can't use the TF module for this.

Module simply ignores `kubernetes_version` if release channel is set. Shouldn't it pass `kubernetes_version` to `min_master_vers

[2020-09-16 09:58] NightmareCinema commented on #668
That works! Many thanks @morgante !
Can this change be made to the module itself though?

[2020-09-16 13:38] robertb724 commented on #564
@morgante By configuration do you mean the full tf for the vpc and kubernetes or another configuration? Here is something I shared for what I think is a similar issue.

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/502#issuecomment-690619222

[2020-09-16 16:28] morgante commented on #668
No, Terraform doesn't encourage including provider configuration directly in modules: https://www.terraform.io/docs/configuration/modules.html#providers-within-modules

[2020-09-16 16:28] #668 closed

[2020-09-16 17:48] bharathkkb commented on #675
@redbaron Based on docs it does not seem to explicitly say we can use `min_master_version` and `release_channel` together. I will test it out. Also I believe `REGULAR` channel has the fix with [R30](https://cloud.google.com/kubernetes-engine/docs/release-notes-regular#september_15_2020_r30).

[2020-09-16 21:57] ivankorn commented on #675
@redbaron there is a catch: `kubernetes_version` works for the master version. `version` parameter in the `node_pools` list of maps works for the worker nodes version and only when `auto_upgrade` is `false`.

[2020-09-17 00:33] ivankorn commented on #675
Just tested `UNSPECIFIED`(default) channel upgrade to `1.15.12-gke.20` on tag `v8.1.0` and `UNSPECIFIED` upgrade  to `1.15.12-gke.20` on tag `v11.1.0`.

That works as expected:
`kubernetes_version` got master updated, `version` && `auto_upgrade=false` - got nodes updated.

Then on v11.1.0 I tried to play with the `release_channel`. `REGULAR` and `auto_upgrade=false` with both of the versions  `1.1

[2020-09-17 01:35] ivankorn opened #677 "Migrate module to terraform 0.13"
0.13 is here, with `for_each`, `depends_on` for whole modules and custom variables validation.

While `for_each` is more about code cleanup, the vars constraints should really speed-up re-using of the module as we can make API design reflected on vars constraints as well (combinations of variables, possible values etc).
F.e. [new precise variables validation](https://www.hashicorp.com/blog/custom-

[2020-09-17 01:46] bharathkkb commented on #677
+1 I think we will be targeting this sometime late Q4

[2020-09-17 01:52] bharathkkb commented on #677
Also on a different note, the variable validation is scoped to the defined variable. I am wondering how we can use that to validate the situation you mentioned above, i.e prevent user from setting both `release_channel` and `auto_upgrade`. I can see this being useful in other modules as well.

[2020-09-17 02:08] bharathkkb commented on #656
Hi @brancz
Thanks for adding it in the provider. When it is released, we can add it to our `beta` modules. An example PR would be https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/497

[2020-09-17 08:34] HarshalRane23 commented on #587
@morgante @abdelhegazi  Apologies for the delayed response, lost this mail that issue was resolved on 8th July only.
` shielded_instance_config {
               enable_integrity_monitoring = false,
               enable_secure_boot          = false
            }`
The issue was with **shielded_instance_config** Windows node does not support these features. so I disabled it and it worked as expected

[2020-09-17 08:37] morgante commented on #587
@HarshalRane23 If you're able to contribute it as an example (in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples), that could certainly be helpful.

Closing this issue since the underlying issue was solved.

[2020-09-17 08:37] #587 closed

[2020-09-17 08:52] redbaron commented on #675
@ivankorn , I was able to update versions on both master and nodes via console, and I presume it is possible to so via gcloud as well, without disabling node autoupgrade or changing release channel. It contradicts your findings, does it mean that TF provider imposes extra limitations, which are not present in GCP API?

[2020-09-17 09:18] ivankorn commented on #677
[The new syntax](https://www.hashicorp.com/blog/custom-variable-validation-in-terraform-0-13) allows calling functions within condition of the validation block and even more cool those functions can accept variables as parameters as well. So we should be able to pretty flexible validate vars against other vars.

[2020-09-17 10:33] ivankorn commented on #675
@redbaron looks like GCP API doc explicitly says that the channel clusters are not supposed to be manually updated. So you kind off should never touch it as far as I understand. Google does the upgrade job under the hood. If the web interface allows you doing the upgrade on channel-enabled cluster - then it's indeed a little confusing and we may want to ask Google engineers to comment on that when

[2020-09-17 18:01] mbrowne commented on #413
For me, this error went away when I copied all the files in this module to a local directory, `source = "./beta-private-cluster"` (instead of `source = "terraform-google-modules/kubernetes-engine/google//modules/beta-private-cluster"`).

I'm also using terragrunt, so that might be a complicating factor.

Earlier I had tried setting `skip_provisioners = false`, which supposedly should have prevente

[2020-09-18 15:07] dpatrick commented on #580
Hi folks!

I was about to take a look at converting this to use the native k8s secret object instead of the wrapper script, but wanted to check in and make sure that solution is still the suggested way of handling this.

[2020-09-18 15:18] morgante commented on #580
I think using the native k8s object is probably still a good idea. Happy to look at a PR!

[2020-09-19 00:00] adhil0 opened #680 "Change Machine Type of Default Node Pool"
Is there a way to change the machine type of the default node pool using this module, like you can using the `google_container_cluster` Terraform resource? Ex:
[code]
Or am I better off creating a new node pool?

[2020-09-19 00:04] morgante commented on #680
Our recommended practice is that you make a separate node pool (using the `node_pools` variable) and explicitly manage that instead.

[2020-09-19 00:04] #680 closed

[2020-09-19 00:05] morgante commented on #677
I'm not sure we should "upgrade" to Terraform 0.13 for its own sake (we already _support_ 0.13). Instead I'd like to see any upgrade be tied to direct code or feature enhancements.

[2020-09-20 06:14] max-sixty opened #681 "Can't get the example to work"
I'm loath to post an issue with "Duh it doesn't work", but I can't get the example to work after a few tries. Regardless of the changes I make, I get the following error:

[code]

Here's the content of `main.tf`, almost exactly copied from the README:

[code]

I'm new to terraform — am I missing something seemingly obvious?

[2020-09-20 21:17] bharathkkb commented on #681
Hi @max-sixty
The `default` network does not have the secondary ranges. You can try this example, which also creates a network for you https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/examples/simple_regional_with_networking

[2020-09-20 21:34] max-sixty commented on #681
@bharathkkb thank you! This works. I'll close the issue.

[2020-09-20 21:34] #681 closed

[2020-09-21 19:06] dpatrick commented on #580
So I started work to make this a native secret object. But in my testing, that actually didn't resolve the problem. The secret is still created with the added character at the end. I'm not sure how to proceed at this point, or where the problem could be coming from.

[2020-09-21 19:23] morgante commented on #580
How are you injecting the `ssh_auth_key` value? You might want to test adding an output which reflects it back, because i suspect your issue might be coming from outside the module code.

[2020-09-21 19:31] dpatrick commented on #580
I did another test in which I allowed the module to create the tls secret, which did succeed. I then took the values from the keypair that the module generated, and updated my repo and terraform to manually use that keypair. Once again, the secret was created with the additional character at the end.

I've been injecting the private key two ways in my testing. First as literal string in the terraf

[2020-09-21 19:46] bharathkkb opened #683 "ASM module add set gcloud.project.environProjectNumber"
ASM install now has an additional command `kpt cfg set asm gcloud.project.environProjectNumber ${ENVIRON_PROJECT_NUMBER}` that needs to added in script

[2020-09-21 20:03] morgante commented on #580
If you add an output, is the extra character there?

[code]

[2020-09-21 20:06] dpatrick commented on #580
When I do that, the output does not have the extra `%` at the end

[2020-09-21 21:06] dpatrick commented on #580
Alright. So as a final test to try and eliminate potential pain points... I took the setup completely out of the module. I ran the following terraform file

[code]

And the secret was still created in the cluster with the extra character added to the end (while the output was still the correct value that it should be) Any tips on where to go from here? It's definitely not a problem with this modul

[2020-09-22 04:30] morgante commented on #580
Thanks for investigating further. Unfortunately it does seem like this probably isn't a module issue at this point, so I'm going to close.

My recommendation would be to investigate further to see if this issue also occurs if you use `kubectl` to directly create the secret (outside Terraform). At that point, it seems plausible that this might be an issue with your secret encoding process.

[2020-09-22 04:30] #580 closed

[2020-09-22 05:53] meganzhao10 commented on #564
Had the same error with `terraform destroy`, adding the condition check for the for loop (real fix) fixes it for me

[2020-09-22 10:29] RaccoonDev opened #684 "GKE ASM Module - Internal Load Balancer for Istio Gateway"
Hi,

Is there a way to configure Istio gateway to be Internal Load Balancer instead of Public Load Balancer?

The feature is very needed to protect the resources from being publicly available. If the feature already there, please add that to the configuration.

Best regards,
Dmytro

[2020-09-22 10:58] willcocks opened #685 "node_locations not working for nodepool"
Seems to ignore what is set, and always creates in all zones.

Need to pin node pool to one zone in multi-zone cluster.

node_locations    = "europe-west3-b"

results in nodes in a,b,c.

            "node_locations": [
              "europe-west3-a",
              "europe-west3-b",
              "europe-west3-c"
            ],

terraform-google-modules/kubernetes-engine/google 11.1.0

Terraform v0

[2020-09-22 15:28] gfthybridlabs commented on #684
I think setting the `cloud.google.com/load-balancer-type` annotation to `"internal"` will do it.

[2020-09-22 16:42] morgante commented on #685
Can you try using the beta module? We currently only support setting `node_locations` in the beta modules.

[2020-09-22 17:02] SrikantPatil88 opened #686 "How to add tag to nodes"
Hi Team,

There is some specific requirement in which we want to add network tag to the GKE nodes,
I know its possible in the "node config" but I believe its not available in the code.

Please let me know if it is already available? or need to update the code, if yes then i will raise a pull request for the same.

Thanks,

[2020-09-22 17:03] morgante commented on #686
You can configure these using the `node_pools_tags`. Example here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/9d32d18b1c4c44dd0968968d18fa694a23d364bc/examples/node_pool_update_variant_beta/main.tf#L122

[2020-09-22 17:03] #686 closed

[2020-09-22 17:59] SrikantPatil88 commented on #686
Hi Morgante,

Thank you for the reply.

Just one question, When i update the tag it rebuild node pool, mean service will be down.
Is there any other option to add tags without having downtime or deleting nodes?

Thanks

[2020-09-22 18:02] morgante commented on #686
No, nodes cannot have their tags changed without downtime.

If you want to keep your cluster stable, I recommend adding an additional node pool with the new settings then deleting the old node pool once your new pool is stable.

[2020-09-22 18:04] SrikantPatil88 commented on #686
Thank you @morgante for confirmation.

[2020-09-22 19:14] tibers opened #687 "Feature Request: Add a TF output for the kubeconfig"
I want to stand up a GKE cluster and then when we're ready to go - I want terraform to handle the installation of some apps via the helm module: https://registry.terraform.io/providers/hashicorp/helm/latest/docs

To do that, we either need to drop a kubeconfig on the disk somewhere, or feed helm the keys we've dropped somewhere. What I want to avoid doing though is a `local_exec` and just kinda so

[2020-09-22 19:20] morgante commented on #687
Check out the auth submodule, it should give you what you need: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/auth

[2020-09-22 19:20] #687 closed

[2020-09-22 21:06] dpatrick commented on #580
I appreciate all of your help in trying to work through this. I finally found that the issue was not having a newline at the end of the manually supplied cert value. 🤦

[2020-09-22 21:08] morgante commented on #580
@dpatrick Glad you got it working!

[2020-09-23 00:39] bharathkkb commented on #684
Hi @RaccoonDev
@gfthybridlabs is correct, that annotation should provision an ILB for the gateway. Feel free to reopen if any questions.

[2020-09-23 00:39] #684 closed

[2020-09-23 00:49] bharathkkb commented on #677
@morgante yes I believe we were trying to figure out a way to prevent some GKE misconfigs from occurring by using the new validation feature in 0.13.

@ivankorn I meant that we wont be able to validate across two variables. Consider an example like this
[code]
this throws an error
[code]
In our case here we would need both the `var. release_channel` and `var. auto_upgrade` to make a validation, ri

[2020-09-23 00:58] bharathkkb commented on #675
@redbaron I tried to repro via cloud console but the drop down is only giving me one option. For you did it allow multiple versions? @ivankorn's findings seem accurate to me and that is my understanding as well, if GKE manages release channel we cannot explicitly set version.
![image](https://user-images.githubusercontent.com/10992720/93952084-99812000-fd0d-11ea-8d29-ea5ef4ddb252.png)

[2020-09-23 01:56] bharathkkb commented on #673
I think there are two options:
i) We just remove the k8s provider from module and give instructions on how to wire the k8s provider (non trivial like you mentioned). Perhaps an upgrade guide and few examples would help with the transition?

ii) Submodule approach where  we get necessary info using the `google_container_cluster` data source and use that to instantiate the k8s provider. This still m

[2020-09-23 02:03] bharathkkb opened #688 "Investigate ACM with cookie_file compatibility"
Currently we [support](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/6399ca9e9040a0d8e6c1b7010c7b7009dbc70bca/modules/k8s-operator-crd-support/main.tf#L20) `cookie_file` for ACM git auth but it looks like we are not actually [creating a k8s secret ](https://cloud.google.com/anthos-config-management/docs/how-to/installing#git-creds-cookiefile)with the `cookie_f

[2020-09-23 16:02] redbaron commented on #675
@bharathkkb ,

It all depends on timing. At the time of R29.1 release cluster was on default version, but another version was available as an upgrade.

I can see that @ivankorn , didn't test explicitly the case where channel is set, auto upgrade is true and `min_master_version` is given value as well. I suspect it might be the key for updating to non default versions

[2020-09-23 16:08] morgante commented on #675
I'm of the opinion that we explicitly should discourage manually setting a version when using release channels. The intent of release channels is to allow Google to manage the cluster version on your behalf (with a particular cadence) and accepting a version undermines that.

[2020-09-23 17:40] redbaron commented on #675
@morgante , in general I'd agree with you, but like was the case with R29.1, new version with security or bug fix important to you can be added to the channel without making it a mandatory upgrade, just an option to upgrade to. There should be a way to get it without going to the console, don't you think?

[2020-09-24 16:22] PCatinean commented on #673
Hi, Terraform 13 suggests the following: `This module can be made compatible with count by changing it to receive all of
its provider configurations from the calling module, by using the "providers"
argument in the calling module block.`

I still don't get how you can bypass this with the given message. When you say you remove the provider block @bohdanyurov-gl  you mean in the local modules?

[2020-09-26 13:48] tvvignesh opened #690 "Invalid count argument"
Hi. I tried setting up gke private cluster (safer-cluster-update-variant) and whenever I make any errors (accidentaly giving the wrong image name or machine type and so on), the apply fails (not detected in plan) which is understandable.

But, if I try fixing the issue, and run plan and apply again, I get this:

<img width="591" alt="Capture" src="https://user-images.githubusercontent.com/1165845/

[2020-09-26 20:39] bharathkkb commented on #690
Hi @tvvignesh
Could you let me know which version of TF and GKE module and if not `version = "~> 11.1.0"` could you try that?

[2020-09-27 10:05] tvvignesh commented on #690
@bharathkkb Hi. Running in TF version v0.13.2 and GKE 1.18.6-gke.4801 an latest version of this module.

[2020-09-27 23:53] bharathkkb commented on #690
@tvvignesh could you provide your config, I can try to reproduce

[2020-09-28 00:02] tvvignesh commented on #690
@bharathkkb Sure. This would be the relevant portion of the config. Kindly replace the vars where necessary.

[code]

[2020-09-29 07:05] halkyon commented on #690
Having the exact same issue as well. Seems to only happen when you've made an error, once it gets in this state you can't `terraform destroy` to start again either.

[2020-09-29 12:32] morgante commented on #690
@halkyon What was the error you made? Reproducing this will likely require us to see your *broken* config.

[2020-09-29 20:35] therealmitchconnors commented on #683
Can we escalate this above P2?  This is a hard blocker for using Terraform to install ASM.

[2020-09-29 21:18] morgante commented on #683
@bharathkkb Could you PTAL?

[2020-09-30 03:09] #683 closed

[2020-10-01 09:05] halkyon commented on #690
@morgante Here you go: https://github.com/halkyon/gke-beta-private-cluster-example

Using Terraform v0.13.4.

Change the values in `terraform.tfvars` to your liking, and do a `terraform apply` to provision a new cluster. Now change the `machine_type` value to something bad in the `node_pools` variable in `terraform.tfvars`, and `terraform apply` again, you'll get an error, as expected. Now fix tha

[2020-10-02 09:31] redbaron commented on #675
@ivankorn , @bharathkkb ,

this situation repeated again with another cluster. It was created using this TF module  in Regular channel with at the time the latest version  `1.16.13-gke.1` . Since then new versions were added to the channel, master is not upgraded by GKE itself, it just offers upgrades. How do I upgrade master using TF?

Console offers me the upgrade, but TF module ignores `kuberne

[2020-10-02 12:36] MeNsaaH opened #694 "Specify roles that should be added to Service Account created for Workload identity"
[code]
Something like this

[2020-10-02 16:25] morgante commented on #675
Just to be clear, is your desire to upgrade prior to when GKE does it on your behalf?

If you want this level of control, I'm wondering why use release channels at all? If you want to be in charge of upgrading your clusters yourself, I'm not sure release channels are really suited to you.

[2020-10-03 10:16] redbaron commented on #675
One of the purpose of the channel is to limit versions you can use to ones matching channel policy: Rapid, Regular, Stable. Additionally it does mandatory upgrades.

What I am asking for is to be able to perform optional upgrades to the new versions available in the channel. It should be possible by passing `min_kubernetes_version` parameter to the TF resource. This matches what one can do with th

[2020-10-06 00:53] nicoleczhu opened #696 "Terraform v0.13.4 defaults to old GKE version v1.15.12-gke.20"
To reproduce:
1. Install Terraform v0.13.4 with something like:
[code]
2. Declare resource "google_container_cluster" "gke"  with provider "google-beta", no other special configs
3. Deploy everything and note that the cluster version is `v1.15.12-gke.20`

Expected:
It's not clear from documentation which official release channel Terraform defaults to:
https://cloud.google.com/kubernetes-engine/doc

[2020-10-06 00:58] morgante commented on #696
It sounds like you're not using the module. Provider issues should be filed on the provider: https://github.com/hashicorp/terraform-provider-google/issues

[2020-10-06 00:58] #696 closed

[2020-10-06 09:26] PsychoSid opened #697 "Invalid Indexes and 409 issues"
Hello,

My daily routine is to bring up my test lab using the modules you provide (thanks).

I run a "terraform init -upgrade" prior to this.

Due to some "RECONCILING" issues I bring up the VPC & GKE initially. Using the "gpc-network" and "gke" modules.

Then after that is up and completed I add the ASM module and "apply" again to register into the hub, and add the Service Mesh - today 2020/10/06

[2020-10-06 09:38] PsychoSid commented on #697
I wonder if this is related to the changes released in the Google provider https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.42.0 ?

[2020-10-06 10:57] PsychoSid commented on #697
Also getting errors like this if I run the VPC/GKE/ASM module together now (still get RECONCILING issues):-
[code]

[2020-10-06 11:28] PsychoSid commented on #697
Turns out it looks like someone was messing around with the permissions on my GCS bucket for the state :( Sorry.

[2020-10-06 15:33] morgante commented on #697
It seems like you might have lost your state somehow as it seems to be attempting to recreate the same infra. Can you try a fresh project (or wipe your state and project)?

[2020-10-06 21:32] mspinassi-medallia commented on #690
Exact same issue here.

[2020-10-07 03:31] bharathkkb commented on #690
I was able to reproduce this with 0.13.4; seems like after the node pool config errors out, TF is unable to resolve `[for pool in google_container_node_pool.pools : pool.name]` at plan time. I'll do some more digging for a fix and see if its just for 0.13.4 or all 0.13.x.

Works as intended with 0.12.29.

[2020-10-07 07:36] tzoratto commented on #675
Hi,

actually the official GKE documentation for channel clusters states the following :

 https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels?hl=en#what_versions_are_available_in_a_channel

So they recommend to manually upgrade channel clusters if needed for whatever reason (and I think that applying a security fix ASAP is a valid one).

But of course if the google API doesn

[2020-10-07 12:36] gabriel8fm commented on #153
Hi @morgante @aaron-lane, I am getting the same. I need to allow from the external IP address of the private GKE cluster but I'm facing the below error when trying to specify on the module configuration:

`Error: Error waiting for resuming GKE cluster: Invalid master authorized networks: network "0.0.0.0/0" is not a reserved network, which is required for private endpoints`

I am using the **beta-

[2020-10-07 14:51] Vadims06 opened #698 "Error: Failed to instantiate provider "google" to obtain schema: Unrecognized remote plugin message:"
Hi All,

I just wanted to boot up the private GKE cluster using [this ](https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/11.1.0/submodules/private-cluster)example, but I got the following errors:
What could be a reason for this? Please kindly help
`Downloading terraform-google-modules/kubernetes-engine/google 11.1.0 for gke...
- gke in .terraform/modules/gke

[2020-10-07 19:53] eripa opened #699 "beta-private-cluster-update-variant should generate new node pool ID if node_pools_taints is changed"
beta-private-cluster-update-variant does not currently generate a new node pool random suffix is `node_pools_taints` is changed. This results in a name conflict error, like:

[code]

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/26ea28db52ce5797da043a1c56dfb4575f49dac8/modules/beta-private-cluster-update-variant/cluster.tf#L294-L348

[2020-10-07 19:58] morgante commented on #699
Thanks, it just needs to be added here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/main/cluster.tf.tmpl#L333

Happy to review a PR.

[2020-10-08 02:33] max-sixty opened #700 "Potetially incorrect source reference?"
From https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/workload-identity#using-an-existing-kubernetes-service-account

I get an error running this:

[code]

[code]

Let me know if I'm doing something wrong, though. Thanks

[2020-10-08 11:52] gabriel8fm commented on #153
It was something wrong in my tf state file. Once I removed the `module.gke.google_container_cluster.primary` it is passing ok with plan/apply.

[2020-10-08 14:40] bharathkkb commented on #700
Thanks for the report @max-sixty Looks like we are missing a `/`

[2020-10-08 14:51] hronix opened #702 "Clusters of 1.17.9-gke.1504 and 1.17.9-gke.6300 become broken when helm provider authenticate through username & password & certificates"
Maybe this is another google tech team problem but:
1. Sorry, don't know where to report
2. I create cluster with this module

[code]

I install helm packages with helm provider

[code]

When I apply changes I can't get nodes info in second terminal. Google Cloud UI can't present nodes, workloads, services & ingress info. After some time master node says that it recover cluster.

The same script *

[2020-10-08 16:06] thomas-riccardi opened #703 "accelerator_type=nvidia-tesla-t4 and remove_default_node_pool=true: GPU k8s taints sometimes missing"
I created a cluster with: (module 8.1.0 and google provider 3.16.0)
[code]

Result: my `gpu-t4` nodepool has no gpu k8s taint (leading to filling these nodes with pods not needed a gpu, saturating the nodes, blocking pods really needing gpus..)

https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#create says:

I believe the `remove_default_node_pool = true` creates a race-condition where t

[2020-10-08 16:36] thomas-riccardi commented on #703
It may explain #173

[2020-10-08 16:45] bharathkkb commented on #702
@hronix thanks for the report. Just to clarify the cluster goes into repair after applying something using the helm provider and if you explicitly deploy a cluster with `1.16.13-gke.401` then everything is fine?

[2020-10-08 17:02] edwardday7 commented on #644
+1 Would love the workload identity features without having to use the beta module since it's GA now.

[2020-10-08 17:22] max-sixty commented on #700
It's also a different source from the other example in that file — I'm new to TF so not sure whether they're equivalent?

[2020-10-08 18:13] #700 closed

[2020-10-08 18:14] #153 closed

[2020-10-08 18:24] max-sixty commented on #700
Thanks @bharathkkb & @morgante !

[2020-10-08 19:02] caarlos0 commented on #629
same here with 11.1.0... any workarounds?

[2020-10-08 21:11] bharathkkb commented on #703
@thomas-riccardi I may need to test this out to see how the interactions with the auto taint works. As a workaround would manually specifying it via `node_pools_taints` be sufficient for your usecase?

[2020-10-08 23:26] innovia commented on #690
Any updates , this happens to me to with 13.4 and after upgrading the node pool

[2020-10-09 01:02] karlkfi commented on #572
For posterity (@saranicole): public GKE clusters have both public and private IPs. You can use either or both. Inside the cluster the private IP is advertised via KubeDNS. One gotcha is that “gcloud container clusters get-credentials” will always configure kubeconfig with the public IP on a public cluster, but you can update the kubeconfig afterwards to point to the private IP if you want.

Also n

[2020-10-09 05:11] zerobfd opened #707 "Terraform integration w/ASM script"
We're working on a fully-featured script to install ASM in various environments over here: https://github.com/GoogleCloudPlatform/anthos-service-mesh-packages/tree/master/scripts/asm-installer

It would be cool if we could have the Terraform module use this one since we're maintaining it as different features/environments/etc get added. Right now it only handles GCP, but it does all of the validat

[2020-10-09 06:43] bharathkkb commented on #707
This is awesome and I would love to switch over to using that one. I'll take a dive through it tomorrow and sync with some requirements offline.

[2020-10-09 09:37] thomas-riccardi commented on #703
@bharathkkb indeed `node_pools_taints` could help for new clusters as a workaround, assuming GKE temporarily accepts clusters with only one node-pool with the gpu taint (blocking all standard (and system) pods), while waiting for the second, standard, node-pool to be created.
For existing clusters taints are not editable IIRC, so it would delete and recreate a new node-pool; to minimize downtime I

[2020-10-09 11:30] hronix commented on #702
@bharathkkb that's right

[2020-10-11 13:36] weeco opened #710 "Put all nodepool options into one block"
I use this GKE module to create clusters with multiple nodepools where each nodepool requires:
- Nodepool Labels
- Taints
- Network Tags

I'd like to specify these options in the object where I create/configure the nodepool as well, so that I don't need to refer it by nodepool name again and again. So instead of this:

[code]

I'd prefer this instead:

[code]

In the Google Cloud console these opt

[2020-10-12 00:39] morgante commented on #710
We'd love to have it work that way, but unfortunately node pools are defined as a map and therefore cannot contain lists/objects. See this [issue](https://github.com/hashicorp/terraform/issues/21384).

[2020-10-12 15:28] #694 closed

[2020-10-12 22:54] #710 closed

[2020-10-13 22:39] grugnog commented on #34
Noting here that while there is now https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/modules/shared_vpc_access this only works on the default service account.
Hence it would still be helpful for the kubernetes module to create shared VPC access for the service account this module creates when create_service_account is enabled (which it is by default).

[2020-10-14 01:56] innovia commented on #690
what's up with this? if the module fail and its easy to replicate if you put invalid machine type say for example `e2-medium-2` it fails on this error as if its in a bad state.

can you please fix this?

[2020-10-14 02:03] morgante commented on #690
Since this is working in Terraform 0.12.x but not in 0.13.x I'm inclined to believe this is a Terraform Core issue. We can attempt to workaround it but it's not a high priority when Core should be fixing it.

[2020-10-14 02:28] bharathkkb commented on #702
Does the master recover after a while? I would try with a bigger nodepool too as I have noticed with some issues if the control plane gets overloaded as Helm tries to deploy all k8s objects.
If you could provide a minimal repro (TF config + chart) I would be happy to test it on my end.

[2020-10-14 02:29] bharathkkb commented on #707
@zerobfd as per our offline sync reassigning to you for tracking

[2020-10-14 02:35] bharathkkb commented on #698
Hi @Vadims06
There seems to be an issue specific to the environment where you are currently executing Terraform as it is not just the `google` provider and not related to the module. I would recommend trying it another env, using tf `0.12.29` and if it persists opening an issue in `hashicorp/terraform`

[2020-10-14 02:35] #698 closed

[2020-10-14 02:38] bharathkkb commented on #626
Hi @PsychoSid
I wanted to follow up regarding this. We had a regression fixed by https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/669 where we were not waiting for cluster to be ready, so I wanted to confirm if you were still seeing this with the latest on main.

[2020-10-14 03:44] bharathkkb commented on #690
I was able to create a light repro which works with 0.12.x and not with 0.13.4. I will open an issue in core.
A workaround seems to be to use `terraform apply -refresh=false` which bypasses the initial refresh that throws this error.

[2020-10-14 06:11] gfthybridlabs commented on #626
Hi @bharathkkb I haven't tried with that as I tend to use the module registry rather than github but will give it a whirl. Thanks.

[2020-10-14 06:12] PsychoSid commented on #626
Hi @bharathkkb I haven't as I tend to use the module registry paths for sources. But will do. Many thanks.

[2020-10-14 21:26] #644 closed

[2020-10-15 12:20] willcocks commented on #685
I can confirm that the beta works.

[2020-10-15 12:20] #685 closed

[2020-10-15 12:27] SohamChakraborty opened #711 "Is there a way to not upgrade the kubernetes version with terraform apply?"
Hi,

I am looking to add few input variables to my existing cluster. For example, I want to add enable an addon or something in that nature. With that change added when I run `terraform plan` it shows that kubernetes version is also going to be upgraded. I don't want the version to be upgraded with terraform. The cluster is subscribed to the RAPID channel.

Is there a way to skip the version upgra

[2020-10-15 13:59] bharathkkb commented on #685
This is also now in GA modules via #709 pending release.

[2020-10-16 15:52] #674 closed

[2020-10-16 18:30] adhil0 opened #714 "Having Trouble Authenticating to Kubernetes Provider using Auth Module"
I can't seem to connect to the cluster that I create using the gke module. The `terraform apply` command goes through successfully, but any kubectl command run afterwards returns an error: `Unable to connect to the server: dial tcp <IP-ADDRESS>: i/o timeout`
I have to manually run `gcloud container clusters get-credentials <CLUSTER-NAME> --region <REGION> --project <PROJECT_NAME>` to fix this.

my

[2020-10-16 19:03] bharathkkb commented on #714
Hi @adhil0
I see that you are using the `beta-private-cluster`. We have some docs around [private clusters](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/docs/private_clusters.md) here. I believe in the case you will need to add the external ip of the machine you are using to run this config into your `master_authorized_networks` block.

[2020-10-16 19:25] Schnitzel opened #715 "support for linux_node_config"
looks like the main terraform provider has support for `linux_node_config` in `node_configs`:
https://github.com/hashicorp/terraform-provider-google/issues/6773

our usecase for this is to set `vm.max_map_count: "262144"` sysctl settings for elasticsearch clusters, while we can do this via init containers, the `sysctl-monitor` of GKE complains about an unmanaged sysctl setting.

[2020-10-16 20:52] adhil0 commented on #714
@bharathkkb Thanks for the help, I actually was supposed to be using `beta-public-cluster`, so thanks for pointing that out. However, I switched over to the public version, but I am still having the same issue. Is there anything else I can try?

[2020-10-16 20:55] morgante commented on #714
It sounds like you're running the additional `kubectl` commands directly from your shell (ie. after Terraform finishes `apply`).

The auth module isn't actually meant to update your local Kubernetes context. It's meant for authenticating *within Terraform*.

[2020-10-16 22:15] adhil0 commented on #714
Okay, that makes a lot of sense, sorry for the confusion. Thanks @morgante and @bharathkkb for the help. If anyone in the future is reading this, this is the way I ended up updating the local K8S context:
[code]

[2020-10-16 22:15] #714 closed

[2020-10-16 22:41] bharathkkb commented on #715
Thanks for the report @Schnitzel
SGTM and will be happy to review a PR

[2020-10-17 01:40] jinoobaek-qz commented on #699
Took a very naive stab at it. https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/717

[2020-10-18 21:09] hronix commented on #702
@bharathkkb sure, https://gist.github.com/hronix/6d94ab13484571d357f5efac04bfd58e

[2020-10-19 08:57] llnformer commented on #413
any idea how to overcome the issue of not having the gcloud command when running in Terraform Cloud environment?

[2020-10-19 09:24] weeco opened #719 "Add support for artifact registry"
Currently it's possible to set the `registry_project_id` which grants storage.objectViewer so that the GKE service account can pull images from the container registry in the respective project. See: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/beta-private-cluster/variables.tf#L320-L324

If I want to use the artifact registry (which seems to be

[2020-10-19 15:44] bharathkkb commented on #413
Hi @llnformer
`skip_provisioners = false` should now let you skip `wait-for-cluster.sh`, there was a bug that was fixed by https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/669

Additionally with the `12.0` release, if you set the `GCLOUD_TF_DOWNLOAD` env var, this module will attempt to download and install gcloud. More details here https://github.com/terraform-g

[2020-10-19 15:44] #413 closed

[2020-10-19 16:43] mateuszm123111 opened #720 "Invalid count argument on safer cluster with shared VPC"
Hi, I try to use module "safer-cluster-update-variant" with shared VPC network, as module itself doesn't support adding access to "container.hostServiceAgent.use" on shared VPC host project, I was trying to create service account by myself, and add it into config, so I used parameter: compute_engine_service_account to point into my service account, but it gives an error "Invalid count argument"
`o

[2020-10-19 17:29] morgante commented on #720
Please share your Terraform config.

[2020-10-20 08:41] hronix commented on #702
Today I tested new module version "12.0" with Kubernetes "1.17.9-gke.1504" - the same, I mean it **fails**.

Steps:
1. terraform apply -var-file=serviceaccount.json -target=module.gke
2. You can get nodes info (kubectl get nodes), can see workloads in Google Cloud UI.
3. terraform apply -var-file=serviceaccount.json -target=helm_release.cert_manager -> It fails with `Error: unable to build kuberne

[2020-10-20 10:49] mateuszm123111 commented on #720
Ok, so basically that's my gke.tf file

`module "kubernetes-engine" {
  source  = "terraform-google-modules/kubernetes-engine/google//modules/safer-cluster-update-variant"
  version = "11.1.0"

  project_id                  = module.project-factory.project_id
  name                        = "gke-${terraform.workspace}-cluster"
  region                      = var.region
  zones

[2020-10-20 18:30] morgante commented on #720
Can you try applying the `gke-service-account` module first? We don't support passing a dynamic value here.

[2020-10-21 20:50] davem-git commented on #702
I seem to be having an issue too.  I get these when i try to access the client_key and client_cert

[code]

[2020-10-22 02:52] arctiqaurora commented on #684
can this be an option for asm module?

[2020-10-22 15:00] dassaf1 opened #721 "gcloud: command not found (running on Terraform Cloud)"
Hi,

Running on Terraform Cloud, and after upgrading to v12 and trying to create a cluster, on the final step (after the cluster is actually created) I get the following error:

Error: Error running command 'PATH=/google-cloud-sdk/bin:$PATH
.terraform/modules/gke_cluster.gke/modules/beta-private-cluster-update-variant/scripts/wait-for-cluster.sh <clustername> <clustername>
': signal: interrupt. Ou

[2020-10-22 15:48] bharathkkb commented on #721
Hi @dassaf1
- Before the upgrade to v12, were you using `gcloud_skip_download = false`? If so you will need to follow the upgrade guide [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/docs/upgrading_to_v12.0.md#dropped-support-for-gcloud_skip_download-variable) and set the env variable to download gcloud within Terraform cloud.

- Alternatively you

[2020-10-22 15:51] bharathkkb commented on #707
@zerobfd there was a recent ask if it would be possible to support ILB out of the box when deploying via TF. IIRC this involves just an annotation. Is this something within the scope of the new script?
ref: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/684#issuecomment-714187576

[2020-10-22 15:52] bharathkkb commented on #684
@arctiqaurora I have asked this in an issue were we are revamping the ASM module. Please follow that for updates.

[2020-10-22 16:00] bharathkkb commented on #702
@hronix thanks for the config, I will try a repro to see if its related to the module.

@davem-git This does not seem related to the original issue. Are you using [our `auth` submodule](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/auth)? Does the SA you are using have `container.clusters.getCredentials` permission?

[2020-10-22 16:09] mateuszm123111 commented on #720
Hi, it seems like first applying this module works with this error, but unfortunately I have another one, and it is very confusing for me, the thing is that I applied service account, I checked that it exists on my host VPN project with proper permission "Kubernetes Engine Host Service Agent User", but when I try then to apply gke it gives me an error:
`Error: googleapi: Error 403: Kubernetes Engi

[2020-10-22 16:17] morgante commented on #720
Hi @mateuszm123111, you need to provide the Kubernetes service account with the service agent user on your Shared VPC host project as [explained here](https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc#grant_host_service_agent_role).

[2020-10-22 16:44] mateuszm123111 commented on #720
I'm sorry, but I guess that I do not understand this. I just already gave that permission to my service account which I wanted to use with nodes, or am I wrong?

Or another thing, during kubernetes creation it uses default service account? So `service-service-project-num@container-engine-robot.iam.gserviceaccount.com` this one? And I should give permissions to that service account?

Sorry for that

[2020-10-22 16:49] morgante commented on #720
@mateuszm123111 Please read the entire GKE docs: https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc#grant_host_service_agent_role

There are multiple service accounts involved, both a *node* service account _and_ a GKE service account.

[2020-10-22 16:52] mateuszm123111 commented on #720
OK, thank you 👍

[2020-10-22 16:52] #720 closed

[2020-10-22 21:24] davem-git commented on #702
I was incorrect and got it working.

I didn't need this, which is where i went wrong and thought it was similar.

[code]
I needed this

[code]

[2020-10-22 22:31] bharathkkb commented on #702
@hronix I noticed that you are using the `basic_auth_username`, `basic_auth_password` and `issue_client_certificate = true`. You should only need the `module.gke.ca_certificate` and `token` to auth.  Could you try removing those and reconfigure helm provider like so
[code]

[2020-10-23 01:56] xingao267 opened #723 "Kubernetes Engine Service Agent does not have firewall rule create permission in host VPC project"
Both the host VPC project the GKE project was created using the project factory module 9.2.0. The network host project has `enable_shared_vpc_host_project` set to true and the GKE project has `shared_vpc` and `shared_vpc_subnets` specified. The instance of GKE module has `network_project_id`, `network` and `subnetwork` specified. Not sure what I'm missing. But I see a lot of compute.firewalls.get

[2020-10-23 02:18] bharathkkb commented on #723
Hi @xingao267
I believe we do not add `Compute Security Admin` role or (compute.firewalls.* and compute.networks.updatePolicy permissions) to that SA via [shared_vpc_access](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/shared_vpc_access/main.tf) and hence the GKE is unable to modify FW rules for ing. Generally this is considered best practice for

[2020-10-23 05:20] zerobfd commented on #707
Yep, starting soon-ish it will be available with one extra CLI option.

[2020-10-23 06:35] PsychoSid commented on #707
+1 for me on this. I had to stop using the ASM module in favour of a local "istioctl  install -f <file>" to setup the options I needed for multi-cluster/CNI, a static IP for the IGW etc etc to the script in the original post which mentions an option for this as part of a revamped module would be much appreciated.

[2020-10-23 11:47] hronix commented on #702
I tested it on newly created cluster from example and it works well. I will try upgrade my test cluster and create new one, for more detailed testing. Will report back soon.

[2020-10-23 14:16] davem-git opened #724 "Default for multiple node pools"
I'm interested in using multiple node pools to take advantage of different instance types depending on workload.
I've created two node pools

- default-node-pool
- high-memory-node-pool

it seems i need to do node selector to use either.
`nodeSelector: { "node_pool" : "default-node-pool"}`   otherwise i get `DaemonSet has no nodes selected`
am i missing something where i don't have to specify the

[2020-10-23 15:11] hronix commented on #702
Well, new findings:
- terraform_provider_helm generates error: `Error: query: failed to query with labels: secrets is forbidden: User "client" cannot list resource "secrets" in API group "" in the namespace "cert-manager"` because *helm list* require secrets view permissions
- for some reason provider threads service account as **client** (my name in format k8s-sa-test@k8s-test-xxxxxxxxx.iam.gserv

[2020-10-23 15:42] davem-git commented on #724
I might have figured this out. I didn't have `remove_default_node_pool   = true` i think they were trying to be scheduled on the gke manged nodepool without any nodes in it.

[2020-10-23 18:33] morgante commented on #723
Yeah I think it would be a reasonable optional flag for shared_vpc_access.

[2020-10-23 18:35] #724 closed

[2020-10-23 19:27] xingao267 commented on #723
Sounds good. I can add that support when I get a chance.

[2020-10-23 22:34] #723 closed

[2020-10-25 10:08] k-mitevski opened #725 "Issue with generating the kube config on first run"
I've tried multiple code examples but the kube config file, or the raw output is empty on the first run/apply. But running terraform apply a second time fixes the issue and populates the kube config with the correct info.

The below images are outputs from this example https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/simple_regional_with_kubeconfi

[2020-10-25 12:16] dassaf1 commented on #721
HI @bharathkkb,

Thank you for your reply, that helped resolving this error :) however I now have a new related error which indicates that gcloud cannot find a way to authenticate.

I assume I need to use the "use_tf_google_credentials_env_var = true" in the [terraform-google-gcloud helper module](https://github.com/terraform-google-modules/terraform-google-gcloud#downloading) (that is used by the

[2020-10-26 09:52] hronix commented on #702
I can verify that [this](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/702#issuecomment-714798572) config works great with version 1.17.9-gke.6300 and 1.17.12-gke.1504. Thanks !

[2020-10-26 09:52] #702 closed

[2020-10-26 20:36] ystoneman commented on #673
I had the same frustration with provider & count limitations when creating clusters and instances within an aurora global db.

[2020-10-29 01:18] bharathkkb commented on #725
Hi @k-mitevski
Was the example modified? I just tested this example with TF0.13.5 and it seems to work as intended.

[2020-10-29 01:28] bharathkkb commented on #721
@dassaf1 Could you try setting `GOOGLE_APPLICATION_CREDENTIALS` field. This should allow gcloud to pick it up for auth.

[2020-10-29 09:22] dassaf1 commented on #721
@bharathkkb Thank you for your reply.
If I understand correctly, the GOOGLE_APPLICATION_CREDENTIALS env var expects a path to the json key of the service account, however I cannot access the file system of the docker container running in TF Cloud.

[2020-10-29 19:14] k-mitevski commented on #725
Hey @bharathkkb,
I tried multiple times using the example in a 1:1 fashion, with only added the required variables.
I've tried to run everything from a separate folder as to not mix them from the previous cluster creation, but still to no avail. I'm unsure what is causing this.

If you have any suggestions or configs you want me to test please provide them.

[2020-10-29 20:21] bharathkkb commented on #725
Yeah this is odd if you are using the example as-is. Could you give me your terraform config just to confirm?

[2020-10-29 20:24] bharathkkb commented on #721
@dassaf1 gotcha, in that case we should consider exposing `use_tf_google_credentials_env_var` via the module and then you can put the json key in the `GOOGLE_CREDENTIALS`  env var.

[2020-10-29 23:44] k-mitevski commented on #725
@bharathkkb Here are the configs, please check if something is wrong.

[code]
[code]

[code]

[2020-10-30 02:59] bharathkkb commented on #725
This does seem odd. Apart from the `kubeconfig_raw` output  are the `ca_certificate` and `kubernetes_endpoint` being populated in the first run?

[2020-10-30 03:03] bharathkkb commented on #725
It looks like from your first screenshot `ca_certificate` is not being populated. Could you try adding an output for `module. gke.ca_certificate` and `module.gke.endpoint` to test if that works?

[2020-10-30 19:19] k-mitevski commented on #725
Yeah, they weren't getting populated. But with your changes for the output, there seems to be an improvement.

![image](https://user-images.githubusercontent.com/51249239/97747810-d1d60400-1aec-11eb-8eb9-d15378843794.png)
I've added them, it seems the original ones with gke_auth don't like to work in my case.
[code]
The original outputs:
[code]

[2020-10-30 20:14] bharathkkb commented on #725
Yeah this is interesting and looks like maybe a dependency issue. FWIW I tried 2-3 runs and did not run into this. It seems like `data.google_container_cluster.gke_cluster.endpoint` and `data.google_container_cluster.gke_cluster.master_auth` are reporting as `null` causing it to default to `""`.

The order of creation also seems correct. For me it was
[code]
I would expect since `google_container_

[2020-10-30 20:57] rileykarson commented on #725
I haven't seen that happen before!

[2020-10-30 23:43] k-mitevski commented on #725
Here is the same output from my tests. Could it be from wrong ordering in the console output? In your case @bharathkkb there is first reading for the auth.data and then the node pool gets created. In my case, it's the opposite.
[code]

[2020-10-31 00:12] bharathkkb commented on #725
@k-mitevski I think the order should be creation of `google_container_cluster` and then read of `gke_auth.data.google_container_cluster.gke_cluster` which is true for your case as well. Since you are on TF 0.13 can you try an explicit module depends_on to see if that can be a possible fix?

So like
[code]

[2020-10-31 13:44] k-mitevski commented on #725
I think that was the fix, I added the depend on in the auth module and it populated the kube config on the first run :). Will give it a couple of runs and close this issue.

[code]
Also I'm seeing now, that in my previous output there is a line missing where it denotes the read complete of the project. In the previous output example, this line was missing:
[code]

[2020-11-01 12:25] dassaf1 commented on #721
@bharathkkb That sounds great! thank you.

[2020-11-02 10:57] keskiju commented on #656
Looks like the datapath_provider was released in [terraform-provider-google-beta v3.41.0](https://github.com/hashicorp/terraform-provider-google-beta/releases/tag/v3.41.0).

Sidenote: Currently `network_policy_provider` default value is `CALICO` for the kubernetes-engine module. Shouldn't it be `UNSPECIFIED` so that the network_policy_provider is selected automatically based on the datapath_provid

[2020-11-02 18:40] bharathkkb opened #730 "IAP Bastion Host example Tinyproxy improvements"
Currently the [Safer Cluster Access with IAP Bastion Host](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/safer_cluster_iap_bastion#safer-cluster-access-with-iap-bastion-host) example does not monitor the status of Tinyproxy. We should consider adding a custom conf file which writes to a logfile and additionally look into monitoring options for

[2020-11-02 18:45] bharathkkb opened #731 "Add IAP Bastion Host example use cases"
We should improve docs for  [Safer Cluster Access with IAP Bastion Host](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/safer_cluster_iap_bastion#safer-cluster-access-with-iap-bastion-host) to specify use cases for this pattern such as human to cluster administrative tasks and point to alternate solution like [in-cluster proxy](https://cloud.goo

[2020-11-02 22:46] rwong2888 opened #733 "wait-for-cluster.sh infinite loop when multiple clusters meet the filter name"
**terraform -v**
Terraform v0.13.5
+ provider registry.terraform.io/hashicorp/external v2.0.0
+ provider registry.terraform.io/hashicorp/google v3.46.0
+ provider registry.terraform.io/hashicorp/kubernetes v1.13.3
+ provider registry.terraform.io/hashicorp/null v3.0.0
+ provider registry.terraform.io/hashicorp/random v3.0.0

**gcloud -v**
Google Cloud SDK 316.0.0
alpha 2020.10.23
beta 2020.10.23
b

[2020-11-02 23:33] bharathkkb commented on #733
Thanks for reporting @rwong2888
Perhaps we can filter by endpoint which will be unique for a given cluster.

[2020-11-03 00:55] bharathkkb commented on #733
Looks like we have been using `key:pattern` as opposed to `key=value`. I believe an equality match on `name AND location` should prevent this behavior.

[2020-11-03 03:48] #733 closed

[2020-11-03 17:40] johnatalima commented on #673
Yes. Remove provider block on your local modules

[2020-11-03 18:46] pedrodotmc opened #735 "local.location not set in wait-for-cluster.sh script"
Hi guys. I'm having this issue from today:
[code]
This is my cluster:
[code]
It seems that location parameters are not being set in `wait-for-cluster.sh` script. Thanks for your support!

[2020-11-03 19:03] bharathkkb commented on #735
I think this maybe the destroy hook complaining as it recreates to accept location due to https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/734
Could you try tainting it
`terraform taint module.gke-cluster.module.gcloud_wait_for_cluster.null_resource.run_destroy_command[0]`

[2020-11-03 19:05] morgante commented on #735
@bharathkkb I think we'll need to make the script more robust for destroy hooks (if location isn't passed, skip that part in the filter).

[2020-11-03 19:07] bharathkkb commented on #735
@morgante yes PR incoming

[2020-11-03 21:20] bharathkkb commented on #735
@pedrodotmc could you try with the fix branch

[code]
I tried an upgrade from 12.0 to this branch and it works
[code]

[2020-11-03 21:22] #725 closed

[2020-11-03 22:26] pedrodotmc commented on #735
Tainting resource `run_destroy_command` works like a charm. Thanks @bharathkkb !

[2020-11-03 22:26] #735 closed

[2020-11-05 16:05] #645 closed

[2020-11-06 12:44] sudipju opened #737 "Confidential computing"
Hello,

We are using this module for the cluster creation for our project. We are planning to use some of our applications to be running with confidential computing. I didn't notice that support yet by this module. Could you please enlighten, in case you have some plan in near future.
Any response on this topic will be well appreciated !

Thanks,
Sudip

[2020-11-06 17:01] bharathkkb commented on #737
Hi @sudipju Looks like this will need to be added in the provider first

[2020-11-06 20:03] billyfoss commented on #711
Can you set the kubernetes_version to the min version you want?
If you do not set this value, it will determine the latest value at the time of apply and trigger an upgrade each time.

[2020-11-06 23:20] bharathkkb commented on #737
Looks like this was added in the latest release. Happy to review a PR to add this
https://github.com/GoogleCloudPlatform/magic-modules/pull/4136

[2020-11-09 12:04] sudipju commented on #737
I observed that latest release is 12.0.0, which is released 24 days back. But, this specific change is merged 17 days back to master. Is there any beta release available after this merge? Not able to find the same. Or am I missing something?

As didn't see this variable in 12.0.0 version.
Thanks in advance.

[2020-11-09 20:30] bharathkkb commented on #737
So currently this feature was only added to the provider. In order to use it in the module, we need to make some changes to the source code in this repository. [Here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/601) is an example PR of how to add a new feature to a beta module.

[2020-11-09 23:02] robbieheywood opened #738 "Allow usage of `OPTIMIZE_UTILIZATION` autoscaling profile"
Currently, the `cluster_autoscaling` input variable takes the form:

[code]

However, looking at the Google API at https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#clusterautoscaling, `autoscalingProfile` is now an option. It would be great if this were exposed by this module so that clusters with `OPTIMIZE_UTILIZATION` could be specified.

[2020-11-09 23:11] #738 closed

[2020-11-09 23:11] robbieheywood commented on #738
Woops - this is already allowed if you use the beta provider

[2020-11-10 16:17] sudipju commented on #737
Thanks for the reply. I wait for this to be integrated in the source code repo. Is there any way to know the priority of this issue to be integrated? Or can our need be an influencer of the priority?
Thanks in advance.

[2020-11-10 16:45] dpkirchner opened #739 "Feature req: Option to disable maintenance policy"
It would be useful to have a way to disable the cluster maintenance policy entirely, similar to selecting "Disabled" under "Maintenance window" on the GCP console. Best I can tell this can only be done manually by commenting out the `maintenance_policy` block in the module files (e.g. `.terraform/modules/project.staging.gke/modules/beta-private-cluster/cluster.tf`).

[2020-11-10 17:16] morgante commented on #739
Why do you want to disable the maintenance window?

Our best practice is to have one.

[2020-11-10 19:04] DeviaVir commented on #677
Wanted to leave a note here that it looks like this module does not support Terraform 0.13's count as it currently stands:

[code]

Documentation: https://www.terraform.io/docs/configuration/modules.html#legacy-shared-modules-with-provider-configurations

As far as I am able to interpret, we need to replace/remove the `kubernetes` provider configuration out of the module and make sure it is passed

[2020-11-10 20:54] dpkirchner commented on #739
I'd like to be able to make my tf files match the state of the cluster as created in the console, and as far as I can tell this is the only toggle that isn't configurable using the module.

As for disabling the maintenance window, I can't see why I would want it. It's not possible (to my knowledge) to know when maintenance will actually happen or how long it will take, so it's not possible to make

[2020-11-10 21:01] morgante commented on #739
The intent of the module is not to expose every possible GKE options. We take opinionated stances on best practices.

If you want total flexibility, you should fork the module or use the underlying resources.

The maintenance window is used to determine when Google conducts maintenance tasks on your behalf: https://cloud.google.com/kubernetes-engine/docs/concepts/maintenance-windows-and-exclusions

[2020-11-10 21:01] #739 closed

[2020-11-11 07:08] tehKapa commented on #564
Same problem here. To work around this issue, I created separate firewall rules :(

[2020-11-11 14:04] gswallow commented on #616
I'm hitting this same problem.  This module creates a service account in my target project, which is a shared VPC service project, but it's not getting any permissions in the shared VPC host project.  See the attached screenshot.

![Screen Shot 2020-11-11 at 8 59 05 AM](https://user-images.githubusercontent.com/4225960/98820523-4584e480-23fc-11eb-8c90-6aa17fb8adba.png)

The error is:

```Error: go

[2020-11-11 16:42] morgante commented on #616
@gswallow As mentioned above you need to grant permissions on the GKE service account from your Shared VPC: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/616#issuecomment-685026015

[2020-11-12 17:28] SohamChakraborty commented on #711
Tried doing that, but not seeing any effect.

[code]

All I did was to uncomment this line:

[code]

[2020-11-12 17:46] inigohu opened #742 "Example `simple_regional_private` doesn't work"
I get this error when planning `terraform-google-kubernetes-engine/examples/simple_regional_private` v12.0.0

[code]

The error disapears when I change the `cidr_block` attribute.

Terraform version: v0.13.5

[2020-11-12 18:27] SohamChakraborty commented on #711
I should probably mention that at this point the cluster is subscribed to rapid channel and not regular. Not sure whether that can cause any difference.

[2020-11-13 03:40] gswallow opened #743 "impersonate_service_account doesn't work"
First off, impersonate_service_account isn't recognized if I declare it as a module input.  Maybe it works for node_pools; maybe it doesn't.

Second, when I specify it, this module still fails:

[code]

Why is it that Terraform requires null resources with GCP but Google is totally capable of spitting out gcloud commands that will do this automatically?

[2020-11-13 03:50] bharathkkb commented on #742
Hi @inigohu
Thanks for the report. Did you mean it works when you remove
`cidr_block   = data.google_compute_subnetwork.subnetwork.ip_cidr_range`?

[2020-11-13 03:58] bharathkkb commented on #743
Hi @gswallow
Thanks for the report.

Does Terraform throw an error?

It could be that only the `core/account` config is set within gcloud and it does not have any credentials. Could you try [setting `GOOGLE_APPLICATION_CREDENTIALS` env var](https://cloud.google.com/docs/authentication/getting-started#setting_the_environment_variable). This should allow gcloud to pick it up for auth.

[2020-11-13 07:29] inigohu commented on #742
Hi @bharathkkb

cidr_block = data.google_compute_subnetwork.subnetwork.ip_cidr_range?

Yes

[2020-11-13 08:31] inigohu commented on #742
When I remove `cidr_block`, the plans works, but when I applied it I get this error message:

[code]

[2020-11-13 11:17] thecodeassassin commented on #673
How do you plan to do this with Kubernetes ?

[code]

The provider needs arguments (such as host) from resources created in the module.

[2020-11-13 11:20] inigohu commented on #742
[code]
The last error was my fault. I thought the `private-cluster` module creates the network automatically.

[2020-11-13 14:05] gswallow commented on #743
[code]

I am running `gcloud auth application-default login` immediately before running terraform apply.

[2020-11-13 14:17] gswallow commented on #743
Never mind.  This isn't in the latest release.

[2020-11-13 14:17] #743 closed

[2020-11-16 20:54] jclarksnps opened #744 "Issue with wait-for-cluster.sh and clusters with similar names."
We tried to create a private cluster using this module and we ended up in a never ending loop, due to the filter syntax used to wait for a cluster to be "RUNNING" (https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/scripts/wait-for-cluster.sh).  To reproduce, just have a cluster named "mycluster-foo", and then try and create one called "mycluster-bar" wait-f

[2020-11-16 23:12] bharathkkb commented on #744
Hi @jclarksnps
Thanks for the report, we have a [fix](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/734) on main and should be solved with the [12.1.0 release](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/732). Were you using the 12.0 release or did this happen on main?

[2020-11-16 23:41] jclarksnps commented on #744
@bharathkkb we are using 12.0

[2020-11-16 23:43] bharathkkb commented on #744
@jclarksnps just released `v12.1.0` that should fix this. Feel free to reopen if you run into this.

[2020-11-16 23:43] #744 closed

[2020-11-17 00:28] jclarksnps commented on #721
@bharathkkb Setting the env var doesn't work with tf cloud agents as they won't have curl either.   I'm guessing that this module isn't really intended to be used in environments like tf cloud (agents without anything on them).

[2020-11-17 00:31] umairidris opened #745 "gke module does not work with depends_on (terraform 0.13)"
[code]

[2020-11-17 00:32] umairidris commented on #745
Seems to be duplicate of #677. Closing.

[2020-11-17 00:32] #745 closed

[2020-11-17 00:34] morgante commented on #721
@jclarksnps It actually is possible to use this with Terraform Cloud. That's why we have the `gcloud` module which handles installs.

[2020-11-17 00:39] arbourd commented on #721
I couldn't get it working, even by setting the env vars. We jumped back to `11.x` for the time being.

[2020-11-17 00:46] morgante commented on #721
What was working that isn't working now?

[2020-11-17 01:01] jclarksnps commented on #721
For me the gcloud modules all fail trying to download via curl, I should note we run our own agents (which uses hashicorps tfc agent docker image).  I would assume that is the same image they use to run the remote agents.

Error: Error running command 'curl -sL -o .terraform/modules/gke.gcloud_delete_default_kube_dns_configmap/cache/c0da97ee/jq https://github.com/stedolan/jq/releases/download/jq-1

[2020-11-17 02:43] johntrabajo commented on #721
I just ran into this issue today actually. I have GOOGLE_CREDENTIALS (also tried GOOGLE_APPLICATION_CREDENTIALS ) and GCLOUD_TF_DOWNLOAD added as environment variables in the Terraform Cloud console. Unfortunately, I'm still seeing the installation missing (gcloud: command not found). After I cleared out my workspace and created this from scratch, I was able to get gcloud to install, but it's stil

[2020-11-17 16:24] gswallow commented on #616
Indeed, following the documentation quoted in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/616#issuecomment-666638910 to the letter solves the issue.  Google creates the service-service-project-1-num@container-engine-robot.iam.gserviceaccount.com and service-project-1-num@cloudservices.gserviceaccount.com for you when you spin up a GKE cluster.  I was tryin

[2020-11-17 20:59] elie-synopsys opened #746 "lifecycle for kubernetes master"
I want to use this module to create my production clusters but I faced issues where the master gets recreated. In order to avoid this I would to have the option to set a lifecycle to the resource to ensure that it will not be destroyed unless explicitly overriding the lifecycle var. I do believe that this should be only set at the resource level instead of the module level to allow the module to d

[2020-11-23 03:23] abhinavrau opened #747 "Hub registration for non GKE Clusters"
I have a working terraform module based on the [hub](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/hub) module that works for registering non GKE clusters. The current hub module only works with GKE clusters.  I wanted to ask if I can contribute it to this project?

[2020-11-23 05:35] bharathkkb commented on #746
Hi @elie-synopsys
Thanks for the feedback. Unfortunately AFAIK, variables cannot be used within `lifecycle` blocks and hence we are unable to parameterize this.

[2020-11-23 05:38] bharathkkb commented on #747
Hi @abhinavrau
Happy to accept a PR! I have some thoughts around this here https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/637

[2020-11-23 17:07] abhinavrau commented on #747
Hi @bharathkkb. Thanks for the quick reply. Currently I have the hub registration for K8s as a separate module (called hub_k8s) in the my repo on a branch [here](https://github.com/abhinavrau/terraform-google-kubernetes-engine/tree/hub_k8s/modules).

I would assume from #637 it would be better to have this feature integrated into the current hub module?

[2020-11-23 17:25] bharathkkb commented on #747
@abhinavrau yes I think having it in one place makes sense and abstract the logic (gke-cluster vs non-gke) into the module.

[2020-11-23 17:37] abhinavrau commented on #747
Thanks for the feedback @bharathkkb. I will update the code and send a PR. I will also work on an example module with accompanying tests. This is my first time working on inspec tests. Any guidance you can provide on what would be acceptable for a good unit and integration test?

[2020-11-24 12:42] vasrem commented on #703
I face a different issue here which might be related to this one. I basically have a cluster which contains only non GPU nodes. When I add a new node pool with GPU nodes in the already running cluster by also providing a taint like this:
[code]
Terraform complains with the following error:
[code]
If I remove the taint completely from Terraform to leverage the automatic tainting provided by GKE, `t

[2020-11-24 19:10] zonnie commented on #721
I'm having the exact same issue...no matter what I do, even if I see `gcloud` being installed in TF Cloud's terminal it still missing and fails on
[code]
I tried setting `GCLOUD_TF_DOWNLOAD` as well...
Nothing works...

[2020-11-24 21:53] morgante commented on #721
@zonnie Can you confirm that install actually succeeded? I'm guessing this might be the issue with `curl` that @jclarksnps raised.

You should be able to workaround this by setting `skip_provisioners = true`.

[2020-11-24 22:13] morgante commented on #703
Hi @vasrem, could you share your full Terraform config + Terraform plan? i suspect something in the provider or GKE API has changed to cause this error.

[2020-11-25 08:21] zonnie commented on #721
@morgante It didn't work...nothing works really.
I tried `skip_provisioners = true` solution in another issue here, it didn't work for me...

[2020-12-02 22:33] ryan-atkins commented on #656
First Issue! Took a stab at it but still not quite sure best path forward on making **network_policy_provider** working nicely together.

[2020-12-03 17:28] cooperbenson-qz opened #754 "Support Terraform v0.14"
Hashicorp [released v0.14 yesterday](https://www.hashicorp.com/blog/announcing-hashicorp-terraform-0-14-general-availability) and this module is preventing us from updating. Looking at the errors it seems like only the version constraint prevents it from working with Terraform v0.14 (there's also a small syntax warning)

[code]

[2020-12-03 17:48] bharathkkb commented on #754
Hi @cooperbenson-qz
Happy to accept a PR to relax this. Example PR https://github.com/terraform-google-modules/terraform-google-project-factory/pull/505

[2020-12-03 20:32] andre-lx commented on #703
Hi @morgante.

I can share my experience.

Right now, we have a lot of pools, and with our gpu pools we have our own taints, but we need to comment this taint in the first deploy:

[code]

Otherwise, terraform will output the error described by @vasrem :
[code]

After the first deploy, we need to uncomment in the subsequent deploys (`terraform apply`), or terraform will replace the node_pool each

[2020-12-04 17:54] andre-lx commented on #703
Hi. This is an issue with the google provider, and not with the module. You can find more info in my open issue:

https://github.com/hashicorp/terraform-provider-google/issues/7928

[2020-12-04 18:31] josephlim75 commented on #349
According to terraform documentation at https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster,  you cannot define both `cluster_ipv4_cidr` and `ip_allocation_policy` at the same time.  You must choose either `VPC_NATIVES` or `ROUTES` networking mode.

`
cluster_ipv4_cidr - (Optional) The IP address range of the Kubernetes pods in this cluster in CIDR nota

[2020-12-04 23:16] bharathkkb commented on #754
fixed via #757

[2020-12-04 23:16] #754 closed

[2020-12-05 20:29] cpumanaz commented on #754
@bharathkkb What is the lag time before the module update is available:
https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest

Just wondering if this is CI, or if there is another step that needs to be accomplished.

Thanks.

[2020-12-05 22:36] bharathkkb commented on #754
Hi @cpumanaz
It is automatically picked up by the registry after a release. I just cut a release for [v12.2](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/releases/tag/v12.2.0) that has this fix.

[2020-12-07 18:21] tvvignesh opened #760 "Computed attribute cannot be set in Terraform"
Hi. I just upgraded to the latest version of Terraform `v0.14` and tried using the `beta-private-cluster-update-variant` module which used to work well in the previous version. When doing so, I get this error:

<img width="465" alt="1" src="https://user-images.githubusercontent.com/1165845/101389125-f80a7300-38e6-11eb-88fd-9f644f7e4c25.PNG">

and a warning asking me to move the provider version to

[2020-12-07 18:53] bharathkkb commented on #760
Hi @tvvignesh
I think this might be a core issue that was fixed by https://github.com/hashicorp/terraform/pull/27141.
We do make use of ignore_changes within the module https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/2e4f36aef7da1840303ff0a445acc6b560aa8a7c/modules/beta-private-cluster-update-variant/cluster.tf#L191

[2020-12-07 18:53] tvvignesh commented on #760
@bharathkkb Hmm. Was just looking at it 😅 Any workarounds? Or should I roll back to 0.13?

[2020-12-07 18:58] tvvignesh commented on #760
Never mind. I will roll back to 0.13 and come back to 0.14 once they release it. Hope it will work without changing anything. Thanks.