[2018-08-30 17:40] morgante opened #2 "Create a service account for nodes if one isn't provided."
We need a holistic solution here which permanently removes the dependency on the default service account. Including:

1. Adding a top-level variable of `service_account` which accepts three values:
a. the email of a custom Service Account,
b. `default-compute` (the default compute service account), or
c. `create` - automatically creates a service account for use

This top-level service account wil

[2018-08-30 19:58] morgante opened #3 "Make node_pool_labels, node_pool_tags, and node_pool_taints all optional"
Desired flow:
1. Defaults are available for the entire variable.
2. I can override the variable for one node pool without having to set a value for the whole variable.

[2018-09-12 23:14] morgante opened #5 "Fails with dynamic service account variable"
This config fails:
[code]

While this config works:
[code]

[2018-09-12 23:24] morgante opened #6 "Zones should be optional"
Explicitly choosing zones should be optional for regional clusters.

[2018-09-17 21:11] pratikmallya opened #7 "Support for Master Auth"
They seem to not be supported in this module... will they be in the future?

[2018-09-17 21:19] morgante opened #8 "Support for private clusters"

[2018-09-17 21:19] morgante commented on #7
Yes, supporting private clusters is definitely on our roadmap (opened #8 to track it).

Master auth is definitely something we plan to add soon as well.

[2018-09-18 15:50] pratikmallya commented on #7
@morgante is there a timeline for adding master auth support? If its not being added this week, I could craft a PR to enable it. I'm trying to move from an internal module to this one; just need some necessary features to make the move :)

[2018-09-18 16:00] pratikmallya commented on #7
I guess I should have made the issue more descriptive... I don't care about Master Auth as much as the [master_authorized_networks_config](https://www.terraform.io/docs/providers/google/r/container_cluster.html#master_authorized_networks_config) i.e. the list of networks that are permitted to access the cluster.

[2018-09-19 17:02] pratikmallya opened #11 "Use TravisCI to run checks"
It should be really straightforward to setup a TravisCI integration so tests run on every PR and give a status check; this would greatly help external contributors (who may not be familiar with testing) to refine their PR's until tests Pass and then finally ask for review.

Note that TravisCi integration is free for Public repos on Github.com

[2018-09-19 17:08] ryanckoch commented on #11
Most definitely! This is currently in our backlog.

[2018-09-19 17:32] ryanckoch opened #12 "Make testing procedure more clear"
The documentation for running the test suite is a bit unclear.

[2018-09-26 11:56] pratikmallya opened #14 "Importing existing kube clusters seems to be forbidden"
importing clusters seems to fail with this error:
[code]

This is a huge problem because it breaks the `terraform import` functionality

[2018-09-26 18:55] pratikmallya opened #15 "Remove default node pools and manage them explicitly"
The default node pools cause trouble with managing the cluster. It seems like a better architecture to manage the node pools explicitly. Does it make sense to use the `remove_default_node_pool` parameter for the `google_container_cluster` and add just manage the node pools explicitly?

ref: https://github.com/terraform-providers/terraform-provider-google/issues/475#issuecomment-383529139

[2018-09-26 19:38] morgante commented on #15
We definitely encourage explicitly managing the node pools, as shown in the examples: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/node_pool

Regarding the `remove_default_node_pool` parameter, I believe we ran into some trouble with bootstrapping using it. @ryanckoch can share more. The approach we have today is, I believe, to create a defaul

[2018-09-26 19:44] #7 closed

[2018-09-26 19:52] pratikmallya commented on #15
Oh, would love to hear about what the issues were with using that parameter @ryanckoch :)

[2018-09-26 22:35] morgante commented on #14
This is unfortunately because we initialize the kubernetes provider for you.

Can you get around it by specifying `-config=""`?

[2018-09-27 17:18] Jberlinsky commented on #6
Picking this up.

[2018-10-25 04:45] Jberlinsky opened #23 "Allow cluster service account to be overridden without specifying in `var.node_pools`"
When a service project is created with [terraform-google-project-factory](https://github.com/terraform-google-modules/terraform-google-project-factory), it does not have a default compute instance, which breaks the default usage thereof. Specifying it as part of `var.node_pools` does not work in all circumstances, as the tags & taints do not get read in properly.

[2018-10-25 16:55] AdrienWalkowiak commented on #15
I would love to see this fixed too!

[2018-10-25 17:13] morgante commented on #23
#2 is related.

[2018-10-30 17:25] adrienthebo opened #24 "Relax kubernetes version"
Discovered when verifying https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/20.

Running `kitchen converge deploy-service-local`:

[code]

Per https://cloud.google.com/kubernetes-engine/versioning-and-upgrades#specifying_cluster_version we can use a looser version constraint. Starting with `1.10.6` should give us a bit more flexibility and will require fewer chang

[2018-10-30 17:52] adrienthebo opened #25 "Document requirements for running test-kitchen tests"
We need to document the requirements/dependencies for running tests with test-kitchen.

For reference, this is my current set of fixtures:

[code]

[2018-10-30 18:48] ocervell opened #26 "Default GKE version failing"
The default version for GKE master (1.10.6-gke.2) has been [deprecated](https://cloud.google.com/kubernetes-engine/release-notes#october-22-2018).

Currently running with the default version throws:

[code]

[2018-10-30 18:56] morgante commented on #26
I think #24 should fix this.

[2018-10-30 19:12] ocervell commented on #26
Ok, i'll keep it opened until the PR is merged.

[2018-10-30 19:51] morgante commented on #25
Can we simply document that requirement as the first step?

[2018-10-30 19:55] Jberlinsky commented on #25
@morgante I'm open to that iterative solution, but I think there's a larger conversation to be had here about repeatable testing. As we were talking about, we should probably focus on making sure that nobody has trouble running tests -- I'm of the belief that providing network fixtures is the least-bad way to handle this.

[2018-10-30 21:32] AdrienWalkowiak opened #27 "Can not use dynamic Service Account"
I am trying to use this module, based on the provided examples, but can't seem to get it to work. It used to be fine few days ago, but not anymore.

Here is the error I get:
[code]

And here is the terraform used:

[code]

[2018-10-31 16:14] adrienthebo opened #28 "Setup gcloud credentials when running interactively within docker"
Pushing this out to a separate issue so that we can get #20 merged.

When using `make docker_run`, we should source the test config so that `CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE` is set in the shell environment.

[code]

Alternately, we can set the environment variables within the tests, as such:

[code]

Though this feels somewhat brittle.

[2018-11-12 21:18] #24 closed

[2018-11-12 21:19] morgante commented on #26
Fixed by #24

[2018-11-12 21:19] #26 closed

[2018-11-20 17:57] ogreface commented on #27
Hi @AdrienWalkowiak,

Is this still an issue for you? I've been unable to duplicate the issue. I'm able to correctly plan and apply using just about the same terraform you pasted. I've put what I'm using below.

If this is still an issue you're running into, could you send me your whole project?

Best,

Rishi

My main.tf

`module "gke" {
  source = "github.com/terraform-google-modules/terraform-go

[2018-11-20 20:02] davidrymkiewicz opened #34 "Enable easier shared VPC usage"
Ran into this issue with creating a GKE cluster.

`1 error(s) occurred:
* module.prod-gke-cluster.google_container_cluster.primary: 1 error(s) occurred:
* google_container_cluster.primary: googleapi: Error 404: Not found: GAIA email lookup., notFound`

TF Debug output in attached file
[debug.log](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/files/2601389/debug.log

[2018-11-28 19:41] davidrymkiewicz commented on #34
I figured out the root cause, and its caused by a disabled kubernetes API. Additionally, I ran into an issue with IAM permissions within a shared VPC architecture. Since the module already supports shared VPC architecture, would it be possible to include the IAM permissions and the ` google_project_service` resource within the module itself... sample code below:

[code]

[2018-11-28 20:16] morgante commented on #34
Hey @davidrymkiewicz, please take a look at #35 and see if it makes sense as a response.

[2018-11-29 22:19] AdrienWalkowiak commented on #27
Thank you for checking. I tried using your code and it seems to go past the error so I will close this issue and see what' wrong on my end, probably a syntax issue.

Thanks

[2018-12-04 19:46] lantier opened #36 "Support for preemptible nodes"
Is it in the roadmap for support?
I think this can solve without minor issues:
[code]

[2018-12-04 20:57] miles- commented on #15
I'd also like to help get this fixed - what was the issue with the `remove_default_node_pool` parameter? @ryanckoch

[2018-12-04 21:39] miles- opened #37 "Support for disabling basic auth & client certificate"
There isn't currently a way to disable basic authentication and the creation of a client certificate at cluster creation time. It looks like both of these can be accomplished by setting a `master_auth` config.

https://www.terraform.io/docs/providers/google/r/container_cluster.html#master_auth

[2018-12-04 21:52] morgante commented on #36
Yeah, we can definitely add this. PR's welcome as well!

[2018-12-04 21:53] morgante commented on #37
Yes, I think it's a good idea to add this. Do you think we would want it as a default?

[2018-12-04 22:18] miles- commented on #37
Yes I think it makes sense to disable both by default. When creating a cluster via the GCP console, both options have recommendations to disable them. Also, they will be disabled by default in 1.12.

![2018-12-04-17 16 49](https://user-images.githubusercontent.com/428901/49476629-89bae380-f7e8-11e8-88d0-c4f0336877fa.png)

[2018-12-05 03:04] morgante commented on #15
@ryanckoch Can you chime in here?

[2018-12-13 01:54] coryodaniel opened #39 "Update examples to include example of setting service account"
I was setting up a cluster with this module using the examples as a reference and kept running into issues about the service account not existing (I set up the project with the project factory).

As noted in the [README](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blame/master/README.md#L42)<sup>1</sup> the node pools should specify the service account. I got tri

[2018-12-14 17:15] morgante commented on #39
I think we should address this via #2 and simply always require that a Service Account be either created or passed in.

Relying on the default service account is brittle and unstable.

[2018-12-14 18:11] morgante commented on #37
1. For basic auth, I think we should go with `enable_basic_auth = false` as the default going forward. This *will* generate a diff for existing module users, but that is acceptable as they can choose to either explicitly encode the desire to enable basic auth or require the new version.

2. Client certificates sound slightly more destructive and we use them internally, so let's *start* by adding a

[2018-12-14 18:21] coryodaniel commented on #37
Yep, I got that support in my first pass! Thanks for the input, sounds like a good approach to me.

[2018-12-18 15:01] czka opened #41 ""region" is deprecated in google_container_cluster"
[code]

You guys require the `region` setting in your module:
[code]

But:
[code]

[2018-12-18 15:30] czka commented on #36
Code changes should not be accepted without respective doc updates. Only accidentally I have learned that preemptible nodes are already supported in this modules. I have almost wasted my time trying to add an already existing feature. Now I'm wasting it writing this comment.

[2018-12-18 15:53] czka opened #42 "horizontal_pod_autoscaling should be enabled by default"
You have `horizontal_pod_autoscaling` disabled by default. In Terraform (https://www.terraform.io/docs/providers/google/r/container_cluster.html) it's **enabled** by default though. Why have the opposite? It seems to me that generic Terraform modules should not change the default behavior of the original resources they are wrappers for, unless there's a good reason.

[2018-12-18 16:34] czka commented on #41
Or am I supposed to use this module with a beta Google provider only? I can't see this clearly stated in the README.md.

[2018-12-18 17:40] czka opened #43 "can't provision a cluster with less than than 2 "zones""
[code]

With code as pasted in the bottom-most section of this ticket, which seems valid as per your docs and examples, I'm getting the following error at `terraform plan`:
[code]

Why is user forced to specify more than 1 zone? This is supposed to be a generic module after all.

[code]

[2018-12-18 23:06] Jberlinsky commented on #2
@morgante Picking this up.

One quick clarification -- I read this as `create` should create a service account **for the cluster** for use, that is to say that it will have the cluster name in the service account ID. Please let me know if you had something else in mind.

[2018-12-18 23:16] morgante commented on #2
Correct.

On Tue, Dec 18, 2018 at 18:06 Jason Berlinsky <notifications@github.com>
wrote:

[2018-12-19 00:53] morgante commented on #34
Re-opening so we can later automate this more, as per this comment: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/35#issuecomment-443739473

[2018-12-19 01:40] morgante commented on #43
I don't think it's supported to have a regional cluster with a single zone. For that case, I think you would want to create a zonal cluster, as per this example: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/simple_zonal

[2018-12-19 01:42] morgante commented on #2
One addendum: I would still like us to do some discovery on why a service account is even required. GCE VMs do *not* all require service accounts, so it's not clear why the module would break without a service account at all.

[2018-12-19 02:43] morgante opened #45 "Improve documentation of node_pools variable"
Right now the available settings for node_pools are not clearly documented - we should have clear docs on each available param.

[2018-12-19 02:50] morgante commented on #36
@czka Point well taken. As an immediate measure I added it to the usage example (f05796430a3307fa13eaa2d68ca65e43de8bc357). Longer term, we need to improve documentation of the node_pools variable (#45).

[2018-12-19 02:51] #36 closed

[2018-12-19 06:14] czka commented on #43
@morgante Why do you think I want to have a regional cluster? I've set `regional                   = false`.

[2018-12-21 01:45] bzub commented on #43
I'm hitting this issue as well, although it only started happening after a `terraform destroy` in which the previously created cluster was deleted already outside of terraform (gcloud cli). So there may be some resources left over in my GCP project that get picked up when terraform refreshes. `terraform show` is empty so I don't think it's a state issue on the terraform side.

[2018-12-22 00:35] bzub commented on #43
This interpolation basically interpolates a non-existent list element at index `1` when `var.zones` has a length of only one.
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/60baab8401f68c0a193b1b95ca4f8df1ba2d9ee5/cluster_zonal.tf#L27

I'm assuming that's part of the issue, since this local variable ends up with no zones instead of the singular zone provided to

[2018-12-27 19:12] morgante commented on #43
Thanks for identifying the issue - that does indeed look like what needs to be fixed.

[2019-01-02 23:46] ogreface commented on #43
Potential fix in: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/50

[2019-01-03 21:07] Jberlinsky commented on #28
This has been addressed for a while, closing.

[2019-01-03 21:07] #28 closed

[2019-01-03 21:08] #6 closed

[2019-01-03 21:08] Jberlinsky commented on #11
Closing, since we've integrated Concourse here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/48

[2019-01-03 21:08] #11 closed

[2019-01-03 21:09] Jberlinsky commented on #25
This was covered in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/33. Closing.

[2019-01-03 21:09] #25 closed

[2019-01-04 12:51] #42 closed

[2019-01-07 02:43] jpdesigndev commented on #27
I think this is an issue with `zonal_pools`. That's why switching to @ogreface's vars works.

[2019-01-10 14:54] morgante opened #63 "Outputs break after failed create"
[code]

[2019-01-10 16:53] morgante opened #65 "Add support for cluster labels"
https://www.terraform.io/docs/providers/google/r/container_cluster.html#resource_labels

[2019-01-11 15:14] nstogner opened #66 "Use a different extension for template files"
The `autogen/*.tf` templates cause hcl parsing issues with `terraform fmt` and other tools. Maybe switch the extension to `.tf.tmpl` or something.

[2019-01-11 15:32] czka opened #67 "docker_build_terraform make target missing"
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blame/master/README.md#L251:

[code]

A missing target in the `Makefile` or a doc error?

[2019-01-11 16:37] czka opened #68 "stub_domains test failed"
As of current master (3f7527e583ffa07e6a06250844e07c38556a4488 when writing this), with a following `test/fixtures/shared/terraform.tfvars`:
[code]

`make docker_build_kitchen_terraform`,  `make docker_run`, `kitchen create` and `kitchen converge` passed fine.

`kitchen verify` passed fine for `deploy_service`, `node_pool`, `shared_vpc`, `simple_regional` and `simple_zonal`. It failed at `stub_dom

[2019-01-11 19:02] Jberlinsky commented on #67
@czka Thanks for sending this in. You're correct that we missed updating a line in the README with a recent commit. I'll get this fixed up right away.

[2019-01-11 19:59] Jberlinsky commented on #68
@czka Could you kindly run the tests again and see if you're able to consistently reproduce this error? I just ran the `stub-domains` test and was unable to reproduce this issue.

[2019-01-11 21:52] #67 closed

[2019-01-14 11:18] czka commented on #68
Tried 2 more times. Same issue keeps cropping out:
[code]

[2019-01-14 15:55] czka commented on #68
@Jberlinsky

I have removed `.kitchen/` and all the `test/fixtures/*/.terraform/` dirs to start afresh. `make test_integration_docker` completed all fine in around 90 minutes.

But then I was able to reproduce the error again by running `make docker_run`, `kitchen create stub-domains`, `kitchen converge stub-domains`, `kitchen verify stub-domains`.

[2019-01-14 16:02] Jberlinsky commented on #68
@czka Thanks for the update; I'll continue to try to reproduce. Can you tell me if running `kitchen converge stub-domains` twice, instead of just once, resolves the problem?

[2019-01-14 16:02] czka commented on #68
BTW, is it as expected that `root` owns the following dirs created during the tests? I ran them as a regular user.

[code]

[2019-01-14 16:23] czka commented on #68
@Jberlinsky `kitchen verify stub-domains` passed without errors after running `kitchen converge stub-domains` 2nd time.

[2019-01-14 16:30] czka commented on #43
#50 works for me.

[2019-01-14 18:02] #43 closed

[2019-01-15 16:55] Jberlinsky commented on #68
Agreed -- I'll file a PR today/tomorrow to emphasize the need to run `kitchen converge` twice.

Thanks for reporting this, @czka!

[2019-01-16 12:17] czka commented on #68
@morgante Only now I noticed a double `kitchen converge` is already hardcoded in the `Makefile`: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blame/master/Makefile#L79. A well known issue with a well known workaround ;).

[2019-01-16 17:45] morgante commented on #68
@Jberlinsky Do you know why we need to converge twice though?

[2019-01-16 19:22] Jberlinsky commented on #68
I don't recall the specific reason offhand, but the double converge has been present in this repository for quite some time (see https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/5cb2b8b31491db5521fdaa5a2ae105fc01e44bb6/test/integration/gcloud/run.sh#L333).

I'll dig into this a bit.

[2019-01-16 21:39] Jberlinsky commented on #68
For the `google_container_cluster.primary` resource, the initial `plan` is as follows:

[code]

After the first `terraform apply`, the relevant `terraform plan` is as follows:

[code]

This change takes a fairly long time to apply (~13 min, just now), and does not result in a permadiff.

I'm continuing to dig in a bit, but it's looking like an API-level problem.

[2019-01-17 20:54] Jberlinsky commented on #68
I've created a cluster via the API with the following payload:

[code]

Once the cluster is created, I query it with `gcloud`, and find the same problem:

[code]

Looks like an API-level problem to me, unfortunately.

[2019-01-17 21:00] morgante commented on #68
@Jberlinsky Can you file an internal bug with the details and I'll route it appropriately?

[2019-01-18 17:49] zbutt-muvaki commented on #27
this is definitely an issue

i get following error
`
Warning: module.kubernetes-engine.google_container_node_pool.pools: "node_config.0.taint": [DEPRECATED] This field is in beta and will be removed from this provider. Use it in the the google-beta provider instead. See https://terraform.io/docs/providers/google/provider_versions.html for more details.

Warning: module.kubernetes-engine.google_con

[2019-01-19 00:57] Jberlinsky commented on #68
I've filed an internal bug, and submiitted #71 to make the README more explicit on this  matter.

[2019-01-19 01:37] morgante opened #72 "Double converge required for network policy to work"
As discussed in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/68#issuecomment-454953204, running `kitchen converge` twice is currently necessary to enable network policy/Calico.

This is an upstream issue in the API itself.

[2019-01-19 01:37] morgante commented on #68
Closing in favor of #72.

[2019-01-19 01:37] #68 closed

[2019-01-29 13:56] lantier opened #75 "Networks and Subnetworks are updated everytime"
Everytime the module is executed, it try to change the network and subnetworks internal links. Effectively this causes nothing, but the internal Google Api only writes the pattern: `projects/project-id/global/networks/network-name`
[code]

I believe this [commit](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/commit/e997e6604fce1e9d9e77f89c483792f26cc934de#diff-f0f6

[2019-01-30 06:49] #12 closed

[2019-01-30 06:52] morgante commented on #75
This was a workaround for an [upstream issue](https://github.com/terraform-providers/terraform-provider-google/issues/1566). You should probably open a new upstream issue because *either* subnet format (full URI or just postfix) is meant to be acceptable.

[2019-02-12 17:08] Jberlinsky commented on #2
Based on https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#use_least_privilege_sa, the service account is necessary to enable Stackdriver for monitoring and logging, and pulling images from GCR.

[2019-02-13 04:00] emalloy commented on #65
[WIP] https://github.com/emalloy/terraform-google-kubernetes-engine/tree/feature/issue_65 ... Just working on understanding the autogen stuff so that I can button this up and get in.

[2019-02-13 23:04] faizan82 commented on #27
I have the same issue now. Trying to deploy a GKE cluster and keep getting this error.

`Error: module.gke.google_container_node_pool.pools: "node_config.0.taint": [REMOVED] This field is in beta. Use it in the the google-beta provider instead. See https://terraform.io/docs/providers/google/provider_versions.html for more details.`

Taint option does not seem to be available in `

I removed the `t

[2019-02-18 15:25] tommyknows commented on #27
Same for me with a minimal config:

[code]

[2019-02-25 22:23] nixsticks opened #83 "Autoscaling cannot be disabled"
It appears that users must either specify `min_node_count` and `max_node_count` or have them default to 1 and 100; the `autoscaling` block is always created. Is this by design, or might we in future be able to specify a static node count and disable autoscaling?

[2019-02-26 19:14] deenski commented on #27
Same here:
[code]

plan output:
[code]

[2019-02-27 15:55] ogreface commented on #27
@deenski @tommyknows @faizan82 Can any of you let me know what version of the provider you're using?

[2019-02-27 16:46] ogreface commented on #27
Ok, so the documentation states that you need version 1.8 of the provider, and that is the supported configuration.

I can confirm that the examples work on with the provider pinned to 1.8.

Using the 2.0 version of the provider is unsupported. If you are using that, you do need to be on the beta version of the Google provider. This configuration seems to work for me.

`provider "google-beta" {

[2019-03-04 16:04] mkubaczyk opened #86 "Error: "node_config.0.taint" - module doesn't work with 2.0.0 google provider"
[code]

Deprecation warnings from 1.20.0 google provider became errors for 2.0.0, as expected. To fix this we might need to change the way providers are defined inside the module, right? Any quick fix for such thing?

[2019-03-04 16:23] morgante commented on #83
Autoscaling is our best practice by default - do you have a use case where specifying max_node_count isn't sufficient?

[2019-03-04 20:32] morgante commented on #86
The module isn't currently compatible with 2.0.0, so in the interim the only fix is to pin your provider version.

[2019-03-05 13:59] mkubaczyk commented on #86
Thanks, @morgante, that is more than enough for now. :-)

[2019-03-05 19:37] morgante commented on #86
Closing in favor of #27.

[2019-03-05 19:37] #86 closed

[2019-03-06 15:29] nixsticks commented on #83
Hi @morgante! That's my current workaround, yes -- but one use case where it's insufficient is where we want to freeze the current nodepool at zero without additional commands, and prevent it from spinning up new nodes, since `max_node_count` must be at least 1.

[2019-03-06 19:39] morgante commented on #83
Got it - unfortunately it's tough to have a conditional block in Terraform. If this is a major issue, could you file a provider bug requesting a disabled/enabled flag on the autoscaling block? If there is one, we'd be happy to add it to the module.

[2019-03-08 09:18] lawliet89 opened #93 "Add Support for `cluster_autoscaling`"
This is the [node auto-provisioning](https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning) feature that is supported by the [`cluster_autoscaling`](https://www.terraform.io/docs/providers/google/r/container_cluster.html#cluster_autoscaling) field.

[2019-03-09 17:17] deenski commented on #27
Can confirm, I was on the 2.0 version. The configuration @ogreface provided also works for me.

[2019-03-12 05:34] morgante commented on #8
Fixed with #69.

[2019-03-12 05:34] #8 closed

[2019-03-12 19:05] jonnymcgow7 opened #100 "No self link, apply is failing"
We're following almost exactly the readme spec and terraform plan works fine, but when we run apply we get this error: `* module.gke.google_container_cluster.primary: Resource 'data.google_compute_subnetwork.gke_subnetwork' not found for variable 'data.google_compute_subnetwork.gke_subnetwork.self_link'`

Is this a versioning problem on our end maybe? We've tried going through the other issues and

[2019-03-12 19:44] rileykarson commented on #100
Oh! This is an issue present in `2.1.0`. If you restrict your provider to `2.0.0`, or wait for `2.2.0` (hopefully later today / early tomorrow) this will work again.

[2019-03-13 15:27] dkozlov opened #101 "Add support for "guest_accelerator" in container_node_pool.node_config"
https://www.terraform.io/docs/providers/google/r/container_node_pool.html#node_config
https://www.terraform.io/docs/providers/google/r/container_cluster.html#guest_accelerator

[2019-03-13 16:57] vdt-mik commented on #100
Hi! I have same issue too, but i have the new provider version:
`* provider.google: version = "~> 2.2"
* provider.kubernetes: version = "~> 1.5"
* provider.null: version = "~> 2.1"
* provider.random: version = "~> 2.0"`

[2019-03-19 00:37] tmc opened #107 "Support for Istio"
This module doesn't seem to expose https://www.terraform.io/docs/providers/google/r/container_cluster.html#istio_config and it should.

[2019-03-19 19:34] wadadli commented on #86
I tried the instructions in #27  and they no longer work.  Did something change?

[2019-03-19 19:47] wadadli commented on #27
@ogreface -- we're giving this a shot right now.  We even tried to explicitly pin to 2.0.0 of the beta provider and no dice.  Seems this is now completely borked?

[2019-03-19 21:44] ogreface commented on #27
@wadadli Could you paste your code? Happy to take a look, but the example above still seems to work for me.

[2019-03-20 01:40] wadadli commented on #27
Here's the tf that is resulting in the following error
[code]

[code]

We have tried adding the
[code]
to both `_init.tf` and within the the same tf file as the resource above.

[2019-03-21 21:37] ogreface commented on #27
@wadadli That TF pretty much works for me in terms of validation. Are you specifying the provider that's being passed in?

`
provider "google-beta" {
  version = "2.0.0"
  project = "${var.project_id}"
  region  = "${var.region}"
}

module "gke" {
  providers = {
    google = "google-beta"
  }

  source                     = "../../"
  name                       = "vault-foobar"
  project_id

[2019-03-22 17:24] tmc opened #112 "Documentation generation broken"
As of 0f780cc5c01342631116573566cb82de8f54a7cd `make generate_docs` fails with

[code]

[2019-03-22 17:54] thefirstofthe300 commented on #112
A PR is [already in review](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/110) to get this error fixed.  It should be merged soon.

[2019-03-22 18:08] aaron-lane commented on #112
Closing as duplicate of #110.

[2019-03-22 18:08] #112 closed

[2019-03-25 20:29] ocervell commented on #5
+1 any update on this ?

[2019-03-25 20:32] ocervell opened #116 "Private cluster timeout"
Private cluster fails with a timeout when posting the config map (when `network_policy` is set to `true`:

[code]

I think this might be linked to the missing feature for VPC Transitive peering that prevents an on-prem network from reaching the GKE master when it's private.

[2019-03-25 22:16] thefirstofthe300 commented on #116
@ocervell Are you attempting to talk to the master from a network other than the VPC to which the GKE cluster is attached?

[2019-03-26 19:54] ocervell commented on #116
Yeah, running this from my local. Which confirms it fails because the VPC Transitive peering feature is not GA yet.

Let's add a warning in the docs that the Terraform for this should run in the same VPC where the cluster is created, and will fail from a peered VPC or from an on-prem network connected through VPN ?

[2019-03-26 19:57] ocervell opened #118 "Cannot update a node pool count"
Tried to create a private cluster with 1 node pool with 3 nodes initially, and a min = 1, max = 3 --> this worked.
Tried to update the node pool with 30 nodes initially, and a min=1, max=300 --> This fails with the following error:
![Screen Shot 2019-03-26 at 2 54 52 PM](https://user-images.githubusercontent.com/9629314/55029201-7d48d980-4fd7-11e9-9933-8dce892e032c.png)

Workaround: comment out th

[2019-03-27 10:40] g0blin79 opened #120 "Forced recreating node_pool at any plan"
Once a simple zonal cluster with a node_pool is correctly created, if I run again a `terraform apply` without any changes, terraform want to destroy and recreate cluster and node_pool.

This is my configuration:

[code]
As you probably note (presence of `remove_default_node_pool` in cluster config) I applied patch at #15 and, after that the problem is a little bit mitigated and terraform want to d

[2019-03-27 15:24] morgante commented on #120
This looks like it's caused by #114. Could you try the latest `master` version and confirm if you're still seeing the issue?

[2019-03-27 15:25] morgante commented on #118
This seems like a provider issue - could you file an issue there?

[2019-03-27 15:30] morgante commented on #116
Note added in #121

[2019-03-27 15:44] #116 closed

[2019-03-28 11:55] brendanator commented on #100
I was able to get around this by using the default network for everything.
[code]
I guess this means that I would have to manually create these networks/subnets to use different names?

Either these networks should be automatically generated or the documentation needs updating

[2019-03-28 15:07] g0blin79 commented on #27
I still have this issue.

I'm using master code of this repo, downloaded some minutes ago.
This is my terraform cluster definition using this module:

[code]

This is my provider

[code]

Still having this errors:

[code]

Is there some mistake I made?

[2019-03-28 16:18] g0blin79 commented on #120
Tryed to use `master` version but I have another error (see: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/27#issuecomment-477635871).
Waiting

[2019-03-28 19:55] morgante commented on #100
@rileykarson Can you confirm if this has been fixed in the provider?

[2019-03-28 20:21] rileykarson commented on #100
It should have been fixed in `2.2.0`, if you can repro in an isolated config please file an issue.

[2019-03-28 20:23] morgante commented on #100
@vdt-mik Any chance you could share your config?

[2019-03-29 20:04] trotttrotttrott opened #128 "Change node pool resources to use for_each"
In the circumstance that a node pool must be replaced and workload transitioned with zero downtime, having all node pools defined in a list and launched with a single [`google_container_node_pool`](https://www.terraform.io/docs/providers/google/r/container_node_pool.html) resource makes it difficult to carry out.

For example, if two node pools are defined and node pool 0 must be replaced. It seem

[2019-04-02 12:31] mlschechter opened #130 "Examples link in module registry does not work"
In the main `README`, the following text is displayed in the module registry on terraform.io: "There are multiple examples included in the examples folder but simple usage is as follows".

The link for the examples (https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/examples/) returns a 404 if you click on it.

[2019-04-02 21:27] morgante commented on #130
I think this feedback should be passed to HashiCorp or the module registry, since they're essentially not parsing the README's relative links correctly.

[2019-04-02 21:29] morgante commented on #128
I think we should consider having separate node pool submodules for explicit management.

Hopefully, Terraform 0.12 will make count cases less problematic.

[2019-04-04 13:52] mlschechter commented on #130
I've created https://github.com/hashicorp/terraform/issues/20930

Thanks!

[2019-04-04 21:50] #130 closed

[2019-04-09 20:50] aaron-lane commented on #2
Fixed by #80.

[2019-04-09 20:50] #2 closed

[2019-04-12 18:14] thiagonache commented on #27
Folks, I think I've found the issue. You must use specifically a variable. If you use local or module output it does fail.

....
node_pools = [
    {
      name               = "default-node-pool"
      machine_type       = "n1-standard-2"
      min_count          = 0
      max_count          = 1
      disk_size_gb       = 100
      disk_type          = "pd-standard"
      image_type         = "CO

[2019-04-15 17:19] jpdesigndev commented on #107
Now there's `cloudrun_config` as well (something I need).

Perhaps there is a more future-proof mechanism for supporting `beta` features without having to play catch-up in this module. I don't know enough about terraform / this module's architecture to know.

Anyone have thoughts about how to get these in without requiring this modules to change every time there is a new `_config` item?

[2019-04-16 15:25] aaron-lane commented on #27
Hi all. I apologize for the persistence of this issue. A workaround in addition to the one shared by @thiagonache is to allow the module to create a dedicated service account for the cluster:

[code]

[2019-04-17 17:30] bgeesaman opened #138 "Suggest `network_policy` be enabled by default"
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/variables.tf#L106

Suggest enabling it by default on newly created clusters by default.  Recommended by the CIS GCP Benchmark to be enabled. See: https://www.cisecurity.org/benchmark/google_cloud_computing_platform/

Pros: Allows for support of `NetworkPolicy` objects if they are applied without havi

[2019-04-17 17:36] bgeesaman opened #139 "Suggest enabling metadata-concealment by default"
Strongly suggest that the metadata-concealment proxy be enabled to protect cluster privilege escalation attacks (without this control in place, any pod has the ability to use the instance metadata API to obtain the kubelet's credentials which provides a path to gain access to all cluster secrets).

https://www.terraform.io/docs/providers/google/r/container_cluster.html#node_metadata
e.g.
[code]
Se

[2019-04-17 17:39] bgeesaman opened #140 "Add configuration flag for `pod_security_policy_config`"
https://www.terraform.io/docs/providers/google/r/container_cluster.html#enabled-2
But disabled by the default variable(s).

This would allow cluster operators to enable this feature to support policies that prevent pods from being able to mount the host filesystem, run in the host network and/or process namespace, and run as a privileged user.

See: https://www.qwiklabs.com/focuses/5158?parent=cat

[2019-04-17 17:44] bgeesaman opened #141 "Add configuration flag for `enable_binary_authorization`"
https://www.terraform.io/docs/providers/google/r/container_cluster.html#enable_binary_authorization

Suggest plumbing the flag for it with the default as false.  It allows for enabling the BinAuthZ Admission controller for being able to set a whitelist policy for approved container registry paths and also enforce image signing if desired.  Note that can safely be set to be true if desired as the G

[2019-04-17 19:06] morgante commented on #138
+1

[2019-04-17 19:06] morgante commented on #141
+1

[2019-04-17 19:06] morgante commented on #140
+1

[2019-04-17 19:06] morgante commented on #139
We should expose this as a variable (with a `SECURE` default).

[2019-04-23 08:36] namcxn opened #142 "can't provision cluster with shared vpc"
terraform apply with error

`The user` what ?

sevices account `terraform@xxxx.iam.gserviceaccount.com` owner project

my config with share-vpc

Tks

[2019-04-23 15:41] namcxn commented on #142
Resolved. Closed

[2019-04-23 15:41] #142 closed

[2019-04-24 17:00] dijitali opened #143 "Terraform Google provider >= 2.4 throws error: "node_pool": conflicts with remove_default_node_pool"
I'm just trying out this module for a PoC and ran into some difficulties following the v2.0.0 release.  I created a cluster OK using with v1.0.1 but just upgraded and am now getting this error when running a plan.

I've stripped back my config and still see the same issue with the main example config in the
[README.md](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/

[2019-04-24 17:13] dijitali commented on #143
I've also tried specifying `version = "~> 2.2"` for the `google` and `google-beta` providers as seems to be used in some of the examples directory in this repo but get the same error.

If I lock to `version = "~> 2.0.0"` and explictly reference the `google-beta` provider, as was suggested in #27, I get a different error though:

[code]

Gives:
[code]

[2019-04-25 18:29] morgante commented on #143
Can you try locking to `version = 2.3`?

[2019-04-25 23:06] zioproto commented on #143
@morgante I can confirm that locking both `google` and `google-beta` providers to version `2.3` fixes this issue. Thank you

[2019-04-26 09:56] dijitali commented on #143
That's sorted it for me too.  Thanks!

In general, how should I be determining what provider version is compatible with modules in terraform-google-modules?

There's [a section in the main README.md](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine#terraform-and-plugins) but it suggests v2.0.0 is required at present.

[2019-04-26 16:38] morgante commented on #143
@dijitali The most reliable way is to check the module version pinned in the [examples](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/examples/simple_regional/main.tf).

[2019-04-26 18:25] dijitali commented on #143
@morgante - that example link seems out of date as it has them pinned to v2.2.x at the moment, which is broken.

Are the integration tests running and passing on this module at the moment?  Can we look to those to see what provider version should be working?

[2019-04-26 19:00] morgante commented on #143
@dijitali So our pinning was slightly broken, which is why I have a PR to fix it but 2.2 and 2.3 should probably both work.

[2019-04-27 11:00] kbroughton commented on #140
+1

[2019-05-02 22:25] brandoconnor commented on #128
Your point is 100% valid @trotttrotttrott but as it stands this is the best terraform can do. Separating out the resources, to me, doesn't seem to make sense as a cluster and a node pool are as intertwined as a hotdog and a bun  🌭 . If we separate them, in one of the cases, we'll likely just be packaging a single resource... which has negative value.

To spin this into perhaps something actionable

[2019-05-02 22:34] morgante commented on #128
Yes, that could certainly be helpful though I wonder if 0.12 will come soon enough to obviate the need.

[2019-05-02 22:40] brandoconnor commented on #128
Movement on the providers would seem to indicate 0.12 is near. Even still, I haven't peeked under the hood far enough to have an understanding of how/if internal data structures are stored differently. For someone who has the time, it'd be worth giving 0.12 beta a whirl and diving into the source to see where it stands today in its handling of lists in state and plans on those objects.

[2019-05-02 22:45] morgante commented on #128
Ah, it looks like a resource for_each won't be included in 0.12 initial release anyways: https://www.hashicorp.com/blog/hashicorp-terraform-0-12-preview-for-and-for-each

@brandoconnor or @trotttrotttrott Would you mind replacing this issue with a new FR to document the operations necessary for node pool additions/edits?

[2019-05-06 20:39] aaron-lane commented on #75
The workaround should be removed when this module implements support for [Terraform v0.12](https://github.com/hashicorp/terraform/issues/18209#issuecomment-465157613).

[2019-05-06 20:46] aaron-lane commented on #41
Hi @czka.

I apologize for the delay in responding to your issue!

Presently, the module requires both the Google provider v2.3 and the Google Beta provider v2.3. We are working to address field deprecations but they should not affect your usage of the module.

[2019-05-06 20:50] aaron-lane commented on #37
Fixed by #40.

[2019-05-06 20:50] #37 closed

[2019-05-06 20:52] aaron-lane commented on #39
Fixed by #80.

[2019-05-06 20:52] #39 closed

[2019-05-06 21:00] aaron-lane commented on #23
Fixed by #80.

[2019-05-06 21:00] #23 closed

[2019-05-06 21:03] aaron-lane commented on #14
Hi @pratikmallya.

I'm closing this issue due to a lack of activity. Please reopen it if you would like to continue the discussion.

[2019-05-06 21:05] aaron-lane commented on #15
Fixed by #55.

[2019-05-06 21:05] #15 closed

[2019-05-06 21:08] aaron-lane commented on #83
Hi @nixsticks. Would you like to proceed with an issue on the Google provider or can we close this issue?

[2019-05-06 22:10] nixsticks commented on #83
Hey @aaron-lane , sorry I didn't follow up on this! We've managed to work around it for now, so no need to file a provider bug / add to the module, I think.

[2019-05-07 06:32] #83 closed

[2019-05-08 15:53] arvindpai commented on #41
even zone seems to be deprecated. As stated in terraform.io for container cluster.
![Screenshot region-zone](https://user-images.githubusercontent.com/17788117/57389320-c65f8200-716e-11e9-891d-5697241de8c3.png)

[2019-05-08 18:50] morgante commented on #41
This is captured in #147 as part of a larger effort to consolidate resource support.

[2019-05-09 00:08] thefirstofthe300 commented on #72
Do we have a public issue for this particular upstream bug? It'd be nice to have some visibility into the work on the API.

[2019-05-15 06:40] morgante commented on #34
Closing this out would require, as mentioned above:
- Adding an (optional) invocation of the [project services module](https://github.com/terraform-google-modules/terraform-google-project-factory/tree/master/modules/project_services/examples/project_services) to activate needed APIs
- Adding a (optional) submodule for enabling GKE shared VPC which grants the necessary roles to the the GKE service

[2019-05-15 15:55] ponkt opened #150 "wait-for-cluster.sh throw error jq: command not found"
I've been testing this module for a PoC, but it seems that a script in deployment process assume the presence of a binary which is not present anymore in COS.

The complete error :
[code]

### Terraform version
[code]

### Configuration file

provider.tf
[code]

main.tf
[code]

### Expected Behavior
Terraform creates plan successfully without error.

### Actual Behavior
`terraform apply` errors wi

[2019-05-15 17:22] morgante commented on #150
Looks like we don't document the requirement of installing jq: https://stedolan.github.io/jq/

[2019-05-17 12:11] Nosmoht commented on #14
Can we reopen the issue? I've the same problem. Using `-config=""` doesnt help at all.

[2019-05-21 02:13] #118 closed

[2019-05-21 13:17] arthurgustin opened #152 "Use NoExecute instead of NO_EXECUTE in node pool"
When creating `nodepool` with taints, I'd expect writing `NoExecute` as stated in the doc https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

But it throws in the console:

`expected node_config.0.taint.0.effect to be one of [NO_SCHEDULE PREFER_NO_SCHEDULE NO_EXECUTE], got NoExecute`

[2019-05-21 16:20] morgante commented on #152
Can you clarify what the issue is here? I don't think it's a bug in this module.

[2019-05-21 20:21] arthurgustin commented on #152
It's not an issue, just something I find inconsistent

[2019-05-22 15:22] morgante commented on #152
Got it, I think it's an upstream issue with the provider and/or GKE API rather than this module.

[2019-05-22 15:22] #152 closed

[2019-05-23 07:38] mholleville opened #153 "Disable Master authorized network"
Hi ! is it possible to disable `master_authorized_networks_config` ? We have Saas CI and we needed her to be able to access the cluster. Unfortunately, because it’s a service, we don’t have an associated CIDR

[2019-05-23 19:40] morgante commented on #153
Would allowing additional CIDR blocks to the authorized config be sufficient? (This could include `0.0.0.0/0`.)

[2019-05-27 18:10] sarimali opened #154 "Error 400 when reprovisioning local cluster from within the same subnet"
[code]

[2019-05-27 18:21] aaron-lane commented on #154
Hi @sarimali.

Can you please share the versions of the providers which you are using in this configuration?

[2019-05-27 18:33] #150 closed

[2019-05-27 19:18] sarimali commented on #154
[code]

[2019-05-27 19:33] aaron-lane commented on #100
@jonnymcgow7 can you please confirm if using version 2.2.0 or greater of the provider fixes this issue?

[2019-05-28 15:10] #143 closed

[2019-05-29 15:37] aaron-lane commented on #154
Thanks @sarimali. Can you confirm if using v2.7.0 of the Google providers solves the issue?

[2019-05-29 20:44] kiran002 commented on #3
Could you elaborate a bit more? Because from the definition all of these variable seem to have default values (https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/variables.tf#L167-L170) and if i am not wrong, that should enough correct?

[2019-05-29 20:46] morgante commented on #3
This might be out of date, but the specific desire is:
1. Defaults are available for the entire variable.
2. I can override the variable for one node pool without having to set a value for the whole variable.

[2019-05-30 08:43] SubhakarKotta commented on #100
I am using the below versions but still facing the same issue.
provider "google" {
  version     = "~> 2.3.0"
  credentials = "${ file(var.credentials) }"
  project     = "${var.project_id}"
  region      = "${var.region}"
}

provider "google-beta" {
  version     = "~> 2.3.0"
  credentials = "${ file(var.credentials) }"
  project     = "${var.project_id}"
  region      = "${var.region}"
}

[2019-05-30 15:29] aaron-lane commented on #100
@SubhakarKotta can you please file as issue against https://github.com/terraform-providers/terraform-provider-google?

[2019-05-30 15:34] SubhakarKotta commented on #100
Issue filed https://github.com/terraform-providers/terraform-provider-google/issues/3746

[2019-06-01 07:04] SubhakarKotta opened #158 "Add support for Terraform v0.12"
Terraform v0.12.0
+ provider.google v2.7.0
+ provider.google-beta v2.7.0
+ provider.kubernetes v1.7.0
+ provider.null v2.1.2
+ provider.random v2.1.2

Initializing modules...
- gke in ../..

Initializing the backend...

Initializing provider plugins...
- Checking for available provider plugins...
- Downloading plugin for provider "google-beta" (terraform-providers/google-beta) 2.7.0...
- Downloadi

[2019-06-01 07:07] morgante commented on #158
What Terraform version are you using? 0.12 is not yet supported for this
module.

On Sat, Jun 1, 2019 at 00:04 SubhakarKotta <notifications@github.com> wrote:

--

*Morgante Pell*

Strategic Cloud Engineer

morgantep@google.com

+1 212-565-7834

[2019-06-01 11:59] SubhakarKotta commented on #158
What should be the terraform version ? I am using latest 0.12

[2019-06-03 14:20] aaron-lane commented on #158
@SubhakarKotta Terraform 0.11.14 should be compatible with this module.

[2019-06-03 18:11] aaron-lane commented on #101
Fixed by #157.

[2019-06-04 19:19] morgante opened #161 "Refactor/flatten duplicate resources"
Currently, the "zonal" and "regional" clusters are defined using separate resources. Now that Terraform has a single "location" parameter which can be used for either we can collapse the two cluster resources into a single resource (using that parameter).

Some work was already done on this here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/147

[2019-06-04 21:07] zioproto commented on #120
I do have the same problem. I think 8be6a89686fe1f29dc797a80207d55a02105f4a1 introduced a regression.

This is the relevant part of my Terraform plan:

[code]

[2019-06-04 21:14] zioproto commented on #120
I confirm that using tag v2.1.0 where that commit is not present, I cant reproduce the issue.

[2019-06-04 21:15] zioproto commented on #120
@alexkonkin please check the above comments. Looks like https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/157 introduced a regression.
thank you

[2019-06-04 21:17] morgante commented on #120
I'm guessing this is an upstream provider issue, I will investigate further.

[2019-06-06 12:37] zioproto commented on #158
Is there a plan to upgrade this module to be compatible with Terraform 0.12 ? What would be the expected release date ?
thanks

[2019-06-06 17:50] morgante commented on #158
@zioproto We're expecting within the next 2 weeks.

[2019-06-11 20:22] marko7460 opened #164 "Add support for database_encryption field"
Official resource supports` database_encryption` field in beta.
https://www.terraform.io/docs/providers/google/r/container_cluster.html#database_encryption
This module should support this as well.

[2019-06-12 16:39] morgante commented on #141
Fixed by #160

[2019-06-13 16:26] aaron-lane opened #167 "Test pending release and determine breaking status"
We need to determine if the [unreleased commits](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/compare/v2.1.0...HEAD) constitute a breaking change.

This should be possible by converging test suites from the v2.1.0 tag, then changing to master and reconverging the same test suites.

If the release is going to be breaking then we need to write an upgrade guide.

[2019-06-13 19:15] algermissen opened #170 "Support for default_max_nodes_per_host"
Hi,
I would like to add default_max_nodes_per_host parameter. I have created a branch for this: https://github.com/algermissen/terraform-google-kubernetes-engine/tree/add-default-max-pods-per-node

However, I had to hard-code the beta-provisioner and this prevents me from raising a PR.

Can you give any advice how you would like to have it integrated? Currently it is dependent on another condition

[2019-06-14 14:27] aaron-lane commented on #72
Fixed by #159.

[2019-06-14 14:27] #72 closed

[2019-06-14 15:32] chrislovecnm commented on #100
I am hitting this as well, and I am referencing the networking name in the gke module.

My providers

[code]

snippet from my cluster

[code]

[2019-06-14 16:20] chrislovecnm commented on #100
I even added

[code]

And that did not help

[2019-06-14 16:39] chrislovecnm opened #172 "ip_masq with aliased ip addresses"
When we have aliased ip addresses do we need ip_masq enabled for network policies?

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/private-cluster/masq.tf#L22

I am seeing this and I am wondering if we do not need this when we have aliased ip subnets for the services and pods.

[2019-06-14 16:39] chrislovecnm commented on #172
/cc @morgante

[2019-06-14 19:52] aaron-lane commented on #170
Hi @algermissen. Thank you for your interest in contributing!

We are considering a redesign of this module in the near future which may require use of the beta provider for both public and private clusters, so this is not an unprecedented change. Please propose your change and we will try to include it when the new version is released.

[2019-06-14 20:38] aaron-lane opened #173 "Test for GPU taint intermittently fails"
We added a test for this taint in #101:

[code]

Unfortunately, the test intermittently fails, so it was removed in #171. We need to investigate why it fails.

[2019-06-15 09:19] algermissen commented on #170
Hi @aaron-lane PR is here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/174

[2019-06-17 19:17] aaron-lane commented on #100
@chrislovecnm could you try using an element of `module.gke-network.subnets_names` for the `subnetwork` argument of `module.gke`?

[2019-06-17 20:44] chrislovecnm commented on #100
It is an array, not a singular name, let me workout the syntax 😅

[2019-06-17 22:22] aaron-lane commented on #140
Fixed by #163.

[2019-06-17 22:22] #140 closed

[2019-06-18 14:21] aaron-lane commented on #5
@morgante was the second example intended to have a different value for `service_account`?

[2019-06-18 16:56] aaron-lane commented on #100
`"${element(module.gke-network.subnets_names, 0)}"` should work, assuming the first subnet is the one you want to use.

[2019-06-18 17:18] chrislovecnm commented on #100
Wahoo! Yes adding the subnet as a var helped.

[2019-06-19 11:34] g0blin79 commented on #120
Resolved for my with these providers:

[code]
in 2.1.0 version of this module.

[2019-06-19 11:41] g0blin79 opened #179 "Error during update logging and monitoring from Legacy to Stackdriver Kubernetes Engine"
Tried to update a zonal cluster (built with this module) from Legacy Stackdriver to Stackdriver Kubernetes Engine.
It gave me this error (during "terraform apply", not in "plan"):

[code]

It seems a problem related to google provider used: if I change in cluster_zonal.tf

[code]
to
[code]
it seems to work without problem

[2019-06-19 14:06] morgante commented on #120
@g0blin79 Can you confirm that `master` is currently working for you as well?

[2019-06-19 14:10] g0blin79 commented on #120
Yes it is. I created a zonal cluster two weeks ago with that providers versions and with the 2.1.0 version of this module and it is working.

[2019-06-19 14:15] morgante commented on #120
Excellent, thank you.

[2019-06-19 14:15] #120 closed

[2019-06-19 15:16] morgante opened #180 "Add tests for beta submodules/examples"

[2019-06-19 15:21] morgante opened #181 "Ensure that GA modules don't depend on beta functionality"
We should remove the beta provider from the testing config for the non-beta modules and ensure that it's not required.

[2019-06-19 15:44] morgante opened #182 "Fix linter"
Lint tests are currently failing in CI, looks like a missing package.

[2019-06-19 18:06] morgante commented on #179
Can you share your module config?

You might want to look at using the recently merged [beta submodule](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/beta-public-cluster).

[2019-06-19 19:49] chrislovecnm commented on #172
@aaron-lane after researching this, this is a bug.  We do not and should not enable ip masq when using aliased ip addresses.

[2019-06-19 20:23] morgante commented on #172
@chrislovecnm The specific reasons for having this are two-fold:

1. Alias IPs are often not routable from on-prem, so pods calling on-prem services need to have their calls NATed
2. As far as I know, ip_masq is required to allow network policies to work. Do you have information to the contrary?

I would be open to adding an additional flag which disables ip-masq.

[2019-06-19 22:41] chrislovecnm commented on #172
I verified with a couple different engineers that we do not need it.  Do you have documentation to the contrary?  Yes, having an additional flag for it would be great.  I agree with you on the first use case that we need to provide that support.

The reason this is a big inconvenience and a bit of a chicken and egg problem is that you cannot create the vpc, subnet, and private cluster from the sam

[2019-06-20 00:48] morgante commented on #172
It looks like that requirement might be out of date.

I definitely see your use case. I suggest we add a `configure_ip_masq` variable which defaults to false (this will be a breaking change) and include it for that block.

Can you file a PR for this? If not we'll have someone handle it on our end.

[2019-06-20 10:24] g0blin79 commented on #179
This is my module config:

[code]

[2019-06-20 15:55] marko7460 opened #183 "PR 124 doesn't have tf files and template files in sync"
This issue is a consequence of https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/124.

1. Git clone master branch of this repo `git clone git@github.com:terraform-google-modules/terraform-google-kubernetes-engine.git`
2. `cd terraform-google-kubernetes-engine/`
3. `make generate`
4. `git status`

You will see too many files being modified when applying the templat

[2019-06-20 16:02] morgante commented on #183
@marko7460 Could you open a pull request with the drift?

[2019-06-20 16:45] marko7460 commented on #183
PR: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/184

[2019-06-20 17:57] morgante commented on #183
Fixed by #184

[2019-06-20 17:57] #183 closed

[2019-06-21 15:41] aaron-lane commented on #100
@chrislovecnm Excellent!
@SubhakarKotta does this solution work for you?

[2019-06-21 15:51] SubhakarKotta commented on #100
@aaron-lane  Thanks It worked

[2019-06-21 16:34] marko7460 opened #185 "Add database_encryption tests for terraform 0.12"
Once the module is updated to support terraform 0.12 a test and example for `database_encryption` should be added.

[2019-06-21 20:56] morgante commented on #179
@g0blin79 Can you try using the beta module we recently merged? https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/beta-public-cluster

[2019-06-21 23:18] chrislovecnm commented on #172
@morgante to clarify.  Change this

https://github.com/chrislovecnm/terraform-google-kubernetes-engine/blob/master/autogen/masq.tf#L22-L32

To use a new variable:

[code]

[2019-06-21 23:23] morgante commented on #172
Yes.

[2019-06-22 00:26] chrislovecnm commented on #140
@aaron-lane we only did this for private clusters.  Not sure why. Public clusters love PSP too!

[2019-06-22 00:26] chrislovecnm commented on #140
See https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/188

[2019-06-22 00:28] chrislovecnm commented on #141
We only added this feature for private clusters.  Public clusters love binary auth too.

See https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/186

[2019-06-22 21:28] morgante commented on #141
This needs to be enabled on the `beta` modules.

[2019-06-22 23:47] chrislovecnm commented on #141
it was already out in as non beta, so if we do that it will be a breaking change. So let me know if you want me to put it in as a breaking change.

[2019-06-22 23:48] morgante commented on #141
No, it's only on the private cluster module (which uses the beta provider). We can add it to the public beta module as well, but we don't need to add it to the main module.

[2019-06-23 17:23] chrislovecnm commented on #141
I misunderstood. Terraform provider. Now the question is do we put this feature only into our beta modules, and remove it from the private template

[2019-06-23 18:36] itlinux commented on #141
Hello is this possible, I search and found that there is an option to use UBUNTU but have not seen a way to use CentOS

Remo

[2019-06-24 07:55] MichelBoucey commented on #100
Hi Aaron,

Terraform v0.11.14
+ provider.google v2.7.0
+ provider.google-beta v2.7.0
+ provider.kubernetes v1.7.0

I'm stuck on the same error when applying plan.

I tried "${element(module.gke-network.subnets_names, 0)}", but no module by that name.

[2019-06-24 15:49] morgante commented on #100
@MichelBoucey How are you creating your network? For that to work, you need `gke-network` module defined in the same Terraform config.

If you can share your Terraform config, we'll be able to help easier.

[2019-06-24 15:53] morgante commented on #141
@itlinux I think you might be looking in the wrong place. This issue is about adding a `binary_authorization` flag to the module.

[2019-06-25 03:23] bibinwilson opened #189 "Custom Node Pools gets recreated even without any changes in subsequent Terraform runs"
I am using custom node pools by setting, `remove_default_node_pool    = true`. When i run terraform again, the custom node pools gets recreated even without any changes in the terraform configuration.

**Expected behaviour:** Custom node pools should not get recreated unless there is a change.

[2019-06-25 08:03] MichelBoucey commented on #100
I knew this module wasn't used so far but it seems the only trick to trigger the discover or creation of  the resource `data.google_compute_subnetwork.gke_subnetwork`...

Well, I'm just following the simple_regional_private example:

provider "google-beta" {
  version = "~> 2.7.0"
  project = "${var.project_id}"
  region  = "${var.region}"
}

data "google_compute_subnetwork" "subnetwork" {
  name

[2019-06-25 15:53] morgante commented on #189
Can you please share your Terraform configuration and the output of `terraform plan`?

[2019-06-25 22:04] morgante commented on #100
@MichelBoucey What exactly is the error you get? It expects subnetwork name as an input.

[2019-06-26 07:07] MichelBoucey commented on #100
I get, exactly as @jonnymcgow7, module.gke.google_container_cluster.primary: Resource 'data.google_compute_subnetwork.gke_subnetwork' not found for variable 'data.google_compute_subnetwork.gke_subnetwork.self_link'

[2019-06-26 08:35] SubatomicHero opened #192 "Add support for `cluster_ipv4_cidr` property"
`google_container_cluster` supports the `cluster_ipv4_cidr` property but none of the modules do. We have the need to specify our cluster CIDR for our clusters and not let Google determine them. Please can this be added ASAP?

[2019-06-26 08:51] SubatomicHero commented on #192
I did it myself :)
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/193

[2019-06-26 12:55] ingwarr commented on #5
@aaron-lane I need additional clarification for this issue, I have insufficient information to reproduce and/or fix it

[2019-06-26 16:18] morgante commented on #192
Merged! Thanks for the contribution—expect this to be included in the next release (next week).

[2019-06-26 16:18] #192 closed

[2019-06-26 16:21] morgante commented on #100
@MichelBoucey Where is `var.subnetwork` coming from? Where are you defining your subnet creation?

[2019-06-26 17:07] morgante commented on #5
`create` is now available to generate the service account in the module.

[2019-06-26 17:07] #5 closed

[2019-06-26 17:22] MichelBoucey commented on #100
@morgante I thought it was just a name to provide, not to point at an already created resource , but to create the subnetwork by that name. So, `var.subnetwork` is just a name coming from my terraform.vars.

[2019-06-26 18:37] #172 closed

[2019-06-26 20:39] morgante commented on #100
Ah, this module doesn't take care of creating the subnetwork. You need to provide a subnetwork from outside the module, which you can use the [network module](https://github.com/terraform-google-modules/terraform-google-network) to handle.

[2019-06-26 20:47] morgante opened #195 "Provide networking example"
Currently, we create networks in the test fixtures.

It would be helpful to adapt at least one of the examples themselves to include network creation (using the network module) to demonstrate how the GKE module and network module can work together.

The `simple_regional` example could do this.

[2019-06-26 20:55] MichelBoucey commented on #100
@morgante Oh thank you very much. It's clearer now. I thought `terraform-google-kubernetes-engine` module was self-suffisant to setup a full `GKE` service as there is for `EKS`. BTW: I'm a great beginner on GCP services...

[2019-06-26 21:32] chrislovecnm commented on #100
@morgante we should have an example that builds a network and a cluster as well.  I have some TF that I can contribute, once I get the beta module stuff sorted

[2019-06-26 21:33] morgante commented on #100
@chrislovecnm My thoughts exactly. :) I opened #195 to track.

[2019-06-27 21:55] aaron-lane commented on #195
This could jive nicely with the move to ephemeral test projects.

[2019-06-27 22:26] chrislovecnm commented on #173
@aaron-lane this should be fixed by https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/200

[2019-06-28 17:28] aaron-lane commented on #101
Fixed by #197.

[2019-06-28 17:28] #101 closed

[2019-06-28 17:32] aaron-lane commented on #173
@chrislovecnm right you are! Fixed by #200.

[2019-06-28 17:32] #173 closed

[2019-07-01 04:42] bibinwilson commented on #189
Hi,

My issue got rectified when I added "disable-legacy-endpoints = "true""

my setup needed custom metadata and disable-legacy-endpoints metadata was not part of it. It fixed the issue.

[2019-07-01 04:42] #189 closed

[2019-07-02 16:04] marko7460 commented on #164
Fixed in https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/165

[2019-07-02 21:31] dmyerscough opened #204 "Provide support for upstreamNameservers block for kube-dns"
Create additional support for `upstreamNameservers` for kube-dns:-

[code]

There is currently already support for stubDomains.

[2019-07-03 14:50] #164 closed

[2019-07-03 16:20] aaron-lane commented on #167
Fixed by #205.
Fixed by #206.

[2019-07-08 19:15] aaron-lane commented on #204
Fixed by #207.

[2019-07-08 19:15] #204 closed

[2019-07-11 23:23] DXCanas commented on #100
I don't really have the need for a shared network, but setting default in this way isn't working for me. _Must_ I create a network despite the fact that the `gcloud` CLI will auto-assign to default?

[2019-07-11 23:58] morgante commented on #100
@DXCanas I'm a little unclear on your ask. Most users of this module are using it with a custom network rather than the default VPC network.

If you want to use the default VPC, you should be able to though—you just have to specify it. Is that not working for you?

[2019-07-12 19:11] DXCanas commented on #100
@morgante That's exactly right!

I get:
[code]

With this config:
[code]

[2019-07-12 20:43] #158 closed

[2019-07-16 16:06] aaron-lane commented on #63
Fixed by #63.

[2019-07-16 16:06] #63 closed

[2019-07-16 16:07] aaron-lane commented on #75
@lantier can you please confirm that the 4.0.0 release of this module fixes your issue?

[2019-07-18 10:10] g0blin79 commented on #179
Sorry guys didn't have time these days to make this test and I'm not sure I could do that in the short term. Someone else could try?

[2019-07-18 15:42] morgante commented on #179
In that case, I'm going to go ahead and close this for now. If anyone else runs into this, please go ahead and reopen.

[2019-07-18 15:42] #179 closed

[2019-07-19 11:15] Dev25 opened #209 "Incomplete documentation for terraform_docs.sh dependancy"
As part of the migration to Terraform 0.12 #177, https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/177/commits/eb0a0e77bcfd84d3581d76b36b338ecc1ff0a96e#diff-e9cfabf9b162cebf5922498a77b8f766R103 introduced a depedancy on a file from https://github.com/antonbabenko/pre-commit-terraform which is not mentioned in the README.

Trying to run `make generate_docs` on mast

[2019-07-19 17:56] morgante commented on #209
FYI we're planning to standardize on using Docker images to run all tests, which should solve this.

[2019-07-19 18:01] morgante opened #211 "Fails using default network"
See: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/100#issuecomment-511000956

We should add a test case that uses the default network and make sure it passes.

[2019-07-19 18:01] morgante commented on #100
Got it, opened #211 to track.

[2019-07-19 18:01] #100 closed

[2019-07-22 12:27] paulpalamarchuk commented on #154
Hello @sarimali.
Can you please share Terraform and terraform-google-kubernetes-engine module versions? Can you also describe the steps to reproduce the issue?

[2019-07-22 14:50] kevensen opened #212 "Output variables are available before nodes are up"
In most (if not all) cases, the output variables are available before the nodes of the cluster are up.  For example, the `endpoint` variable is populated as soon as it is known to Terraform (makes sense).

It would be helpful to not populate these variables until the nodes are up in a node pool.  Or add an output variable that is along the lines of `pods_schedualable` to provide a check whether or

[2019-07-23 10:40] edward2a opened #213 "Query on inspec tests for GKE"
Hi all,

I have been trying to do some comprehensive tests using inspec-gcp, but it has not satisfied my needs due to, I believe, improper handling of the API and/or Ruby SDK data.

I see that your tests are obtaining the GKE cluster description as a JSON directly from the API (as shown [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/test/integrati

[2019-07-23 13:02] morgante commented on #213
In this case, our approach is simply to embed the gcloud command inside the tests. This is the key line: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/test/integration/simple_zonal/controls/gcloud.rb#L22

[2019-07-23 13:02] #213 closed

[2019-07-23 14:07] kevensen commented on #212
Would love feedback on this thought.  The GKE REST API provides a status in the response [object](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster).  Would it be reasonable to set a variable (e.g. module.gke.ready) if the [state](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster.Statu

[2019-07-23 14:10] kevensen commented on #212
Or have the output variable be module.gke.state?

[2019-07-23 14:14] morgante commented on #212
One of the issues is that I think the cluster actually slips between RUNNING and RECONCILING as it spins up node pools so we can't simply wait for it to become 'RUNNING' the first time.

[2019-07-23 14:16] kevensen commented on #212
boo

[2019-07-23 14:16] morgante commented on #212
That being said, I think added `depends_on` to the outputs similar to the internal dependencies should help make this a bit better: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/masq.tf#L43

[2019-07-23 14:33] kevensen commented on #212
How would that work?

output variable --> [triggered in] --> null resource --> [depends on] --> [all that](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/masq.tf#L43)

[2019-07-23 15:17] kevensen commented on #212
nm.  I think I figured it out.

https://www.terraform.io/docs/configuration/outputs.html#depends_on-explicit-output-dependencies

[2019-07-23 17:01] morgante commented on #212
Yeah, do you think you could open a PR?

[2019-07-23 17:18] kevensen commented on #212
I am working on it as we speak

[2019-07-23 17:21] kevensen commented on #212
I am thinking of making the `endpoint` output variable "depend on" these resources.  Do you think we ought make another variable?

[2019-07-23 17:23] edward2a commented on #213
@morgante I noticed what the case is, what I was wondering is why this approach not use inspec-gcp, although I guess it is due to inspec-gcp not really covering the whole of the test cases.

[2019-07-23 17:39] aaron-lane commented on #213
@edward2a that is correct. inspec-gcp does not yet provide full coverage of GCP with resources.

[2019-07-23 18:07] morgante commented on #212
Probably all the variables should, but you can start with whichever ones are important for your use case.

[2019-07-23 18:10] kevensen commented on #212
understood.

[2019-07-23 23:10] solinas-http opened #215 "null resource provider fails to run wait-for-cluster.sh"
When creating a regional cluster, the terraform script breaks while waiting for the cluster to be ready. The following error is seen in the logs:
[code]

[2019-07-24 11:43] kevensen commented on #212
merged and closed

[2019-07-24 11:43] #212 closed

[2019-07-24 18:02] paulpalamarchuk commented on #154
This issue depends on the google provider [issue](https://github.com/terraform-providers/terraform-provider-google/issues/4093)

[2019-07-24 18:16] morgante commented on #154
Closing for now.

[2019-07-24 18:16] #154 closed

[2019-07-25 13:43] kopachevsky commented on #27
Not reproducible.
Tested on TF12 with google/google-beta provider v2.9.0
Here is my way I've tested

[2019-07-25 18:33] solinas-http commented on #215
Hi @namusyaka @erjohnso is it something you could help us with ?

[2019-07-25 19:27] morgante commented on #215
@solinas-http Can you share your Terraform config and the full output log? It's tough to debug with limited info.

[2019-07-25 20:47] morgante commented on #27
@kopachevsky Please attempt to reproduce when you include the SA in the same config as your module invocation.

ie.
[code]

[2019-07-26 13:48] kopachevsky commented on #161
## Container Cluster

For GKE cluster params I would propose to switch following vars:

[code]

To:

[code]

This naming aline zonal/regional cluster config with **google_container_cluster** terraform resource fields. https://www.terraform.io/docs/providers/google/r/container_cluster.html

## Node Pool

In current implementation for each defined node pool only first element of **var.zones** array

[2019-07-26 15:35] morgante commented on #161
@kopachevsky I'm not clear why this should require any variable changes (and that is not the ask).

We should keep the API surface identical. This is merely an internal change in how the module is implemented.

[2019-07-29 14:55] solinas-http commented on #215
Hi @morgante find all the details below:

**main.tf**
[code]

**Full logs:**
[code]

[2019-07-29 17:00] morgante commented on #215
Thanks, we will attempt to reproduce and fix.

[2019-07-30 12:26] kopachevsky commented on #27
@morgante this schenario working fine, tested several times, see gist working for me https://gist.github.com/kopachevsky/6152449ac8e2a177e0759564915ed84f

So dynamic service account  definition in node_pool parameter works:

[code]

But if I set service account for default pool as top level **service_account** parameter:

[code]
I'm getting following error

[code]

Possible solution here is to add

[2019-07-30 14:04] morgante commented on #27
@kopachevsky That sounds good to me.

[2019-07-31 06:40] kopachevsky commented on #215
@solinas-http
I found small mistake in your script, you need to add explicit dependency from gke module to vpc subnetwork, to force terraform start cluster provisioning after both vpc network and subnetwork ready, to do that replace:
`subnetwork                 = "subnet-01"`
with:
`subnetwork                 = module.vpc.subnets_names[0]`

But first of all can we check script file existence on yo

[2019-07-31 08:20] kopachevsky commented on #215
@solinas-http  also set `remove_default_node_pool   = true `  in `module "gke"`  properties.
because your custom pool name collides with "real" default empty pool

[2019-07-31 15:36] upodroid opened #222 "Can't Import Resources when this module has been used."
Hi

I'm having issues with this module. Something breaks when i try to import another resource in terraform but the errors never appear in plan or apply.

[code]

This is my module configuration.

[code]

[2019-07-31 17:58] solinas-http commented on #215
Thanks @kopachevsky for the feedback. I made some changes and also listed the files in the directory and I can see the script.
[code]

The script runs from the terraform container. Could it be the issue, maybe /bin/sh is missing ?

[2019-07-31 18:09] morgante commented on #215
Ah, that might be the issue. Which Terraform container are you running this from? If a shell is not available, we could add a flag to ignore the optional shell steps.

[2019-07-31 19:04] solinas-http commented on #215
Hi @morgante I am using https://hub.docker.com/r/hashicorp/terraform/ and I tried both the light and full version. For these containers the entry point seems to be the terraform CLI. I have updated my container to run a custom install of terraform that has gcloud, jq and a shell that is correctly set. The script is working fine now:

[code]

[2019-07-31 19:10] morgante commented on #215
Got it, glad that resolved it. Please go ahead and open a separate issue about adding a flag to ignore shell steps if it's important to your use case. Thanks!

[2019-07-31 19:10] #215 closed

[2019-08-01 23:11] viharikrishna opened #224 "Deploying GKE private cluster using Shared VPC"
Hello,

I’ve got a
Host project - Shared VPC with subnets shared across service projects.
Service project - Using one of the subnet

I've a separate terraform repo controlling all the networking configuration on the host project and a separate terraform repo for the resources in service projects.
Now, In case of spinning a private GKE cluster in service project, Peering is established between the

[2019-08-01 23:14] morgante commented on #224
Can you clarify the peering you're referring to? This module should work fine with a Shared VPC use case (including if the host project is stored in another Terraform config).

[2019-08-01 23:27] viharikrishna commented on #224
Hello Morgante,

I was referring to
"Your VPC network contains the cluster nodes, but a separate VPC network in a Google-owned project contains the master. The two VPC networks are connected using VPC Network Peering."

In this case

1. Does host project allows this to perform on the network? Since in the host project, I've only got permission to use a given subnet for my GKE.

2. Even If it estab

[2019-08-01 23:37] morgante commented on #224
Got it, how this works is the peering is done on your behalf by the GKE Service Agent. There isn't a direct configuration update to your network made through this module (and hence nothing ends up in either state file).

To get this to work, the step you need to take is to grant the GKE Service Agent in your service project the `container.hostServiceAgentUser` role on the host project.

These docs

[2019-08-01 23:37] #224 closed

[2019-08-07 12:53] richardmcsong opened #226 "Certain fields may be missing from google's API call while refreshing state"
In particular, addonsConfig.istioConfig, PodSecurityPolicyConfig, VerticalPodAutoscaling seem to sometimes be missing. I've raised a Google support ticket, and they've confirmed that it seems to be expected behaviour for now. This behaviour will raise errors when this module checks for those fields.

[2019-08-07 12:54] morgante commented on #226
Can you open a provider ticket? I'm confused on what we would do in the module to address this.

[2019-08-07 12:59] richardmcsong commented on #226
I was looking at the block from main.tf lines 243-265, if we could make sure that those fields actually exist in the object before looking up their value, and assign a default if the field doesn't exist, then we could prevent the error from being raised

[2019-08-07 13:03] morgante commented on #226
I don't quite follow. This doesn't seem like a module error, those values are optional and shouldn't require an input.

Please share the actual error you're getting.

[2019-08-08 13:37] jerckov opened #227 "Support for SecurityGroups - authenticator_groups_config"
It will be nice if there will be support for SecurityGroup beta feature:

https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#google-groups-for-gke
https://www.terraform.io/docs/providers/google/r/container_cluster.html#authenticator_groups_config
https://github.com/terraform-providers/terraform-provider-google/issues/3407

Any plans for this?

[2019-08-08 13:46] morgante commented on #227
Yes, #217 is in progress to add this.

[2019-08-08 14:02] jerckov commented on #227
Cool! Looking forward for it!

[2019-08-09 12:30] kopachevsky commented on #181
@aaron-lane @morgante examples/node_pool uses node_config taint property, that is Beta https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/1ce3e62c5a29c05194051cdfa9ab5e5a9171ffb5/examples/node_pool/main.tf#L92-L99

How do we proceed with this example and corespondent test? create new node_pool that uses modules/beta_public, keep one node_pool but move it to beta fu

[2019-08-12 08:08] nick4fake commented on #181
@kopachevsky I suggest simply pointing that example to the beta submodule
@morgante what should we do with the fact of taints missing from non-beta provider?

[2019-08-12 10:25] c4m4 opened #229 "Grant storage viewer to created service accounts"
I am creating a testing gke cluster using this module, everything works, but after the cluster is being created, docker fails to pull images from gcr private repository, because the service account created by this modules doesn't has the roles/storage.objectViewer

In the sa.tf I don't see nothing for the needed role:

[code]

[2019-08-12 13:41] morgante commented on #229
Correct, this module doesn't include the storage viewer role by default (not all customers use GCR).

We could possibly add a flag to add that role. For now, you can also add it yourself:

[code]

[2019-08-12 13:44] morgante commented on #181
We can move that example to point to the beta provider.

[2019-08-12 22:41] c4m4 commented on #229
Thanks, that solved the issue, but have an option could be nice :)

[2019-08-12 22:49] morgante commented on #229
Agreed. I suggest we add a boolean variable `grant_gcs_access` to the module. If it is `true`, then a `google_project_iam_member` block will be included granting the objectViewer role.

[2019-08-13 20:18] richardmcsong commented on #226
I apologize for the delay. I've been getting this error:
[code]

[2019-08-13 20:31] morgante commented on #226
Can you share your config and the plan info as well? We need more to be able to reproduce. Thanks.

[2019-08-14 01:51] #27 closed

[2019-08-14 04:14] pankajmt opened #232 "add support for beta feature resource_usage_export_config"
for gke usage metering

[2019-08-14 14:51] morgante opened #233 "Tests are failing on master"
The integration tests are failing on master.

[2019-08-14 15:06] #75 closed

[2019-08-14 22:00] morgante opened #235 "Region variable should be optional for zonal clusters"
Currently, the 'region' variable is always required: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/variables.tf#L41

We should only require this be specified for regional clusters (not for zonal clusters).

[2019-08-15 18:59] #161 closed

[2019-08-20 21:22] lesv opened #240 "Add sandbox flag for node-pools"
It would be nice if support for the [sandbox](https://cloud.google.com/kubernetes-engine/sandbox/) was able to be enabled. [docs](https://cloud.google.com/kubernetes-engine/docs/how-to/sandbox-pods)

[2019-08-20 21:37] morgante commented on #240
Looks like this corresponds to the sandbox_config param: https://www.terraform.io/docs/providers/google/r/container_cluster.html#sandbox_type

We should:
1. Add a new boolean variable `sandbox_enabled` which defaults to false (only on beta clusters).
2. If `sandbox_enabled` is true, inject the sandbox_config block on the cluster (with gvisor as the sandbox type).

[2019-08-21 13:53] ingwarr commented on #233
As a result of the research, I came to the conclusion that the tests fail because the wrong version of the provider is specified in examples, so we should remove versions from examples and add requirements to autogen/versions.tf. After running `make generate` all tests passed except stub-domains-private-local, but it removed from CI, I have ideas about how to make it work, I think it is an additio

[2019-08-21 13:55] ingwarr commented on #233
![image](https://user-images.githubusercontent.com/2316547/63438132-81690e00-c434-11e9-920b-3d38f9b5e4ff.png)

[2019-08-21 14:02] nick4fake commented on #233
@morgante regarding beta tests please check my comment [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/223)

[2019-08-21 14:03] nick4fake commented on #233
@morgante could you please also confirm that stub-domains-private-local is also in the scope? It has been removed from CI, so we are not sure.

[2019-08-21 16:51] morgante commented on #170
Fixed by #220.

[2019-08-21 16:51] #170 closed

[2019-08-21 16:52] #167 closed

[2019-08-21 16:53] #141 closed

[2019-08-21 16:56] morgante commented on #139
We have exposed this (as `node_metadata`) but should make the default SECURE.

[2019-08-21 16:58] morgante commented on #128
Terraform v0.12.6 supports for_each: https://www.terraform.io/docs/configuration/resources.html#for_each-multiple-resource-instances-defined-by-a-map-or-set-of-strings

We should switch the node pool resources to use for_each.

[2019-08-21 20:46] morgante commented on #233
@nick4fake I think you might have linked to the wrong comment?

We can skip stub-domains-private-local if it's causing issues.

[2019-08-22 00:48] #229 closed

[2019-08-22 07:35] anantasty commented on #222
@upodroid can you please share your import statement please.

[2019-08-22 19:21] anantasty commented on #222
The following pull request addresses import issues
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/242
This has been tested by importing a cluster as illustrated in the PR.

[2019-08-22 21:41] upodroid commented on #222
Hi

I have the above in my terraform resources, but I can't import any other resource in to the terraform state because it errors out as shown above.

PR #242 shows a bug fix for importing a gke cluster. Run my above config in a Google project. Then try to import in to the terraform a bucket that exists in the project and see what happens.

I can send a vid tomorrow morning when I'm at work.

[2019-08-24 13:57] upodroid commented on #222
Have a look at this screen recording.

https://imgur.com/yoonbmE

@morgante
@anantasty

[2019-08-26 16:54] aaron-lane opened #245 "Migrate repository to new development and CI process"
This work should include using the new Docker image and moving tests from Concourse to Cloud Build.

[2019-08-27 17:38] Dev25 opened #249 "Allow node pool autoscaling opt out"
I would like to get a quick consensus before submitting the PR since there is a related prior issue: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/83

We now use dynamic blocks quite a bit in this module, i would like to add a `autoscaling` bool flag (default is true) for node-pools to allow users to disable autoscaling on specific node pools if required.

T

[2019-08-28 18:48] morgante opened #251 "Update testing to Cloud Build"
We should update the testing to use Cloud Build and a new Service Account per run, as documented [here](https://docs.google.com/document/d/1eiHpZlhEDMDG8gi4LHyv2aZs1TJmeFlF8sqCE57_j4A/edit#heading=h.rz8l5qn0ygc0).

[2019-08-28 18:52] #251 closed, assigned to nobody

[2019-08-28 21:04] morgante opened #252 "Automatically update labels for sandboxed node pools"
This is a follow up to #240.

Based on https://github.com/terraform-providers/terraform-provider-google/issues/4210, if sandboxing is enabled then the control plain will add this label to the cluster automatically: `sandbox.gke.io/runtime" = "gvisor`.

This causes a permadiff. We should fix this by automatically injecting that label into the config if the sandbox flag is `true` on the module.

[2019-08-28 22:12] morgante commented on #233
We should NOT remove versions from examples, but simply update them to the correct version.

[2019-08-28 22:29] #227 closed

[2019-08-28 22:29] morgante commented on #227
Fixed by #217

[2019-09-05 18:16] Dev25 commented on #128
PR https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/257

[2019-09-06 03:58] umairidris opened #258 "Allow local-exec to be skipped"
Some environments may not wish to have non-IaC scripts (run by provisioners like local-exec) being run in an automated way.

Where possible, these scripts should be skippable. For example:

- resource "null_resource" "wait_for_cluster".
- resource "null_resource" "delete_default_kube_dns_configmap"

I am happy to contribute. Would adding a new `skip_provisioners` bool (default to false) be an appr

[2019-09-06 04:56] umairidris opened #259 "Consider deprecating zones/region"
I believe support for `null` in Terraform 0.12 (https://www.hashicorp.com/blog/terraform-0-12-conditional-operator-improvements) can remove the need for zones, region and regional vars.

I wonder if we can:
- Add a new `location`field. Directly set in the cluster for `location`
- Set default of kubernetes_version to null. Directly set in the cluster for `min_master_version`.
- Add new field `node_

[2019-09-06 04:59] morgante commented on #259
Can you share the use case for deprecating zones/region? I prefer to be explicit and have people either choose a region or zone.

FYI in the upcoming 5.0.0 release we use `location` under the hood.

[2019-09-06 16:59] umairidris commented on #259
Not any specific use case. I was first looking into the terraform google_container_cluster resource and saw they deprecated zone/region in favour of location which is simpler to use, so when I came to see this module I expected it to be the same interface.

[2019-09-06 17:07] morgante commented on #259
Ah, the primary benefit of that refactor was specifically to make it simpler for use cases like this where we want to toggle between regional/zonal on the same resource.

For end users, I think the explicit region/zone definition is preferable. I'm going to close this for now, but please comment/reopen if anyone feels it's a major issue.

[2019-09-06 17:07] #259 closed

[2019-09-08 07:50] AlexShuraits opened #260 "local.cluster_master_auth_list_layer1 is empty tuple"
Hi,

I am facing the following error trying to destroy the cluster, even if the terraform state is empty.
[code]
Cluster configuration
[code]
Terraform vesrions issue exists: 0.12.0, 0.12.8
Google provider versions: v2.13.0, v2.14.0

[2019-09-10 11:49] #226 closed

[2019-09-11 06:02] mr-smithers-excellent commented on #258
This is also an issue when running on Terraform Cloud where CLI utils `gcloud` and `jq` are not available on worker nodes. Currently, I'm unable to perform a successful apply due to the `wait-for-cluster.sh` script.

[2019-09-11 06:08] morgante commented on #258
Yes, I think that can work. Thanks!

[2019-09-17 13:59] upodroid commented on #260
I'm still having this identical issue as described at #222

[2019-09-17 14:28] ananthrav opened #261 "Invalid plan when re-applying terraform module"
When creating a gke cluster using the beta-private-cluster module, I'm running into issues when I apply the configuration again. It works fine for the first apply, subsequent plans and applies fail for the same code.

Terraform version
[code]

Getting the following error
[code]

The module looks something like this

[code]

Using master because a PR that was causing issues for me was merged and a

[2019-09-18 18:04] DanielWozniak opened #263 "Can't Add GPU Accelerator to Node Pool part of Regional Cluster"
I currently have a regional cluster. For this cluster I would like to create a new node pool which contains a GPU accelerator. The problem with this is that in the google documentation it states:

For regional clusters that run GPUs, there is currently no region which has any GPU type in three zones. If you want to run GPUs in a regional cluster, you need to specify zones using the --node-location

[2019-09-19 11:09] paulpalamarchuk opened #264 "Integration test "stub-domains-private-local" fails, trying to reach internal network"
Kitchen test `stub-domains-private-local` fails with:
[code]

[2019-09-19 15:03] Dev25 opened #265 "Allow overriding the node_metadata in node pools"
It is not currently possible to do a selective rollout of the (beta) Workload Identity feature. If you set `var.node_metadata` then all node-pools will use that value which also forces a node pool recreation.

As a end user i want to set node_metadata with `GKE_METADATA_SERVER` on certain node-pools only.

The fix is fairly simple: https://github.com/Dev25/terraform-google-kubernetes-engine/commit

[2019-09-19 15:06] evkuzin commented on #3
@morgante @aaron-lane It could be move to done actually.
Now you could just add block of tags/labels/taints with name of pool and it will not affect other pools
[code]

[2019-09-19 15:24] morgante commented on #264
Please disable the test for now.

[2019-09-19 15:48] paulpalamarchuk commented on #264
Disabled in [PR #262](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/262/files#diff-d3fbd21bc6be7ce4531c27a82b2619deR101-R108)

[2019-09-19 18:48] DanielWozniak commented on #263
Went over the code and looks like the problem is that node pool doesn't accept a location. What ever location is specified in the cluster is used directly in the node pool. I've created a branch with some changes but while testing I can't seem to even get the cluster to create using the master branch. For some reason the cluster gets created with an error code 13 with the message INTERNAL(not very

[2019-09-19 21:10] rileykarson commented on #263
FYI, node pool locations (that are different than the cluster locations) will be supported as part of the next provider release: https://github.com/GoogleCloudPlatform/magic-modules/pull/2320

[2019-09-19 21:23] morgante commented on #263
Interesting, I didn't know we supported the ability to run different node pools in different locations. Looks like we should be able to add this with the next provider release, thanks for the heads up!

[2019-09-19 21:58] DanielWozniak commented on #263
Ah, makes sense. For some reason when I read the description of location in the [docs](https://www.terraform.io/docs/providers/google/r/container_node_pool.html), I assumed you could specify something other than the clusters location. Even though it clearly says `in which the cluster resides`.
Thanks, for clearing things up guys. Any idea when this might be part of this module?

[2019-09-19 22:11] morgante commented on #263
@DanielWozniak Likely 2-3 weeks, depending on when the provider release lands.

[2019-09-20 12:22] DanielWozniak commented on #263
Sounds good. In the meantime I suppose we can close this issue.

[2019-09-23 07:30] AndreasKnapp1812 opened #267 "Create new release as sub modules don't work"
I am using the submodule for `beta-private-cluster` and referenced it like this

[code]
However, this downloads the module with the latest tag, using `v4.1.0` where a couple of arguments have not yet been defined. After `terraform plan` I get the error:

[code]

Creating a new Release should fix this error.

[2019-09-23 17:56] evkuzin commented on #14
Check this [PR](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/242)
Looks working and it fix this issue

[2019-09-23 20:17] morgante commented on #267
Can you try with `v5.0.0-rc1`? We're still working on finalizing v5.0.0.

[2019-09-24 06:49] AndreasKnapp1812 commented on #267
Yep, that works, thanks!

[2019-09-24 06:49] #267 closed

[2019-09-24 17:25] evkuzin commented on #3
@morgante exactly you need to create object with name equal to node pool name and set it to {}
[code]

[2019-09-24 18:54] morgante commented on #3
So this has not been fixed.

As stated in the original issue, the ask is that I don't have to specify `node_pools_labels` at all if I don't want to set any custom labels.

[2019-09-24 19:59] morgante opened #268 "Add submodule to set up ACM"
We should add a new submodule which can be used to [install ACM](https://cloud.google.com/anthos-config-management/docs/how-to/installing) on a cluster.

This would involve:
1. Deploying the ACM operator
2. Automatically creating an [SSH keypair](https://www.terraform.io/docs/providers/tls/r/private_key.html) for the operator, uploading it to the cluster (as a secret)
3. Configuring the operator b

[2019-09-25 07:48] evkuzin commented on #3
Okay, I understand now.

[2019-09-25 14:22] aaron-lane commented on #209
This will be fixed by #251.

[2019-09-25 16:38] nick4fake commented on #252
Working on it.

[2019-09-25 21:25] #233 closed

[2019-09-26 23:52] cilindrox commented on #261
Happened to me twice with both the beta and standard private cluster modules. Think the issue's related to the deletion of the default cluster node pool

[2019-09-30 08:57] zioproto opened #271 "Specify GKE Release channel instead of Kubernetes version"
This is a feature request to support the recent "Release channels" concept of GKE.

https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels

Instead of using the variables`kubernetes_version` and `node_version` it would be great to create a cluster and just specify the wanted release channel.

The CLI `gcloud` already implements this with `--release-channel `.

On the dashboard i

[2019-09-30 18:27] morgante commented on #271
Thanks for the suggestion. Once the upstream [bug](https://github.com/terraform-providers/terraform-provider-google/issues/4575) is created,

[2019-09-30 21:47] #182 closed

[2019-10-02 08:15] paulpalamarchuk opened #274 "Test `deploy_service` and `node_pool` fail verification on CI"
All tests passed locally.
If I run only 2 tests (`deploy_service` and `node_pool`) on CI - verification passed.
Run all tests at once on CI, got error on step `verify` with `kubectl`:
[code]

[2019-10-02 12:15] kopachevsky commented on #268
Biggest obstacle implementing this feature is lack of CRD support in terraform provider https://github.com/terraform-providers/terraform-provider-kubernetes/issues/215
workaround would be to do stuff with local-exec to run
`kubectl apply -f config-management-operator.yaml`

[2019-10-02 15:26] #245 closed

[2019-10-08 17:01] paulpalamarchuk opened #277 "Python code test (flake8) fails for file `helpers/migrate.py`"
Output of the check_python function:
[code]

[2019-10-08 19:04] DanielWozniak commented on #263
Hi All,

Since the feature has been released in version 2.16.0 could I request this be added to the module.
More specifically, being able to specify which zone is used in the node pool.

I've tried working on this myself however for some reason im not even able to create a simple cluster before even adding any changes I get a simple
[code]

For some reason after 20 seconds of trying to create the

[2019-10-09 18:21] morgante commented on #211
@worlvlhole I don't believe the default network comes with secondary ranges.

[2019-10-09 18:21] #211 closed

[2019-10-10 15:26] bharathkkb commented on #195
Hi @aaron-lane @morgante
Is this being worked on?

[2019-10-10 15:27] morgante commented on #195
Not currently! Feel free to pick it up.

[2019-10-11 00:43] #277 closed

[2019-10-11 14:19] paulpalamarchuk commented on #252
@morgante This label cannot be set for the node pool.
Error:
[code]

[2019-10-11 15:58] paulpalamarchuk commented on #240
`sandbox_config` has to be moved to the `node_pool` resource, because "GKE Sandbox can't be enabled for the default node pool"

[2019-10-11 15:59] kevensen commented on #259
@morgante Any chance we can reconsider this?

[2019-10-11 16:00] morgante commented on #259
@kevensen Can you explain why you want to?

I remain of the opinion that specifying either `region` or `zone` explicitly is preferable to a catch-all `location` variable.

[2019-10-11 16:07] morgante commented on #259
Correct.

if you're still seeing errors with v5.0.0, please do open an issue here.

[2019-10-11 16:28] morgante commented on #252
@paulpalamarchuk Without this label, are we seeing a diff on labels post-apply?

[2019-10-11 16:52] paulpalamarchuk commented on #252
@morgante Yes. TF state don't have that label

[2019-10-11 17:03] morgante commented on #252
Got it. Please focus on moving the resource block (and adding a test).

I will take care of the label issue.

[2019-10-11 17:10] paulpalamarchuk commented on #252
Shall I create test (fixtures, etc.) for the "sandbox" config?

[2019-10-11 17:11] morgante commented on #252
Just add the flag + test to an existing suite such as `simple_regional_beta`.

[2019-10-14 13:57] aaron-lane commented on #209
Fixed by #262.

[2019-10-14 13:57] #209 closed

[2019-10-15 13:30] omazin commented on #260
Tested the module with almost the identical configuration:
[code]
Excluded some parameters, e.g. `node_pools_taints`, because they're not present in v5.0.0, see https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/5.0.0?tab=inputs

Still couldn't reproduce the error.
[code]

Below is `terraform destroy` log:
[code]

[2019-10-15 20:40] #235 closed

[2019-10-15 21:16] upodroid commented on #260
@omazin I'm using the 4.1 version of the module.

I have two clusters that I created with this module and I managed to upgrade one of them.

I'll check in the morning and see if I can import with v5 of the module without errors

[2019-10-15 21:18] upodroid commented on #222
@omazin More information here

[2019-10-16 05:42] omazin commented on #260
@morgante thanks, I actually was able to set the `node_pools_taints` argument by downgrading to version 4.10.0 of the kubernetes module, but no errors were found there as well when creating / destroying a cluster.

[2019-10-16 05:53] omazin commented on #260
@upodroid, thanks, think importing of existing resources could be a different issue, trying to reproduce the `Invalid index` error when destroying a cluster.

[2019-10-16 10:04] omazin commented on #260
ok, used the `beta` variant, where all the parameters are present, including `node_pools_taints`, `enable_private_nodes`, `master_ipv4_cidr_block`, so the config is identical:

[code]
Was able to create and destroy a cluster with the above config without any errors.
Below is terraform destroy log:
[code]

[2019-10-18 16:46] paulpalamarchuk opened #287 "Update image version of the test to "0.4.3" and fix lint tests"

[2019-10-18 17:21] aaron-lane commented on #287
These changes should be applied the build configuration and the make configuration.

[2019-10-21 16:59] morgante commented on #263
@DanielWozniak Is this no longer needed?

[2019-10-21 18:31] morgante commented on #263
Ok I've marked it as an Enhancement. We'll put it in our backlog.

[2019-10-21 19:44] morgante opened #290 "Allow setting node locations on individual node pools"
As added [upstream](https://github.com/GoogleCloudPlatform/magic-modules/pull/2320), we need to update this module to support specifying `node_locations` on individual node pools (that potentially differ from the cluster's overall locations).

This will unblock #263.

[2019-10-21 19:44] morgante commented on #263
I've actually moved this into #290.

[2019-10-21 19:44] #263 closed

[2019-10-22 23:38] mhamrah opened #293 "Running on Terraform Cloud Fails due to gcloud/jq dependency"
The wait-for-cluster.sh script uses gcloud and jq, which is not available in certain environments (specifically Terraform Cloud). Is there a way to remove it or make it optional? Would prefer to not have to download those binaries into a runtime environment, which we don't have control over.

[2019-10-23 10:42] AkhilGNair opened #294 "Import cluster/nodepools fails after #247"
After the change made in #247 for region to become optional, import now fails on regional clusters.

[code]

In the resource definition, `region` is being passed in as below

[code]

@paulpalamarchuk FYI :)

[2019-10-23 16:28] nick4fake commented on #261
Related PR: https://github.com/terraform-providers/terraform-provider-google/pull/4577

[2019-10-23 16:29] nick4fake commented on #261
Looks like it works in 2.17.0

[2019-10-23 17:02] morgante commented on #261
@ananthrav Can you upgrade to the v2.17.0 provider and confirm it fixed this?

[2019-10-23 17:16] morgante commented on #293
Thankfully we're working on #278 which should fix this.

[2019-10-23 17:16] #293 closed

[2019-10-24 20:27] #258 closed

[2019-10-24 22:29] morgante commented on #271
@chrissng is working on this in #283.

[2019-10-25 01:08] bharathkkb commented on #290
@morgante I can pick this up next if no one else has started

[2019-10-25 01:22] morgante commented on #290
@bharathkkb Go ahead, thanks!

[2019-10-25 15:43] #240 closed

[2019-10-25 15:43] #252 closed

[2019-10-25 19:53] naseemkullah opened #299 "Creating multiple clusters across regions (way to loop?)"
Is there a way to loop over the creation of modules where only `region/zone` and `name` differ? Or must you have 1 module block per cluster necessarily?

[2019-10-25 19:56] morgante commented on #299
Unfortunately `count` and loops are not supported on modules (see https://github.com/hashicorp/terraform/issues/953), so you will need to have a separate block per cluster.

One potential approach you can take is to make a simple internal module which wraps this module and sets shared values while accepting region and name as inputs. Somewhat like our WIP [safer cluster module](https://github.com/

[2019-10-25 19:56] #299 closed

[2019-10-25 19:57] naseemkullah commented on #299
Thanks @morgante!

[2019-10-28 16:39] #195 closed

[2019-10-28 17:58] naseemkullah commented on #3
I find myself having to do this with clusters whose `default-pool` is deleted and custom pools `default` and `preemptible` are added.

[code]

My understanding is that  #269 will allow me to not specify the empty values, is that correct?

[2019-10-29 18:33] bharathkkb commented on #290
@morgante quick question about this. I was trying to implement it like below but seems like I cant have arrays and strings within a single map.

[code]

 For taints, tags etc which requires lists we have used a different variable. Should I use that approach here?
[code]

[2019-10-29 18:35] morgante commented on #290
I'd suggest we simply comma-separate the locations in a string, as the simplest approach.

[2019-10-29 20:10] bharathkkb commented on #290
Yes that makes sense. Thanks

[2019-10-30 11:01] thecodejunkie commented on #93
I was just looking at this module for this feature as we need to create clusters that have node auto-provisioning enabled. Is there any planned ETA (or workaround) for this? Thanks!

[2019-10-30 13:29] morgante commented on #93
It's not currently supported, but we should add it!

Expected interface:
[code]

[2019-10-31 09:50] thecodejunkie commented on #93
By the way, we need to be able to enable auto-scaling on a per-node pool level

[2019-10-31 13:29] morgante commented on #93
@thecodejunkie Can you clarify which kind of autoscaling you're looking for?

- [Cluster autoscaler](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler) automatically scales existing node pools up and down (adding new nodes): this is [already supported](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/cluster.tf#L148) in the module

[2019-10-31 13:40] thecodejunkie commented on #93
@morgante oh sorry, yes it's cluster autoscaling I was looking for. I've been unable to find any docs for the `node_pools` inputs. The only docs I've been able to find are those mentioned in this PR https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/297/files but the `autoscaling` property is not mentioned? Thanks!

[2019-10-31 13:42] morgante commented on #93
You can do it like this:
[code]

[2019-10-31 13:49] thecodejunkie commented on #93
@morgante 👍 then perhaps the `autoscaling` property should also be documented in #297 ?

[2019-10-31 13:50] morgante commented on #93
Absolutely, @neelesh9795 please make sure to document all autoscaling properties.

[2019-10-31 17:09] julianvmodesto commented on #294
Even when providing `zones`, this issue persists.

Seems like this may be the upstream issue:
https://github.com/hashicorp/terraform/issues/22721#issuecomment-535914976

[2019-10-31 22:42] ideasculptor opened #302 "required permissions list is inaccurate"
If using a host vpc project, you will see an error about missing `compute.subnetworks.get` on the host project.  There are a number of roles that provide that permission - roles/compute.networkUser, for example.

error message is as follows:

[code]

[2019-10-31 23:10] morgante commented on #302
We do mention that "If you are using a Shared VPC, the APIs must also be activated on the Shared VPC host project and your service account needs the proper permissions there."

But we should be more explicit about this.

Note that project factory handles granting the required permissions: https://github.com/terraform-google-modules/terraform-google-project-factory/blob/master/modules/core_project_

[2019-11-01 04:17] ideasculptor commented on #302
Ultimately, the problem was that I had used the network module in order to manually bind the service project to multiple host projects, and that module was explicitly breaking the service account permissions, rather than assigning the networkUser role correctly.

So I spent the afternoon figuring out what was wrong with that module which needs documentation provided that talks about how to compute

[2019-11-01 05:03] ideasculptor opened #304 "private beta cluster module has non-obvious problem causing failure"
I have what I think is a reasonably simple config for a GKE cluster, but it always times out while waiting for deployment - I have never seen a node actually launch, or the node pool even set to a size other than 0, despite the fact that I have explicitly configured it to an initial size of 1 and told it not to delete the default node pool.  The error message provides no insight as to the failure

[2019-11-01 05:06] ideasculptor commented on #304
I have no reason to think it is a permissions problem - I had to fight my way through a bunch of those already, and eventually tore my entire infrastructure down and recreated it from scratch just to make sure there were no problems left behind by the old project attachment module.  The fact that it no longer complains about a lack of permissions would imply that I finally got that all correct.  I

[2019-11-01 05:07] ideasculptor commented on #304
I'll eventually try creating a non-default node-pool and see if it comes up all the way when I do that, but since each test takes the better part of an hour to complete, it's not going to happen until tomorrow.

[2019-11-01 09:05] ideasculptor commented on #304
non-default node pool didn't help.  I'm assuming the fact that I am not running terraform within the VPC is the source of the problem? I was hoping it would work from my local machine, so long as it was added to the master_authorized_networks_config, but I guess not, so I'll have to set up a machine to run it from and see if that fixes it.

[2019-11-01 16:46] #261 closed

[2019-11-01 20:26] morgante commented on #304
This might be related to overall GKE [issues](https://status.cloud.google.com/).

[2019-11-01 21:04] ideasculptor commented on #304
Oh, that’d be nice. I love it when it turns out not to be my fault ;-) Thanks for pointing it out, so I don’t spend more time on it until I see the alerts clear.

[2019-11-04 06:16] ideasculptor commented on #304
Is there some way to actually reach support on this issue?  Google claims to have resolved the issue, except for a 'small number of projects' and we should reach out to support if still having trouble.  I've had a 'cluster' that finally showed up sometime on Saturday, but with an error alert that says there is a network peering operation in progress.  I cannot destroy the cluster because it is blo

[2019-11-04 17:19] ideasculptor commented on #304
At long last, the issues with the service seem to be resolved.

[2019-11-04 17:19] #304 closed

[2019-11-04 17:53] ideasculptor opened #305 "What network/firewall config is required for private cluster"
TL;DR - Using a very simple private, zonal configuration, node registration is failing and it is non-obvious what is going wrong.  This is AFTER the networking issues of last weekend were finally resolved.  Things get much farther along, but still never get all the way to completion.

The details:
I'm bringing up a private cluster in a shared VPC, my local network is configured as an authorized ne

[2019-11-04 17:57] ideasculptor commented on #305
<img width="824" alt="Screen Shot 2019-11-04 at 9 56 26 AM" src="https://user-images.githubusercontent.com/484573/68144886-695c4300-fee9-11e9-9b39-d90f7f75db2e.png">

This is the closest thing I get to an error message while the cluster is trying to come up.

[2019-11-04 18:04] ideasculptor commented on #305
Possible cause - allowing the module to create a service account, does the service account need extra permissions because of the shared VPC thing?  There's no indication that I can't use a created service account when using shared vpc, but it's the only obvious potential source of a problem.

[2019-11-04 19:27] aaron-lane commented on #304
@ideasculptor I'm glad the situation has been resolved. For future reference, you may be able to see and remove the peering in GCP Console or using gcloud.

[2019-11-04 21:36] aaron-lane opened #306 "Convert node_pools to list of objects"
Given that `node_pools` has an expected structure, and some keys like `node_locations` would ideally have values which are not strings, it should be converted from a list of maps to a list of objects.

[2019-11-04 21:37] aaron-lane commented on #290
By the by, I've opened #306 to address the limitation of `node_pools` using maps rather than objects.

[2019-11-05 20:30] morgante commented on #305
@ideasculptor That might be it - can you see if granting `compute.networkUser` on the created Service Account resolves the issue?

[2019-11-05 22:32] ideasculptor commented on #305
Sure thing.  It's going to take me an hour or two to get to it, but check back here later or tomorrow and I should have a result. Any idea if adding a role to the service account outside of the module is likely to get placed into the dependency graph in an order that will be useful, or do I need to modify the module itself to get that to happen before cluster creation fails and the module returns?

[2019-11-05 22:49] ideasculptor commented on #305
Answered my own question - Adding the role outside of the module DOES result in an object graph that is ordered correctly.  Should have an answer shortly.  I'm trying (separately) each of the following:

[code]

[2019-11-05 22:51] morgante commented on #305
Excellent! Let us know how it goes and we could possibly integrate into the module itself.

[2019-11-06 00:08] ideasculptor commented on #305
I've tried every variant I can come up with, including using google_project_iam_member for the compute.networkUser role instead of assigning it just to the one subnet (incidentally, where can I see those per-subnet role assignments in the console - I couldn't find them anywhere, which is why I ended up giving it the role project-wide, just so I could verify that the assignment was in place).

I co

[2019-11-06 01:27] ideasculptor commented on #305
I'm reasonably certain this is user error, but I'm still verifying a fix - the test cycle is pretty long.

I had failed to note that the examples are explicitly adding the cidr range for the gke subnet to the master_authorized_networks_config in a private cluster.  Seems like adding that subnet ought to go without saying rather than requiring an explicit addition, but lacking an implicit inclusion

[2019-11-06 01:31] ideasculptor commented on #305
Hmm, perhaps I take that previous comment back - the documentation for that variable actually states that it is implicitly included, which is why I hadn't added it based on the examples, but that appears to be incorrect if the examples are anything to go by, since they always explicitly add the subnetwork cidr block.  I'll know if it fixed my problem in 24 minutes, though then I have to go through

[2019-11-06 01:55] ideasculptor commented on #305
10 minutes in, and it looks like it is still failing.  I have run out of ideas.  I have all optional features disabled.  I've tried the config of every private cluster example as far as the values of   deploy_using_private_endpoint, enable_private_endpoint, enable_private_nodes go, and I've corrected the master_authorized_networks_config.

I have tried configs that are totally identical to the exa

[2019-11-06 03:05] ideasculptor commented on #305
I give up.  The only configuration I can make work is one in which all private cluster features are disabled.  As soon as I set

[code]

The cluster comes up correctly, but is now complaining about no available nodes and failed autoscaling, but at least it correctly creates the default-node-pool pool.  Even getting to the point of provisioning the default-node-pool is new behaviour.  When running

[2019-11-06 03:41] morgante commented on #305
Can you try explicitly defining a node pool? That could be the issue.

At this point I'm skeptical the issue is with the module. Does it return errors when running Terraform? It seems much more likely it's somehow an issue with your project/the GKE control plane.

[2019-11-06 04:25] ideasculptor commented on #305
For what it is worth, an instance in default-node-pool DOES exist, but it is clearly unable to communicate back to the cluster, since the cluster thinks there are 0 nodes.

At least I finally have a stable cluster and node pool that I can actually debug without having it automatically torn down by cluster creation failure.  It has taken me  since Friday afternoon just to get that much to function

[2019-11-06 04:30] ideasculptor commented on #305
I get no errors from terraform, other than the eventual cluster startup failure.  The account I am using definitely has the specified permissions to run the module and it isn't failing due to api permissions problems.  I need to figure out how to view that log in a manner which gives me the full commandline and url, and then I can set about debugging what is happening in the network.

I thought th

[2019-11-06 04:50] ideasculptor commented on #305
Finally got it up.  For now, I added a route and firewall rule for tag `gke-{cluster name}` which allows outbound tcp on port 443 to 0.0.0.0/0.  I eventually need to figure out how to get access to storage.googleapis.com whichout going across the default gateway to the public internet.

Docs could definitely use a mention of the requirement for outbound https access.

Once I'm using a custom node

[2019-11-06 04:57] morgante commented on #305
Outbound https access shouldn't be a requirement, but rather Private Google Access as documented [here](https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters).

Ultimately I don't think this is an issue with the module. The module *doesn't* control your network config, and there are many possible network configs, so we should really rely on the GKE docs for that.

I know this has

[2019-11-06 05:15] ideasculptor commented on #305
Terraform definitely isn't to blame.  The module is, at least so far as the documentation is usually insufficient to actually use the modules in a real-world context.  Ultimately, it comes back to the examples just being too simplified and too dependent on variables containing references to correctly configured resources, rather than showing what a valid config actually looks like - a problem I en

[2019-11-06 05:21] morgante commented on #305
I think the gap is that the modules don't necessarily stand on their own. These are not a replacement for the official GCP docs and we do expect you to spend some time with the docs as well.

In this case, this module isn't responsible for configuring your network so it certainly isn't what sets up private Google Access.

Maybe we should add an example network setup with private Google Access enab

[2019-11-06 05:22] ideasculptor commented on #305
Note that there is absolutely no mention made of private google access being required in the documentation for any of the private cluster modules.  If there was an example which used the network module, or a private cluster example that included the network components (there is a public one, but no clue about private network access is included there, either), I'd have saved myself 2 full days of w

[2019-11-06 05:25] morgante commented on #305
I understand the frustration, but again these modules are not a replacement for the GKE docs themselves (which do mention the requirement).

That being said, I certainly appreciate your feedback! We'd love to have even more extensive documentation and examples, but please keep in mind these modules aren't anyone's full time job. We're doing the best we can, but can't cover all scenarios.

This is

[2019-11-06 05:29] ideasculptor commented on #305
I don't think it is unreasonable to expect that the documentation for a module is sufficient to be able to use the module.  I am very familiar with the documentation for GKE and know well how to run it - which is exactly why it consistently appears easier to build my own modules than to use those provided here - If I were putting these terraform resources together for myself, I would be aware of t

[2019-11-06 05:37] morgante commented on #305
Right, but Private Google Access is clearly documented on the GKE docs: https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters

We're simply not going to be able to cover every possible use case, nor should we attempt to duplicate the full content of the GKE docs into our own documentation.

[2019-11-06 06:03] morgante opened #308 "Provide example of configuring Private Google Access"
We should add an equivalent of the [public networking example](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/examples/simple_regional_with_networking) with a private networking example which includes:
1. Setting up the required VPC subnets
2. Setting up private Google Access
3. Creating the actual GKE cluster
4. Any required firewall rules

This would h

[2019-11-06 06:04] morgante commented on #305
Anyways, I opened #308 to add an example of the required networking config for a private cluster. I agree it would be helpful.

[2019-11-06 06:14] ideasculptor commented on #305
And, it turns out, as I included in my comment about network config from several days ago, I have private_access enabled on the subnet in question

[code]

<img width="258" alt="Screen Shot 2019-11-05 at 10 00 49 PM" src="https://user-images.githubusercontent.com/484573/68272224-c9510780-0017-11ea-9b8b-240b41b68e28.png">

So it would appear that there's a bug in the GKE configuration which is caus

[2019-11-06 06:20] ideasculptor commented on #308
I believe this is still a bug, not an enhancement.  I have had private google access enabled through all of my tests (which explains why I failed to note the issue, since I had certainly read every word of the page you linked numerous times before I started documenting the issue), and node pools have consistently failed to come up.  When a node pool is not private, private google access has no eff

[2019-11-06 06:25] morgante commented on #308
It's not a bug. Nothing in our module is meant to configure Private Google Access for you, and we explicitly *don't* attempt to control networking from the module.

The fact that your chosen network config didn't have a workable path to GCP APIs isn't the scope of this module.

I think you're overfocusing on this module. Private Google Access isn't specific to GKE and if you'd attempted to use GCE

[2019-11-06 10:28] ideasculptor commented on #308
First, my code explicitly separates network creation/management from the GKE cluster, as you suggest.  I'm not sure why you think mine doesn't.  I've repeatedly stated that I use the network module for creating networks/subnets.

My subnet DOES enable private google access, and always has.

You keep claiming that my underlying network config is incorrect, but I have yet to see why you believe this

[2019-11-06 12:46] ideasculptor opened #309 "module region output can be blank, breaking tests"
Looks like the `region` output of the beta_private_cluster module (computed from a local.cluster_output_region, assigned as `cluster_output_region = google_container_cluster.primary.region`) can be null.  This potentially breaks tests.

The case that I exercised was as follows:

[code]

According to the documentation of the google_container_cluster resource, the region attribute is deprecated, and

[2019-11-06 12:51] ideasculptor commented on #308
Note - that simple example in the PR would be well served by including the use of the firewall network module and an explicitly declared node pool, with tags to enable the minimum network permissions, but it at least shows setting up the subnets and getting a private cluster running

[2019-11-06 17:08] thecodejunkie opened #311 "initial_node_count and node_count both set when node pool autoscaling is disabled"
Hi

I've noticed that if `autoscaling=false` is set on a node pool, then `initial_node_count` will be set to `1` (and not `0` as documented in #297) and so is `node_count`, which causes an error since both can't be set. What is the intended behavior here?

Thanks

[2019-11-06 17:30] thecodejunkie commented on #311
Actually, even for a node pool with autoscaling it seems to be set to `initial_node_count  = 1` so it doesn't seem like it doesn't have a default value of `0` not being optional

[2019-11-06 21:59] morgante commented on #311
That PR is not yet merged because it is incorrect, so I wouldn't rely on it for documentation.

As such, the best reference is still the actual code: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/cluster.tf#L140

From this, you can see that if autoscaling is disabled we will set both `initial_node_count` and `node_count` to the `min_count` provided.

Co

[2019-11-06 22:14] thecodejunkie commented on #311
@morgante I believe it's this error I am seeing

https://github.com/terraform-providers/terraform-provider-kubernetes/blob/master/vendor/github.com/terraform-providers/terraform-provider-google/google/resource_container_node_pool.go#L474

I will re-run my script to verify

[2019-11-06 22:18] thecodejunkie commented on #311
Looking at the code, this line https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/cluster.tf#L146 will set `node_count` to `min_count` if `autoscaling` is `false`

[2019-11-06 22:34] thecodejunkie commented on #311
Yep. just tried re-running and got this

Looking at the plan I can see both being set

[code]

For my node pool

[code]

If I uncomment `initial_node_count = 0` then it works

[2019-11-06 22:39] morgante commented on #311
Yup, looks like a bug!

[2019-11-07 16:41] Jberlinsky opened #312 "Add support for `max_pods_per_node` in node configuration"
Certain workloads in certain network configurations might not be able to run most effectively when configured with the default `max_pods_per_node` value of 110. We should consider exposing the `max_pods_per_node` attribute of [google_container_node_pool](https://www.terraform.io/docs/providers/google/r/container_node_pool.html#max_pods_per_node) via this module, so users with these requirements do

[2019-11-07 20:38] #274 closed

[2019-11-08 14:36] SubatomicHero commented on #305
Just chiming in with my 2 pennies (british here)

https://medium.com/google-cloud/completely-private-gke-clusters-with-no-internet-connectivity-945fffae1ccd

https://github.com/andreyk-code/no-inet-gke-cluster

I believe @ideasculptor is correct. Having followed this guide, there was apparently a lot more to configure with regards to the network and even DNS that finally enabled my cluster to crea

[2019-11-09 19:50] Vendin opened #314 "Error in simple_regional_with_networking example"
Hello. I want to use example I get an error, I can not understand what is the matter.
What can be wrong ?

[code]

main.tf
[code]

variables.tf
[code]

terraform.tfvars
[code]

errors
[code]

[2019-11-09 22:58] bharathkkb commented on #314
I was able to reproduce the first error. I believe it is because the network creation and cluster creation are happening in parallel. You can introduce a resource dependency in the cluster code to wait for network by depending on an output from the gcp-network.

[code]

[2019-11-10 08:24] Vendin commented on #314
I fixed the error, thank you.

[2019-11-11 14:46] aaron-lane commented on #314
Regarding the second error, it appears there is a space in the string provided for `compute_engine_service_account`.

[2019-11-11 20:12] #290 closed

[2019-11-12 10:31] gcamus59 opened #316 "add GKE metering (now in GA) for all module and submodule versions"
GKE metering is not anymore a Beta feature, it's now in General Availability.
So, the feature should be available for use in every kind of modules.

It's already available in the beta' module versions. It seems that moving the code outside from the beta_cluster IF conditions (inside the autogen repository) will enable the feature for all module versions.

After beginning work on the modification i

[2019-11-12 13:14] morgante commented on #316
Thanks, this should be easy to fix once https://github.com/terraform-providers/terraform-provider-google/issues/4634 is resolved.

[2019-11-13 00:01] morgante opened #317 "Document update variants"
In #256, we added support for node pools to be created before being destroyed in variants. We should provide documentation (in the respective READMEs) of what the update variants are useful for.

[2019-11-13 16:05] #311 closed

[2019-11-13 19:28] bharathkkb opened #319 "[GKE Hardening] Workload Identity vs Node Pool Scope"
If we have Workload Identity, are there advantages in restricting node pool scopes?

[2019-11-13 19:30] morgante commented on #319
In general, I consider scopes to be a mostly legacy concept. They're very broad/not granular and also can't easily be updated in the future.

Thus, I'd lead towards *not* restricting node pool scopes. Instead we should rely on Workload Identity + IAM.

[2019-11-13 19:33] bharathkkb opened #320 "[GKE Hardening] Restricting node_pools_metadata, taints, tags"
Do we need to restrict node_pools_metadata, node_pools_taints, node_pools_tags when making a hardened cluster?

[2019-11-13 19:37] morgante commented on #320
I don't think so.

[2019-11-14 18:57] morgante commented on #317
Potential language to include:

The benefit is that you always have some node pools active. We don't actually cordon/drain the traffic beyond what the GKE API itself will do, but we do make sure the new node pool is created before the old one is destroyed. The implications of this are that:
1. We append a random ID on the node pool names (since you can't have two simultaneously active node pools)

[2019-11-15 00:18] ideasculptor commented on #317
Documentation of what will happen when changing node pool configurations in the non-update variants is also necessary, as I just discovered the hard way.

[2019-11-15 02:28] ideasculptor opened #325 "LoadBalancerManualChange events - how to handle?"
If I enable the istio feature, and take a look at the istio-ingress and istio-ingressgateway both show events labeled as LoadBalancerManualChange type, which provide a gcloud command which will add the necessary firewall rule(s).

I'm curious whether my service account is lacking a permission which would cause that to correctly happen without manual intervention, or do I need to set up an event ha

[2019-11-15 03:06] ideasculptor opened #326 "beta update-variant module isn't idempotent"
When running the same terraform apply command twice in a row, the first succeeds and the second results in the following plan and eventual error.  I could really use some help with this one, as it blocks making any changes to a cluster without first running `terragrunt destroy` and then re-applying, or at least targeting module.gke.google_container_node_pool.pools[0] with destroy and re-apply.

[c

[2019-11-15 03:09] ideasculptor commented on #326
Looking at the plan, it seems likely that specifying node_locations instead of location (or in addition to it) would correct the problem.  Or telling terraform to ignore that difference.  I don't have time to experiment right now, unfortunately.

[2019-11-15 07:13] ideasculptor commented on #326
Once I dug into the code, it became clear that including the following in any node_pool declaration will fix the problem:
[code]

However, it would certainly be much better if it was correctly handled whether an explicit node_locations is provided or not, since it is coded as though it is optional - but the default value seems to come up empty on creation, but has a value when pulling the value wh

[2019-11-15 10:00] ideasculptor commented on #305
I only just saw your comment, @SubatomicHero.  That Medium post by @kopachevsky is a super helpful summary.  @Morgante, could someone throw a link to it in one of the READMEs in this repo so it's not hidden down here in a closed issue?

I eventually went with a config that isn't totally locked down - I allow outbound access to the public internet, which allowed me to get everything up without all

[2019-11-15 14:55] #268 closed

[2019-11-15 15:15] kopachevsky commented on #93
it this format is fine?
[code]
and example of value
[code]

[2019-11-15 15:22] morgante commented on #93
Yes, that works.

[2019-11-15 16:32] morgante commented on #326
Thanks, I think #327 might fix this.

[2019-11-15 18:05] ideasculptor commented on #326
I assumed that if I had a regional cluster, node_locations might have several zones in it, while location would just have the region in it, and I wasn't sure how that would work in the plan comparison.  It seemed like an opportunity for the existing resource to appear out of sync with the new plan, and I didn't want to take the time to try it to confirm.

[2019-11-15 19:15] #326 closed

[2019-11-15 22:15] thecodejunkie opened #329 "Add var to allow a pre-generated SSH key to be passed to the ACM module"
The current implementation of the ACM module only allows you to generate a new SSH key or not to create the git-secret at all. Ideally it should be possible to pass in an `ssh_key` variable as well, so you have the ability to pass in a pre-generated key.

Something like this would be nice functionality

* Was `ssh_key` provided?
   * Yes - > Use it
   * No -> Is `create_ssh_key` set to `true`?

[2019-11-15 23:27] morgante commented on #329
Would you want this to be the actual private key (contents) or a file path? I'm thinking contents would be more flexible (since you can always grab them from a file using `file()` in your config.

[2019-11-16 11:23] thecodejunkie commented on #329
Oh sorry, forgot to mention that. Yes, I think the ideal would be to pass in the content of the file since it provides more flexibility in where the config originates from

[2019-11-16 20:16] aaron-lane commented on #138
Is #315 sufficient or do we want this to be the default on all modules?

[2019-11-16 20:17] aaron-lane commented on #107
Fixed by #124

[2019-11-16 20:17] #107 closed

[2019-11-16 20:18] aaron-lane commented on #65
Fixed by #210.

[2019-11-16 20:18] #65 closed

[2019-11-18 10:22] morgante commented on #138
Let's default to true.

[2019-11-18 18:53] aaron-lane commented on #41
This was fixed by #223.

[2019-11-18 18:53] #41 closed

[2019-11-18 18:57] aaron-lane commented on #34
@cray0000 please pass this along to the new team member.

[2019-11-19 08:23] ideasculptor opened #332 "enabling istio requires extra roles on service account"
It should be trivial to just add a call like the following to the code where the GKE module is called:

[code]

But because the projects_iam module no longer works with dynamically computed values, even if var.project_roles is declared statically, it blows up because of the reference to module.gke.service_account.

So it isn't really possible to add the appropriate authorizations for istio in the

[2019-11-19 08:24] ideasculptor commented on #332
<img width="826" alt="Screen Shot 2019-11-19 at 12 15 54 AM" src="https://user-images.githubusercontent.com/484573/69129279-e4356a00-0a62-11ea-824a-f67f5acc2834.png">

[2019-11-19 13:32] morgante commented on #325
This sounds like a permission issue. It sounds like the GKE Service Account might not have the right permission on your network to manage firewall rules: https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc#summary_of_roles_granted_on_subnets

[2019-11-19 14:50] cray0000 opened #333 "[Tests flakiness] Kubernetes Engine API activation"
When doing `converge upstream-nameservers-local` quickly after `setup` (for example in google cloud build).

The issue is that the kubernetes engine API activation in the project created in `setup`, takes some time to get into effect.

I propose to add a minute of a timeout to the cloud build config after after the `setup` is run.

[code]

[2019-11-19 15:10] cray0000 opened #334 "[Tests flakiness] 'deploy_service' fails because service takes some time to become accessible"
Takes some time for the service to become reachable.

Suggestion: implement retry logic to wait until the service is reachable

[code]

[2019-11-19 17:45] ideasculptor commented on #332
Fair enough.  I'll remove my extra roles and throw up a new cluster from scratch, and report back here with the iam assignments in the plan that gets generated.  I don't think this one is user error, since the service account is being created by the module.  I have plans this afternoon, so I'm not sure I'll get to it today. It'll probably be another late-night response tonight if it happens today

[2019-11-20 09:12] morgante opened #338 "Upgrade to provider version 3.0.0"
We will have to update the configuration to support 3.0.0 provider versions, based on this upgrade doc: https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html

[2019-11-20 09:26] #66 closed

[2019-11-20 10:59] thecodejunkie commented on #329
@morgante what're your thoughts about completely replacing the `create_ssh_key` variable (and corresponding usage of `tls_private_key`) with a `ssh_key` variable? I feel that by introducing the ability to pass in a key, it should not be the responsibility for the ACM module to generate one for you. Either you grab your key from whatever location you wish or you make use of `tls_private_key` yourse

[2019-11-20 11:01] morgante commented on #329
I'd prefer to not remove the `create_ssh_key` functionality. We can provide `ssh_key` as an additional option, but for testing/bootstrapping I think the in-module creation is helpful.

[2019-11-20 11:06] #308 closed

[2019-11-20 17:42] bharathkkb commented on #338
@morgante I can pick this up next

[2019-11-20 18:11] morgante commented on #338
Thanks @bharathkkb!

[2019-11-20 22:58] thecodejunkie opened #343 "[GKE Hardening] Shielded GKE nodes"
Shielded GKE nodes should be supported in the beta providers https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#shielded_nodes

[2019-11-21 15:35] kopachevsky commented on #93
@morgante it seems both resource types and both limits (min and max) required on API level, on provider they are optional, for example this one will fail:

[code]

And more insetting this one as well:
[code]
The error output is:
[code]
So my question here, should we switch from map to object for variable as long all fields seems to be mandatory?

[2019-11-21 15:48] bharathkkb commented on #343
I believe shielded nodes were added in beta modules with #300

[2019-11-21 17:19] #3 closed

[2019-11-21 17:19] #333 closed

[2019-11-21 17:19] #334 closed

[2019-11-21 17:44] medarz opened #345 "Remove Default Node Pool: Error - Node created without a route"
When forcing to delete the default node pool, via:

`remove_default_node_pool          = true`

and the new pool is being created,  I got an error saying:

**Node created without a route**

This happens just to one of the nodes in the pool. The status in the node is *NetworkUnavailable*
I also tried the same configuration withouth removing the pool, and the cluster is created without issues.

[2019-11-21 22:31] morgante commented on #93
@kopachevsky What happens if you only specify memory? From the response provided, it only calls out memory as required.

[2019-11-21 22:39] #343 closed

[2019-11-22 06:33] kopachevsky commented on #93
Will send output later, in a middle of other task now, but if specify only memory, without cpu - it also fails, only full set of args works

[2019-11-22 09:15] thecodejunkie commented on #343
@morgante this does not appear to be available in the version (5.1.1) that's published in the Terraform registry. Any plans on putting out a new version soon? Thanks!

[2019-11-22 10:45] kopachevsky commented on #93
Error: googleapi: Error 400:  Resource limits for cpu must be specified when enabling node autoprovisioning., badRequest

[2019-11-22 17:29] morgante commented on #93
@kopachevsky In that case, we should indeed make it an object since all params are apparently required.

[2019-11-22 22:36] ameer00 opened #348 "Kubernetes dashboard is DEPRECATED"
Creating a GKE cluster with shared VPC, suing ver 5.1.1, getting the following error message.
[code]
I have tried it with the `kubernetes_dashboard = true` and `false` as well as removed it and getting similar issues.

My full tf below:
[code]

[2019-11-23 15:47] andrewnazarov opened #349 "ip_allocation_policy conflicts with cluster_ipv4_cidr"
I'm on version 5.1.1 of the module.
Planning the configuration taken with some little changes from the usage example raising the following errors:

[code]

[2019-11-23 15:49] andrewnazarov commented on #348
Experiencing the same issue. I think the fix is here (#337), but not in the release yet.

[2019-11-23 16:24] andrewnazarov commented on #349
Ok, it was caused by the wrong version of the google provider. I didn't specify the version in my provider block, so 3.0.0-beta.1 was used instead.

[2019-11-23 16:29] andrewnazarov commented on #348
My error has gone after specifying the version of the google provider.

[code]

[2019-11-23 17:43] ameer00 commented on #348
thanks @andrewnazarov looks like my issue was the provider, setting it to 2.18 fixed it. Closing this.

[2019-11-23 17:43] #348 closed

[2019-11-25 19:52] ravigude commented on #142
@namcxn , I am having the same issue. How did you solve the issue ?

[2019-11-26 04:19] namcxn commented on #142
I was add all scopes for cluster

`node_pools_oauth_scopes = {
    all = [
      "https://www.googleapis.com/auth/devstorage.read_only",
      "https://www.googleapis.com/auth/logging.write",
      "https://www.googleapis.com/auth/monitoring",
      "https://www.googleapis.com/auth/service.management.readonly",
      "https://www.googleapis.com/auth/servicecontrol",
      "https://www.googleapis.c

[2019-11-26 21:36] #93 closed

[2019-11-28 21:42] naseemkullah opened #357 "Release frequency"
Hi, is there a rule on how often this module gets released?
It would be nice to have more frequent releases.

[2019-11-29 14:00] ivankorn opened #358 "Remove/update quoted type constraints for tf 0.12.14+ support"
Quoted type constraints are [deprecated since 0.12.14](https://github.com/hashicorp/terraform/blob/v0.12.16/CHANGELOG.md#01214-november-13-2019):
In a variable block, a type constraint "map" should be written as map(string), "list" as list(string), and "string" as just string.

Can you please update the code base in order to get rid of the warning message below?

[code]

[2019-11-29 15:39] aaron-lane commented on #358
Thanks @ivankorn. Let's update all instances of untyped variables and variables with deprecated types to conform to Terraform 0.12 standards.

[2019-11-29 15:45] #138 closed

[2019-11-29 15:53] aaron-lane commented on #357
Hi @naseemkullah! There is currently no schedule in place for module releases as our modules are maintained on a best-effort basis. We do try to release from master as frequently as possible but it doesn't always work out. That being said, we are close to releasing 6.0.0!

[2019-11-29 15:54] naseemkullah commented on #357
Thanks for letting me know, looking forward to 6.0.0!

[2019-11-29 15:54] #357 closed

[2019-11-29 20:33] #180 closed

[2019-11-29 20:33] #185 closed

[2019-12-02 14:41] naseemkullah opened #359 "Constrain only the minimum allowed version"
Hi,

I use a thin wrapper around this module as follows:

In `main.tf` I have defined the google-beta provider pinned to `v2.20.0` as well as:
[code]
Then my  zonal-cluster module(which is a wrapper around this repo)'s `maint.tf`:

[code]

I am currently faced with the following issue:
[code]
Which was introduced by the new constraint within this module for  `google-beta provider ~> 2.18.0`, which

[2019-12-02 14:50] morgante commented on #359
Sorry for the issue!

It looks like we're [pinning](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/versions.tf.tmpl#L22) to `~> 2.18.0` which is too pessimistic. We should pin to `~> 2.18` instead.

[2019-12-02 14:55] naseemkullah commented on #359
Ah I see! Just read up this terraform documentation on [provider versions](https://www.terraform.io/docs/configuration/terraform.html#specifying-a-required-terraform-version) and indeed:

[2019-12-02 14:57] naseemkullah commented on #359
`~> 2.18` would be anything above `2.18.0` but anything less than `3.0.0` is that right?

Would it be better to ping to `>=2.18.0` ? `3.0.0` is right around the corner after all

[2019-12-02 15:41] aaron-lane opened #360 "Create a service activation submodule"
This submodule should activate all necessary services to use this module.

This should use the Project Services submodule from the Project Factory.

Reference https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/146

[2019-12-02 15:51] morgante commented on #359
We don't support 3.0.0 yet, but once we do we can definitely update it for that.

[2019-12-02 16:11] aaron-lane commented on #222
Duplicate of #14

[2019-12-02 16:11] #222 closed

[2019-12-02 16:12] aaron-lane commented on #45
Fixed by #331

[2019-12-02 16:14] aaron-lane commented on #287
Already fixed.

[2019-12-02 16:14] #287 closed

[2019-12-02 16:21] aaron-lane commented on #306
Blocked on support for defaults in objects.

[2019-12-02 18:07] #359 closed

[2019-12-02 23:31] #329 closed

[2019-12-03 15:55] #309 closed

[2019-12-04 01:09] vjoshi-hub opened #363 "GKE Sandbox configuration"
I am trying to create a cluster and nodepool with image_type  as COS_CONTAINERD and node version as 1.14.8-gke.17 and sandbox_enabled  as true.
I am using submodule private-beta-cluster. The cluster gets created with no errors but in the console nodepool configuration shows Sandbox with gVisor as disabled.
I am not sure if I am missing something.

[2019-12-04 15:57] morgante opened #364 "Issue with private cluster endpoint"
When setting `enable_private_nodes` to false on a private cluster, this error comes up:

[code]

Introduced in 018c6fb93dc90065e828cc066eedb7a35bd0fec1

[2019-12-04 17:10] morgante commented on #363
Can you share your module config and `terraform version`? Thanks!

[2019-12-04 17:23] vjoshi-hub commented on #363
[gke.txt](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/files/3923143/gke.txt)
Terraform v0.12.13
+ provider.google v2.18.1
+ provider.google-beta v2.18.1

[2019-12-04 23:03] vjoshi-hub commented on #363
I have upgraded my provider versions -
Terraform v0.12.13
+ provider.google v2.19.0
+ provider.google-beta v2.19.0
But still facing same issue with CFT module.
However, I am able to create Cluster and Node pool with GKE sandbox enabled using terraform resource. I used google-beta provider.
[gke-terraform.txt](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/files/3924

[2019-12-05 03:15] #364 closed

[2019-12-05 11:24] dennybaa opened #367 "Create before destroy for a nodes pool [upgrade from private-update-variant to beta-private-update-variant]"
I've been migrating from standard to beta, and bumped into

[code]

Don't know the real reason, update-variant seemed to work okay. But when I switched to beta version of it I had to destroy pools by hand first.

[2019-12-05 16:02] morgante commented on #367
I suspect it might be a case of the module source changing without causing the ID to update.

Now that you're using the beta version, do additional changes work properly?

[2019-12-05 18:39] dennybaa commented on #367
Yeah, I've applied a couple of times seems to really work. If something pops up we can revisit this. So far, thank you for the great project!

[2019-12-05 18:39] #367 closed

[2019-12-05 18:40] dennybaa commented on #367
@morgante Thanks for the catch also

[2019-12-06 05:35] naseemkullah opened #370 "Error: var.zones is empty list of string"
Although I'm able to create clusters just fine, when I try to import a non related resource into a non related module within the same root directory, I get:

[code]

As you may notice, I am using a thin wrapper around the beta-public-cluster module, I pass in the value of `zones` in this wrapper, which is a 1 element array of zones.

Any idea what may be going on?

[2019-12-06 15:49] naseemkullah commented on #370
I was able to work around this, by commenting out my various thin-wrapper-around-this-module
 module instantiations, import the non-related resource, then uncomment the modules.

If there is any further insight as to what might be happening please let me know, if not feel free to close this issue.

[2019-12-06 18:17] danisla opened #371 "wait-for-cluster.sh stuck, node pool in PROVISIONING state"
When provisioning a cluster in us-east1, the wait-for-cluster.sh script never completes because the `default-node-pool` node pool is stuck in the `PROVISIONING` state.

In the cloud console, the cluster and node pools are green.

[code]

-----

Terraform config:

[code]

Provider versions:

[code]

[2019-12-06 19:02] morgante commented on #371
As a temporary fix, you could set `skip_provisioners` to `false` on the module.

[2019-12-06 19:13] morgante commented on #370
I'm not really sure what could be causing this, I suspect it might be related to the pass-through.

Closing for now, but if anyone else encounters it we can reopen and investigate.

[2019-12-06 19:13] #370 closed

[2019-12-06 19:26] danisla commented on #371
Looks like I'm still blocked by the error regardless of `skip_provisioners`, I think the terraform resource API is blocked.

[code]

[2019-12-06 19:45] parabolic commented on #371
@danisla it's happening to me as well, and we got confirmation from google that it has been like this since 5pm yesterday. It has nothing to do with the module. I've also tried to do it by myself just by using the terraform resources but to no avail. At this point all we can do is wait for google to sort it out on their side.

[2019-12-06 19:50] morgante commented on #371
Since this is an API issue, closing.

[2019-12-06 19:50] #371 closed

[2019-12-06 22:54] skinlayers opened #372 "Add safer-cluster-update-variant"
I'll take a crack at adding this to ./autogen.

[2019-12-06 22:55] morgante commented on #372
Thanks!

[2019-12-09 07:54] omazin commented on #294
Hi @AkhilGNair, can you try overriding the `region` variable as follows:
- `import -var 'region=us-east-2' ... `
- create a `terraform.tfvars` or `*.auto.tfvars` with the following contents `region = "us-east-2"` and run your import command
- create a file named `region.tfvars` with the same contents and run `import -var-file="region.tfvars"`

If in all cases it still fails then it's indeed a terr

[2019-12-09 08:23] thecodejunkie opened #373 "Quoted references are deprecated"
Hi,

Noticed that the GKE module(s) use quoted references in the output variable, which causes Terraform to return a warning. It should be safe to remove these since the modules all require Terraform >= 0.12

[code]

Example of where it us used

[code]

[2019-12-09 15:38] morgante commented on #373
Thanks! If you have a chance, PR would be appreciated.

[2019-12-09 16:20] bharathkkb commented on #312
fixed by #220

[2019-12-09 16:20] #312 closed

[2019-12-09 16:56] omazin commented on #294
Was able to reproduce the error using the `simple_regional_cluster` example. The error log's below:
[code]
Created a workaround for #294, but the real issue's with terraform not able to override a default value when importing resources is still there. We need them to fix the issue https://github.com/hashicorp/terraform/issues/22721

[2019-12-09 21:46] skinlayers commented on #372
@morgante It looks like `./modules/safer-cluster` is not part of the `./autogen` system, so I wanted to solicit some input before I moved forward. Because `safer-cluster` wraps `beta-private-cluster` and significantly differs from the other submodules, integrating `safer-cluster` would require significant changes to the templates and probably `./helpers/generate_modules` as well.  Would it be bett

[2019-12-09 21:56] morgante commented on #372
Yes, this will require a bit of rework to the autogen system but it shouldn't be *too* bad.

Here's what I would suggest:
1. Move the existing autogen to `./autogen/main`
2. Add a `./autogen/safer-cluster` folder with the safer cluster config
3. Update the [helper script(https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/helpers/generate_modules/generate_mod

[2019-12-10 07:53] skinlayers commented on #372
Here's my initial attempt: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/378

[2019-12-10 09:13] thecodejunkie commented on #373
@morgante I see that https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/369 beat me to it 😄 I'll close this now!

[2019-12-10 09:13] #373 closed

[2019-12-10 10:49] omazin commented on #370
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/294

[2019-12-10 16:35] #294 closed

[2019-12-10 16:35] morgante commented on #294
#376 should have fixed this.

[2019-12-10 21:09] naseemkullah opened #379 "question: grant_registry_access to another project's registry out of the box"
What is the recommended approach to give fresh clusters gcr access to a project other than the one they are in (without using default compute sa for clusters)?

I understand that one needs to bind the newly created tf-managed gke service account to the objectViewer role of the image repo project's cloudbuild bucket. But that seems like a manual step right now.

I am currently in the process of sep

[2019-12-10 21:28] morgante commented on #379
Yes, using a shared image project is a comment pattern.

You can actually do this using the `registry_project_id` variable. This will automatically grant the service account the required permissions on that shared project.

[2019-12-10 21:28] #379 closed

[2019-12-10 21:29] naseemkullah commented on #379
Great, thank you!

[2019-12-11 00:16] ameer00 opened #380 "Error 400: Policy members must be of the form "<type>:<value>"., badRequest"
Error during GKE module create cluster.
[code]
I am using the following provider versions:
[code]
Here is my terraform script:
[code]

[2019-12-11 15:40] morgante commented on #380
Can you try applying again? I've recently noticed intermittent IAM errors across the board.

[2019-12-11 16:52] ameer00 commented on #380
Just tried. No dice. Same error.

[2019-12-11 18:15] #358 closed

[2019-12-11 20:12] vjoshi-hub commented on #363
I am creating additional nodepool with sandbox_enabled = true and image_type ="COS_CONTAINERD". It creates cluster and nodepool successfully. However, nodepool shows correct image type but GKE sandbox disabled.

[2019-12-11 20:54] morgante commented on #380
Unfortunately it looks like this is an upstream issue: https://github.com/terraform-providers/terraform-provider-google/issues/5107

Until it's resolved in the provider, can you try pinning your provider version to `2.12.0`?

[2019-12-11 22:44] ameer00 commented on #380
Confirming, everything works with provider set to `2.12.0`.
Closing this ticket in favor of the other.

[2019-12-11 22:44] #380 closed

[2019-12-11 23:50] morgante commented on #363
You actually have to set the `sandbox_enabled` variable to `true` on the module itself, not for the individual node pool.

[2019-12-12 01:32] vjoshi-hub commented on #363
I moved sandbox_enabled = true in module. I have image_type = "COS_CONTAINERD" in node pool configuration.
However, I got error as below -
Error: googleapi: Error 400: Gvisor sandbox type is only available on the COS_CONTAINERD image family., badRequest

  on .terraform/modules/gke_cluster_hmt_prod/terraform-google-modules-terraform-google-kubernetes-engine-f99ddf4/modules/beta-private-cluster/clu

[2019-12-12 01:43] morgante commented on #363
Can you provide the output of `terraform plan`?

There shouldn't be a difference between private and public clusters when it comes to sandboxing.

[2019-12-12 06:01] vjoshi-hub commented on #363
[terraform-plan.txt](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/files/3954087/terraform-plan.txt)

[2019-12-12 18:43] morgante commented on #363
Thanks, I think the issue is related to the embedded default node pool which we should probably remove entirely. We're going to have to do a bit more digging on this unfortunately.

[2019-12-12 23:30] skinlayers commented on #372
@morgante The work around allowed me to create the infra, but I ran into the same problem when attempting to then run `make docker_test_integration `. I ended up making a few more changes to accommodate my immediate needs. I'll attempt to interactively step through the tests as described in the contribution guide.

[2019-12-16 13:54] glennmcallister opened #383 "min_master_version and release_channel conflicting"
I want to use the `release_channel` feature in 6.1.1, specifically in the `beta-private-cluster` module, however, skimming the code I'm pretty sure this applies to any of the `beta_*` modules.  In this specific case, I'm using the `release_channel` and specifying a `region` with 3 `zones`, resulting in a `master_version` (as of last Thursday) of

[code]

The cluster deployed just fine. However now

[2019-12-16 14:53] #314 closed

[2019-12-16 15:01] aaron-lane commented on #153
@mholleville does @morgante's proposal satisfy your use case?

[2019-12-16 15:03] aaron-lane commented on #325
@ideasculptor does @morgante's suggestion solve your issue?

[2019-12-16 15:52] morgante commented on #383
Can you share the Terraform config you used?

[2019-12-16 15:54] #349 closed

[2019-12-16 16:30] glennmcallister commented on #383
The relevant bits, slightly edited:

[code]

If you need everything, I can pull it together and scrub it.

[2019-12-16 17:16] morgante commented on #383
Thanks, I think I see the issue.

If `release_channel` is active on the module, we should set `min_master_version` to null [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/cluster.tf.tmpl#L59).

[2019-12-16 18:56] ideasculptor commented on #325
I'm not entirely sure.  I got pulled into other things for the last few weeks and haven't actually had a chance to verify.  I did find a potential candidate role in the docs, which makes me think he's correct, but I haven't had opportunity to verify it.  But I actually have some time to play around with it this afternoon, so I'll give it a shot and get back to you.

This has been open for a while,

[2019-12-16 20:58] glennmcallister commented on #383
As another data point, since this is a development cluster that I'm experimenting with I'm constantly tearing it down, and building it back again and I hit the same problem:

[code]

[2019-12-17 10:17] omazin commented on #345
Hi @medarz, can you post the exact configuration you used?

[2019-12-18 01:42] #325 closed

[2019-12-18 04:38] naseemkullah commented on #383
Also experiencing this issue... How do we set it to null? I've tried setting `kubenetes_version` to `null` but get `Error: Malformed version:`

[2019-12-18 09:42] raj-saxena commented on #338
@bharathkkb what is the ETA on this? I am facing troubles trying to use this module with other modules that use versions `3.0`.

[2019-12-18 11:36] omazin commented on #345
Tested creating a `simple_regional` and a `simple_regional_private` clusters with `remove_default_node_pool` set to `true`. Couldn't reproduce the error. Status in all nodes is 'Ready'.
Looking at the issue description is sounds like it could be some asynchronous issues when a node is being created before all routes are created.

[2019-12-18 11:41] benoitm76 commented on #383
Same for me.

I think that Google made a change recently on that part because it was working few days ago.

[2019-12-18 16:37] bharathkkb opened #384 "GKE tests failing due to legacy logging and monitoring defaults in autogen"
GKE tests failing to converge due to defaults that point to the old monitoring/logging api.
I was able to fix it by defaulting to logging/monitoring.googleapis.com/kubernetes
`Error 400: Legacy monitoring is not supported in clusters running Kubernetes 1.15 or above`

[2019-12-20 17:43] jasonbisson commented on #384
Updating to logging/monitoring.googleapis.com/kubernetes worked for me too.

[2019-12-26 18:37] #384 closed

[2019-12-27 20:34] minaf1 opened #390 "Could not find default credentials"
Hello.
I tried running the example deployService by changing the variables.tf file with the relevant variables from the root readme.  I am using terraform v0.12.   I keep getting this error:
Error: google: could not find default credentials.

My credentials is a json service account from gcp and I put it in deployService directory.  I tried referring to the credentials like the following in variab

[2019-12-27 21:26] morgante commented on #390
Hi there! In order to use Terraform with GCP, you need to provide credentials. The different mechanisms for doing so are explained here: https://www.terraform.io/docs/providers/google/guides/provider_reference.html#credentials-1

You'll want to set an environment variable pointing to your key file.

[2019-12-27 21:37] #338 closed

[2019-12-28 00:27] minaf1 commented on #390
I just tried your suggestion. It finally passes the terraform plan command.

[2020-01-02 09:38] neodani opened #392 "Problem with node_taint_pools (Unsupported argument)"
Hi!

Could you give me a hand with that error?

I'm using this module
  source  = "terraform-google-modules/kubernetes-engine/google//modules/private-cluster"
  version = "5.0.0"

But doesn't work me.

I'm receiving that error always.
[code]

 My complete recipe is

[code]

Thank you very much

[2020-01-02 16:37] #390 closed

[2020-01-02 17:02] yashbhutwala opened #393 "Generate kubeconfig from output"

[2020-01-06 17:02] morgante commented on #393
Can you clarify your ask here?

[2020-01-06 17:07] #305 closed

[2020-01-06 17:24] yashbhutwala commented on #393
Right now, afaik, there is no way to take the output of this module and turn it into a valid `~/.kube/config` file.  Correct me if I'm wrong :)

[2020-01-06 17:26] morgante commented on #393
The outputs include the `ca_certificate` and `endpoint`, which should be sufficient to construct a kubeconfig file: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine#outputs

[2020-01-06 18:01] yashbhutwala commented on #393
Is that enough to generate a kubeconfig file, what about `client-certificate-data` and `client-key-data`

[2020-01-07 21:09] naseemkullah opened #395 "zones output is an empty list"
From my testing, the `zones` output is empty. I am using the beta-public cluster module to create a single-zone cluster.

[2020-01-07 21:18] naseemkullah commented on #395
What I want is the `location` output.

[2020-01-07 21:18] #395 closed

[2020-01-08 15:16] Slutzky commented on #349
I'm still getting this error

`Error: "ip_allocation_policy": conflicts with cluster_ipv4_cidr

  on container_cluster.tf line 1, in resource "google_container_cluster" "tfer--test":
   1: resource "google_container_cluster" "tfer--test" {

Error: "cluster_ipv4_cidr": conflicts with ip_allocation_policy

  on container_cluster.tf line 1, in resource "google_container_cluster" "tfer--test":
   1: r

[2020-01-08 15:34] morgante commented on #349
Please share your Terraform config, `terraform version`, and plan + debug output.

[2020-01-08 15:49] Slutzky commented on #349
sure,

```Terraform version v0.12.18```

**Terraform plan :**

[code]

container_cluster.tf

[code]

[2020-01-08 15:51] morgante commented on #349
Your Terraform config is not using this module, so it's not an issue with this module.

You should file an issue on the provider.

[2020-01-08 15:57] Slutzky commented on #349
sorry, I didn't mention it before, I imported the *.tf file using the following command :

[code]
After import , I just run

[code]
and then I get the error that I showed above.

But thanks for the prompt response! I will contact the provider for this issue.

[2020-01-08 16:15] morgante commented on #392
Apologies for the delayed response!

Node pool taints are currently only available for the beta version, so you should switch to using the beta module:

[code]

[2020-01-08 16:50] nathanwilk7 opened #396 "How to Add GPU to google_container_node_pool resource"
I would like to add GPU's to a `google_container_node_pool` resource, but I was unable to find documentation for how to do so (maybe just looking in the wrong place or misunderstanding something). I'm filing this issue to ask for help understanding how to specify the GPU request. Specifically, I'd like to create a new `google_container_node_pool` with 1 GPU per node for an existing GKE cluster tha

[2020-01-08 17:31] morgante commented on #396
If you are directly creating resources yourself and not using this module, then please file issues on the provider not this module.

[2020-01-08 17:31] #396 closed

[2020-01-09 09:01] neodani commented on #392
Hi! I tried only changing that line, but the error was

`Error: Provider produced invalid plan

Provider "google-beta" has indicated "requires replacement" on
module.gke.google_container_cluster.primary for a non-existent attribute path
cty.Path{cty.GetAttrStep{Name:"node_pool"},
cty.IndexStep{Key:cty.NumberIntVal(0)}, cty.GetAttrStep{Name:"node_config"},
cty.IndexStep{Key:cty.NumberIntVal(0)},
ct

[2020-01-09 22:35] marshallford commented on #383
I'm facing the same issue. Version `6.2.0` of the module.

[code]

[2020-01-12 03:22] #372 closed

[2020-01-12 03:22] skinlayers commented on #372
Branch was merged. `safer-cluster-update-variant` should be available in the next release.

[2020-01-13 10:47] tuananhnguyen-ct opened #398 "Workload Identity config per node pool"
I'm using beta-private-cluster and unable to disable workload identity per node pool, is there any related documentation or example on how to configure that? I can only use `node_metadata              = "GKE_METADATA_SERVER"` at cluster level to configure/enable for all node pools at once.

[2020-01-13 18:34] Dev25 commented on #398
Existing issue https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/265

Since the for_each PR still hasn't been merged yet, i'll create another PR just with those the changes.

[2020-01-14 18:38] marshallford opened #401 "gcloud executable requirement, removal of jq"
Hello,

I'd like to discuss the possibility of using the [gcloud](https://github.com/terraform-google-modules/terraform-google-gcloud) module as a replacement for the `wait-for-cluster.sh` script. Perhaps a solution similar to this PR: https://github.com/terraform-google-modules/terraform-google-project-factory/pull/343.

I am a TFE customer and would like to avoid opting out of the "wait for clus

[2020-01-15 06:26] epishan opened #403 "Getting error "google_container_cluster.primary is empty tuple" on updating to v5 or v6"
Hello,

I'm trying to update **private-cluster** module from v4.1.0 to v5 (following [Migration Instructions](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/dc9005590d89570fb1b5bcc077d8c163ef60b258/docs/upgrading_to_v5.0.md#resource-simplification) ) and consistently getting multiple errors:

[code]

module configuration:
[code]

Please note, I'm using a **regi

[2020-01-15 08:57] neodani commented on #392
Any idea to solve it? :(

Thank you very much

[2020-01-15 15:09] bharathkkb commented on #392
@neodani I believe this is because 3.x.x of google provider dropped support for kubernetes_dashboard. Can you try 3.x.x with module v6?
`module "gke" {
  source  = "terraform-google-modules/kubernetes-engine/google//modules/beta-private-cluster"
  version = "6.0.0"`

[2020-01-15 22:36] morgante commented on #403
Are these errors happening at apply-time or when you attempt to run the migration script?

[2020-01-15 22:59] morgante commented on #401
Yes, I'd definitely like to move to using the `gcloud` module for this.

Note that the `gcloud` module *does* include `jq`. Happy to look at a PR for this though, either way.

[2020-01-16 05:57] epishan commented on #403
@morgante it happend on plan/apply stage. I haven't seen any errors or even modules to migrate for the migration script:
[code]

[2020-01-16 09:06] neodani commented on #392
Very weird, with 5.0.0 I can initialize terraform good

[code]

But If I change to 6.0.0, I can't init terraform :(

[code]

Do you know if I have to change something?

This is the complete recipe
https://privatebin.net/?0ba5a899f995b57f#AYcPrFqxTrJe7NmPexTQ3K2wvJjvRaEk7cYZsygBpUME

With 6.0.0 I have to remove this line?
[code]

Thank you very much

[2020-01-16 09:15] neodani commented on #392
I've tried with latest version of terraform if was that, but not, the error persist with latest version.

Terraform v0.12.19

[2020-01-16 09:37] neodani commented on #392
Hi,

With this I got it run terraform init without problems with 6.0.0
And Terraform v0.12.4
[code]
But I found this two error, I think the first one is just remove the line, right? but what about with second one?

[code]

Thank you very much I think we are close to solved it?

[2020-01-16 11:40] neodani commented on #392
Using the latest neither works, init works but plan get the same error

[code]

I don't understand what is the mistake

Thank you very much

[2020-01-16 15:02] neodani commented on #392
SOLVED destroying the gke cluster, tfstate, etc. And recreating again :D

[2020-01-16 21:27] bharathkkb commented on #392
@neodani glad you were able to resolve it.
Yes bumping versions usually involves a bit of code refactor and provider version constraint which we usually provide [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/docs/upgrading_to_v6.0.md)

[2020-01-16 21:27] #392 closed

[2020-01-21 13:35] s1mark opened #405 "External references from destroy provisioners are deprecated"
*module version* - **v6.2.0**
*terraform version* - **0.12.19** *(also affected version 0.12.18)*

[code]

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/95e169e69f6633ce0e4c62704745536d21cac50b/modules/beta-private-cluster/cluster.tf#L363-L366

Probably other sub-modules also affected

Discussion thread at HashiCorp:
https://github.com/hashicorp/terraform/issu

[2020-01-21 16:55] morgante commented on #403
Ok, the lack of migration needed is expected if you're using a regional cluster. Could you also share the output of `terraform show` and full debug logs?

If you don't want to post publicly, you can also email `morgantep@google.com`.

[2020-01-22 01:17] #317 closed

[2020-01-22 21:58] #128 closed

[2020-01-28 12:14] kcatro opened #409 "Output master_ipv4_cidr_block"
On GKE it's possible to run into issues with using webhooks on private clusters. Examples include [prometheus](https://github.com/helm/charts/tree/master/stable/prometheus-operator#running-on-private-gke-clusters) or [cert-manager](https://cert-manager.io/docs/installation/compatibility/#gke).

The solution is to configure a firewall rule permitting (IIUC) access from hosted masters to GKE nodes,

[2020-01-28 16:47] morgante commented on #409
This makes sense, I'd be happy to accept a PR adding this.

[2020-01-30 16:40] taruntmr opened #413 "Not able to execute the script wait-for-cluster.sh"
Hi,

I am facing issue when consuming the module private-cluster. I get the following error:

[code]
I am using the hashicorp/terraform:0.12.16 image.

I connected to the running container and tried executing the file manually but I got the same error.

I validated the permission on the file, they are +x.

Let me know if you would want more details.

Thanks,
Tarun

[2020-01-31 06:39] skinlayers opened #414 "update-variants error on 'random_id.name.*.hex' in node_pool"
terraform v0.12.20

[code]

From what I can tell, the splat doesn't work for accessing a map.
See: https://github.com/hashicorp/terraform/issues/22476

Offending line:
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/main/cluster.tf.tmpl#L341

Snippet:
[code]

Error message:
[code]

[2020-02-03 16:01] #383 closed

[2020-02-03 16:05] #414 closed

[2020-02-03 22:13] skinlayers commented on #367
I just ran into this same issue when trying to add a taint to an existing default node pool.
[code]

Error:
[code]

[2020-02-03 22:22] skinlayers commented on #367
I just ran into this same issue when trying to add a taint to an existing default node pool.
[code]

Error:
[code]

[2020-02-05 17:14] endorama opened #419 "given key is not an element when using latest private-cluter"
I'm tring to setup a private cluster, using the `private-cluster` module.

Unfortunately an error comes up and I've not been able to find it's root cause.

I'm using this module at version `7.0.0`

The error is:
[code]

My usage of the module is:
[code]

Any hint on how to fix it or where to look for further debug? Thanks!

[2020-02-05 17:30] morgante commented on #419
Thanks for the report. It looks like the error is on [this line](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/main/main.tf.tmpl#L109).

Could you try this fix?

[code]

[2020-02-06 07:07] edwinallenz opened #421 "Legacy monitoring error when executing apply"
I'm getting this error when I try to create the resource with terraform apply

This is my terraform file
[code]
I follow some of the suggestions from this issue,  but I'm not able to make it work
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/384

[2020-02-06 11:21] endorama commented on #419
@morgante it works! Both plan and apply worked as expected.

[2020-02-06 12:01] endorama commented on #419
I'd like to understand in what case `google_container_cluster.primary.private_cluster_config` may be empty. :thinking:

I was expecting that block to be set when `enable_private_nodes` is `true`, but that does not seem the case? (I'm still new to the dynamic Terraform syntax)

[2020-02-06 16:01] morgante commented on #419
Truth be told, I'm not quite sure how/when it ends up being empty either. I'm guessing it has something to do with *changing* the value of `enable_private_nodes` to `true` (so future versions might not have that).

[2020-02-06 16:03] #419 closed

[2020-02-06 16:04] #405 closed

[2020-02-06 16:32] morgante commented on #421
Hi @edwinallenz, in #387 we changed the default monitoring default provider to `logging.googleapis.com/kubernetes` (the new version). You can either:
1. Upgrade to v6.2.0 or v7.0.0 of the module
2. Explicitly choose the new providers in your module config:

[code]

[2020-02-06 17:52] theobolo opened #423 "Examples are not working on master branch, neither on last release (7.0.0), "network" field not populated ?"
Hello,
I'm testing out terraform google kubernetes modules, especially the "beta-public-cluster", but i'm facing an issue about the "network" field.

I try something like this :

[code]

[code]
When i'm doing : `terraform plan`

[code]

You can see that the network field for the `resource "google_container_cluster" "primary"` stays at the `default` value.

By the way, `ip_range_pods` and `ip_range

[2020-02-06 21:52] morgante commented on #423
Hi there! This is rather odd behavior, but we do some validation of the input network here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/modules/beta-public-cluster/networks.tf#L26

To debug things further, could you?
1. Confirm if you're attempting to connect to a *Shared VPC* network
2. Confirm that the subnetwork provided is in the region you select

[2020-02-06 22:13] symbiont-jon-bogaty commented on #423
Same thing happened to me and it gets even odder. Setting up GKE with a network also provisioned via Google terraform module on the *first* run of terraform apply it attempted to use default for the network and failed because it couldn't find the pod and service CIDR ranges.

I ran the state show command and got:
data "google_compute_network" "gke_network" {}

As a sanity check I also ran:
terrafo

[2020-02-06 22:38] morgante commented on #423
@symbiont-jon-bogaty Were your network and GKE module provisioned in the *same* Terraform pipeline?

[2020-02-06 22:40] theobolo commented on #423
Alright ! I think that i've misunderstood something, the "gke" module DO NOT create automatically Networks just by passing names to the module, i need to create them first by using something like this :

[code]
Right ?

I tried to create a Shared VPC and a subnetwork directly on Google Cloud dashboard, and finally, using `terraform plan` gives me something like this :

[code]
@morgante So to answe

[2020-02-06 22:43] morgante commented on #423
@theobolo Ah yes I see your confusion! You are correct: you need to separately create the network outside the GKE module, then pass the name in.

One suggested change for your configuration to ensure the proper dependency order:
[code]

[2020-02-06 22:50] theobolo commented on #423
@morgante Alright, sorry for that... :D I was very confused about the examples ...

I'm currently trying a `terraform apply` with your recommandation, but it seems that the same thing is happening since the network is created in parallel with the gke cluster, do you know how to handle this, in one `terraform apply` command ?

[2020-02-06 22:52] morgante commented on #423
Hmm, it *should* depend on the input. What does `terraform plan` look like for you?

[2020-02-06 23:03] theobolo commented on #423
With that file :

[code]
The _first_ `terraform plan` looks like the first one posted, with `default` at value for the `network` field.

BTW i did a `terraform apply`, witch created the network, but the cluster ended in the same loop...
Then i did a `terraform plan` again, and of course, at this moment my plan was populated with the right networks. But the checking command you gave to me, still re

[2020-02-06 23:08] morgante commented on #423
That is unfortunate. I suspect passing the network through the `data` is causing issues, especially since I've noticed dependency order issues with data sources elsewhere in TF 0.12.

We originally added these data sources in #16 but I'm tempted to go back to path formatting. It's ugly but simpler.

[2020-02-06 23:11] theobolo commented on #423
I did noticed an issue with someone talking about something similar : https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/314

He seems to have figured it out, but he didn't says how :D

[2020-02-06 23:12] morgante commented on #423
@pratikmallya Since you originally authored #16, would you foresee any issues with switching back to basic path routing? I think it's the simplest fix for the dependency ordering we're encountering.

[2020-02-07 20:12] morgante opened #425 "Enable workload identity by default"
We should consider enabling workload identity by default on beta clusters, by providing a non-null default for `identity_namespace`.

[2020-02-07 23:40] morgante commented on #425
We should default to the project based namespace (which is currently the only option supported by Workload Identity).

[2020-02-08 23:45] jsdevalx opened #426 "rror: Error running command '.terraform/modules/gke/terraform-google-modules-terraform-google-kubernetes-engine-064f308/scripts/wait-for-cluster.sh"
Almost unchanged example script from (commented node_pool_taint_section only):
https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/7.1.0

terraform --version
Terraform v0.12.20
+ provider.google v3.7.0
+ provider.google-beta v3.7.0
+ provider.kubernetes v1.10.0
+ provider.null v2.1.2
+ provider.random v2.2.1

Windows 10 platform.

module.gke.null_resource.wait_f

[2020-02-09 16:20] kravvcu commented on #409
Added #427

[2020-02-10 15:02] Dev25 opened #428 "Add NodeLocal DNSCache beta addon support"
[NodeLocal DNSCache](https://cloud.google.com/kubernetes-engine/docs/how-to/nodelocal-dns-cache) was recently promoted to beta, add a flag to enable it for beta modules.

Blocked until beta provider supports it, looking at the GKE REST API this should just be a simple [boolean flag](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster.DnsCacheC

[2020-02-10 16:49] morgante commented on #428
Please make sure you open a provider issue as well.

[2020-02-10 16:53] Dev25 commented on #428
Existing Issue: https://github.com/terraform-providers/terraform-provider-google/issues/5150

[2020-02-10 19:30] qlikcoe opened #429 "Latest kubernetes provider breaks the auth.tf"
`kubernetes` provider v1.11 was released 3 hours ago. Right away it breaks kubernetes provider configuration in `auth.tf`:

[code]

Pinning it to v1.10 is a current workaround:

[code]

[2020-02-10 19:52] morgante commented on #429
Upstream issue: https://github.com/terraform-providers/terraform-provider-kubernetes/issues/759

[2020-02-10 21:58] #409 closed

[2020-02-12 19:49] gkowalski-google commented on #423
@morgante I'm hitting this issue as well, is there a workaround for now?

[2020-02-12 19:54] pratikmallya commented on #423
@morgante fine to switch back

[2020-02-14 04:52] lawliet89 commented on #429
If you want to keep using 1.11 provider, you can do a partial plan first with something like `terraform plan -target module.gke.google_container_cluster.primary`.

[2020-02-14 19:13] hornetmadness commented on #426
Same issue, this poped up after I deleted the nope pool and recreated it.

`module.bastion_host.google_compute_instance.public_instance[0]: Destroying... [id=projects/salesloft-qa-252014/zones/us-central1-a/instances/bastion-qa-cluster-1-1]
module.gke.google_container_node_pool.pools[0]: Destroying... [id=us-central1/qa-cluster-1/default-node-pool]
module.bastion_host.google_compute_instance.publi

[2020-02-14 19:47] morgante commented on #426
@hornetmadness Can you open an issue on Terraform core? This sounds like a bug there, not in the module.

[2020-02-18 06:24] chanuka-techo opened #435 "private-cluster does not allow changing default_max_pods_per_node"
This is more of a question than an issue. Is there any reason for limiting the private-cluster default_max_pods_per_node to 110, which is the default?

[2020-02-18 17:46] gkowalski-google commented on #423
@theobolo I was hitting this issue too while trying to use GKE master version `1.15.8-gke.3`, but I am no longer seeing it while using `1.14.10-gke.17`. YMMV.

"Interesting" variables at play:
- Google provider ~> 3.7.0
- Google beta provider ~> 3.7.0
- Helm provider ~> 0.10.4
- Kubernetes provider ~> 1.10.0
- GKE master version 1.14.10-gke.17
- GKE Terraform module ~> 7.2.0
- GCP network Terrafor

[2020-02-19 14:24] #423 closed

[2020-02-19 16:00] bharathkkb commented on #435
Previously it was in beta and hence only supported on the beta clusters
I think we can add support now as this is now GA
https://github.com/GoogleCloudPlatform/magic-modules/pull/2429

[2020-02-19 16:06] morgante commented on #435
Yup looks like we can roll this out for all.

[2020-02-19 16:29] morgante commented on #423
This should (hopefully) be fixed in the latest 7.3.0 release. Can you give it a shot and see if you're still having issues?

[2020-02-19 17:54] Dev25 commented on #425
Speaking of enabling security features by default, Shielded GKE nodes will be enabled as default starting from GKE 1.18 according to Cloud SDK. On beta modules could we also set `enable_shielded_nodes` to true at the same time we roll out the next breaking change/this issue.

[2020-02-19 18:11] morgante commented on #425
Agreed, I think that's a good addition as well.

[2020-02-19 20:38] bharathkkb commented on #425
@Dev25 sg, I will add this as well.

[2020-02-23 15:13] #435 closed

[2020-02-26 10:31] Ps3ud-0nym opened #444 "Error: message=Location "=europe-west2-a" does not exist."
Whenever I create a cluster and subsequently run a gcloud container command, I'm forced to append '--zone="location-name"' or '--location="location-name"

This is the full error I'm getting:

[code]
And here is the same command working with '--zone="location-name"' appended:
[code]

It seems the HTTP request isn't being formatted correctly for some reason. Here's my config below:

main.tf
[code]
v

[2020-02-26 15:40] theobolo commented on #423
@morgante Everything works perfectly now :) Thanks a lot !

[2020-02-26 18:45] morgante commented on #444
This isn't related to the Terraform module and is expected behavior (you need to set `--location` argument on gcloud commands).

[2020-02-26 19:51] #425 closed

[2020-02-28 14:54] endorama opened #446 "null_resource.wait_for_cluster must be replaced"
Hello, I'm facing some incongruence's in my terraform state due to the `wait_for_cluster` `null_resource` in the `private` module of this repo.

The terraform execution plan is:

[code]

I'm using
[code]

I can't understand exactly why such a plan is made.
Any hint or suggestion on how to solve it?
Thanks!

[2020-02-28 17:13] joekhese opened #447 "Cluster creation timing out"
![image](https://user-images.githubusercontent.com/29741210/75569703-a235a000-5a23-11ea-986c-c6cf78f1f9ab.png)

[2020-02-28 21:32] bharathkkb commented on #447
Hi @joekhese
Can you share a minimal version of your tf files so I can try to reproduce?

[2020-03-02 06:37] morgante commented on #446
This is merely a change to the module code (to fix a bug/change in new versions of Terraform).

Applying this plan is effectively a no-op and safe to do.

[2020-03-02 06:37] #446 closed

[2020-03-02 09:43] Ps3ud-0nym commented on #444
Are you sure? In the past when I've created clusters with 'gcloud container clusters create' I don't recall having to append the location when running commands.

[2020-03-02 09:48] endorama commented on #446
Thanks @morgante!

[2020-03-02 09:59] morgante commented on #444
Perhaps the gcloud behavior has changed, but in either case the behavior is unrelated to this module.

[2020-03-02 09:59] #444 closed

[2020-03-04 20:29] rohitgabrieleit commented on #413
Facing the same issue, any thoughts on how to resolve this?

[2020-03-04 20:36] morgante commented on #413
I'm not really sure what could be causing this truthfully. It looks like the script is there, yet it's somehow not being executed?

Could you try directly executing the script (outside Terraform)?

[2020-03-04 21:28] rohitgabrieleit commented on #413
I am using Terraform cloud, so that's not an option

[2020-03-04 21:49] rohitgabrieleit commented on #413
Is this a consequence of
gcloud executable requirement, removal of jq #401 . https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/401

[2020-03-04 22:10] rohitgabrieleit commented on #413
Error: Error running command '.terraform/modules/gke/terraform-google-modules-terraform-google-kubernetes-engine-1d4c858/scripts/wait-for-cluster.sh friendly-path-269502 simple-regional-cluster-pih-sandbox': exit status 127.
Output: Waiting for cluster simple-regional-cluster-pih-sandbox in project friendly-path-269502 to reconcile...

.terraform/modules/gke/terraform-google-modules-terraform-goog

[2020-03-05 16:25] joekhese commented on #447
Hi, i resolved the issue. i just upgraded to the module's latest version and that fixes it.
thanks

[2020-03-05 16:25] #447 closed

[2020-03-07 16:04] jamesthimont commented on #370
@morgante  in `safer-cluster-update-variant/main.tf` the zones entry below is missing
[code]

[2020-03-07 16:09] jamesthimont opened #449 "Safer Cluster Update Variant does not propogate zones"
The gke module is missing the `zones` property
[code]

[2020-03-07 22:00] morgante commented on #449
Indeed it is! We could should certainly add it.

[2020-03-08 16:31] #421 closed

[2020-03-11 02:02] EricHorst commented on #429
Upstream issue has been resolved with 1.11.1: terraform-providers/terraform-provider-kubernetes#759

@morgante Would you consider moving the kubernetes provider version up to ">= 1.11.1"?

In my shop we are locked at kubernetes provider 1.9 due to terraform-providers/terraform-provider-kubernetes/issues/787 which was just fixed in 1.11.1. This means we're also stuck on terraform-google-kubernetes-

[2020-03-11 02:04] morgante commented on #429
I'd be happy to accept/review a PR which increases/changes the provider version constraint assuming tests pass.

[2020-03-11 12:24] Dev25 opened #452 "Add optional firewall support"
Consider adding a opt in method for this module to create common/useful firewalls related to the cluster. I tend to always have to create 2 firewall rules due to running in a slightly more restricted VPC or for certain workloads (Admission Controllers).

### Explict Egress rule for cluster traffic.

GKE already creates a `Ingress` rule for the cluster and then relies on the fact there is a [implic

[2020-03-11 15:43] mouglou commented on #413
I get the same issue... The cluster is good, but the job is marked as "passed with warnings" in my Gitlab CICD. So not really cool ;)

I try few thinkgs but don't find a solution for now

I add an "ls" and try to execute the script manually without success.

[code]

[2020-03-11 19:25] morgante commented on #413
I suspect the issue might be running in an environment where bash is not available. We should change the script to specify `/bin/sh` instead of `/bin/bash`: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/autogen/main/scripts/wait-for-cluster.sh#L1

[2020-03-11 20:12] morgante commented on #452
Your second rule definitely sounds like a good addition (assuming we have variables to control it).

For your first rule, what will break if you *don't* have this rule? Will GKE itself break, or just some applications? I'm reticent to override firewall rules when many organizations have alternative/preferred egress paths.

[2020-03-12 10:54] Dev25 commented on #452
The TF examples above were more or less pulled out of my current usage, for upstreaming it most would be controlled by variables and opt in e.g.

[code]

Regarding 1, my scenario was with a VPC with a `default-deny-all-egress` + allowing common outbound ports (80/443), so its not a completely locked down VPC.

Spinning up a GKE cluster with `enable_intranode_visibility` will break the cluster. I'v

[2020-03-12 21:21] morgante commented on #452
Got it, in that case I think both firewall rules make sense (provided they can be disabled).

[2020-03-15 07:17] bharathkkb opened #454 "GKE Integration tests failing"
GKE Integration tests are failing for the beta-cluster. Looks like a recent API change has added a field `mode` in the json response under` ['nodeConfig']['workloadMetadataConfig']`.

We were testing for object equality in the has `the expected nodeMetadata conseal config` config test for beta-cluster. Although the expected ` "nodeMetadata" => 'EXPOSE'` is present, due to the additional unexpected

[2020-03-16 14:36] mouglou commented on #413
Just to let you know, I try to change my gitlab-runner from "docker" to "shell" and with that, the script is working fine. So maybe the "not found" is coming from the "gcloud" package that is missing in the "terraform:light" docker image.

[2020-03-16 17:53] bharathkkb opened #455 "Add support for autoscaling_profile"
Add support for autoscaling_profile in the cluster_autoscaling block.
https://www.terraform.io/docs/providers/google/r/container_cluster.html#cluster_autoscaling

[2020-03-17 04:10] sebastianortizs4n opened #457 "Add support to mTLS for Istio Auth"
In the google provider there is an option to require mTLS for Istio Auth, seen in the GCP console as `Strict`.

[2020-03-17 15:58] spirrello opened #458 "Error when using default_max_pods_per_node with private-cluster module"
When I use this the default_max_pods_per_node variable I get the following error.  According to [this page](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/private-cluster) it's supported.

**module version:** 7.3.0

**ERROR**
[code]

**Terraform code snippet**
[code]

[2020-03-18 22:29] dborisenko opened #459 "Required 'compute.regions.get' permission error"
Good day,

I'm trying to use `beta-private-cluster` module of version "~> 7.3" to create a cluster in region `europe-west2`. But I keep getting error:
[code]
The weird thing is that I'm trying to do that using user with `Editor` role. So, it should have permission to read region. I tried to add more roles for the user (made it all kind of admins), but the result is still the same.
Could you please

[2020-03-19 02:54] erlchamp commented on #455
will this resolve the `unscheduled pod` errors on GKE?

[2020-03-19 13:33] bharathkkb commented on #458
Hi @spirrello
Looks like we havent cut a new release yet with default_max_pods_per_node in GA modules.

[2020-03-19 13:48] #454 closed

[2020-03-19 18:20] spirrello commented on #458
While I have your attention....do you know when the `beta-private-cluster` module will go GA?  That one actually does work when using the `default_max_pods_per_node` variable.

[2020-03-19 23:35] morgante commented on #459
Could you try authenticating as that Service Account and running `gcloud compute regions list --project=${my-project}`?

[2020-03-20 11:17] dborisenko commented on #459
@morgante I've got this error:
[code]

Thank you for the hint. So, it's service account missing permissions, not my actual user. Could you please recommend which role should I assign to my service account to tackle this issue, but not to give too much permissions?
Is `roles/compute.networkViewer` enough? And by the way, can I find somewhere a list of all recommended roles for such service account

[2020-03-20 13:40] Dev25 commented on #459
Sounds like you are mixing up service accounts between creating and running a cluster @dborisenko

- Cluster service account for _running_: The permissions you listed are fine (logging/monitoring etc) [GKE docs](https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#use_least_privilege_sa) you can alternatively let this module create this service account
- Service account to

[2020-03-20 13:49] dborisenko commented on #459
Thank you, @Dev25. Yes, I'm kind of mixing up everything because I'm stuck.

So, my first attempt was the following:
* My cluster service account (that one which suppose to RUN) has the following roles:
`roles/logging.logWriter`, `roles/monitoring.metricWriter`, `roles/monitoring.viewer`, `roles/storage.objectViewer`
* My provisioner service account (that one which is CREATING) has the following r

[2020-03-20 16:13] morgante commented on #459
I'd start with adding roles until your PROVISIONING SA can execute `gcloud compute regions list --project=${my-project}` successfully.

[2020-03-20 18:18] cloud-rocket commented on #446
Any idea why this is happening and how to fix it?

I have a similar case, when terraform asks to replace the cluster during every execution.
Thanks!

[2020-03-20 18:19] morgante commented on #446
@cloud-rocket Please share your Terraform plan. In this instance, the issue is *not* replacing the cluster just updating a null_resource (which is a safe no-op).

[2020-03-20 18:28] cloud-rocket commented on #446
Sorry, you are actually right - the cluster was replaced for other reasons:
[code]

But it actually reports those 2 errors.